Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: 设置时区后，进入操作历史页再重进个人中心，时区无法再进行选择 # Reviewed, transaction id: 73148
  src/pages/package.json
  src/pages/src/main.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: 修复产品文档、问题反馈跳转失效 (#2339)
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

fix: 设置时区后，进入操作历史页再重进个人中心，时区无法再进行选择 (#2340)
  src/pages/package.json
  src/pages/src/main.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: 多数据源1
  src/pages/src/components/SyncRecords.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/components/layouts/DataSourceCard.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/syncStatus.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 刷新租户列表页出现导航菜单问题 # Reviewed, transaction id: 73187
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

feat(data_source): add multi-datasource support in model level
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
  src/bk-user/bkuser/apps/data_source/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 优化原处理逻辑，不增加意义重复的变量 # Reviewed, transaction id: 73191
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

feat: 去除注释 # Reviewed, transaction id: 73192
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

fix: 刷新租户列表页出现导航菜单问题 (#2341)
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

feat: collaborative user output refactor
  .gitignore
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/mixins.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 添加必要的注释
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 使用 if not qs.exists() 而不是 if not qs
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复 filter_by_phone 之前存在的 bug
  src/bk-user/bkuser/apps/tenant/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feature:升级intl-tel-input到19.0.0版本，解决香港/澳门手机号验证失败问题 (#2338)
  src/pages/.babelrc
  src/pages/build/webpack.base.conf.js
  src/pages/build/webpack.dev.conf.js
  src/pages/build/webpack.prod.conf.js
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/src/views/organization/details/InputPhone.vue
  src/pages/yarn.lock
Due: Name check, IP check

fix: 修复组织架构侧栏高度自动缩起问题 # Reviewed, transaction id: 73468
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复组织架构侧栏高度自动缩起问题 (#2344)
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: 多数据源2 - appStore.currentOrg类型与使用优化
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/fetch/index.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/store/app.ts
  src/pages/src/types/organization.d.ts
  src/pages/src/types/store.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: multi data source support
  .gitignore
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/mixins.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/managers.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/README.md
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/shortcuts.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/bkuser/apps/sync/validators.py
  src/bk-user/bkuser/biz/tenant/__init__.py
  src/bk-user/bkuser/biz/tenant/display_name.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/tests/apis/web/organization/test_tenant.py
  src/bk-user/tests/biz/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: 根据 review 意见修改
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据 review 意见修改
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(data_source): 修改 data-sources/sync-records 支持多数据源展示
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复单测
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 多数据源3 - ts类型优化与appStore变量名称替换
  src/pages/src/app.vue
  src/pages/src/common/inject-keys.ts
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/settingFiles.ts
  src/pages/src/http/types/api.ts
  src/pages/src/http/types/authSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/index.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/http/types/personalCenterFiles.ts
  src/pages/src/http/types/settingFiles.ts
  src/pages/src/http/types/tenantsFiles.ts
  src/pages/src/http/types/virtualAccount.ts
  src/pages/src/store/app.ts
  src/pages/src/store/organization.ts
  src/pages/src/types/store.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/components/view-user.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/tenant/ViewDetails.vue
  src/pages/types/README.md
  src/pages/types/global.d.ts
  src/pages/types/modules.d.ts
  src/pages/types/vendors.d.ts
Due: Name check, IP check

refactor: 优化部分代码
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/data_source/managers.py
  src/bk-user/bkuser/apps/data_source/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复虚拟用户调用的逻辑错误
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tenantDepartmentSearchOutputSLZ 字段调整
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tenantUserHandler.get_login_name 不需要额外的 tenant_id 参数
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 使用 batch_get_login_name 而不是在 SerializerMethodField 中调用 biz 层的方法
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/open_web/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 多数据源4 - data_source字段排查与处理
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/store/organization.ts
  src/pages/src/types/store.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: 使用 username_config 而不是 username_suffix
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复单测问题，重构 _filter_conflict_users 函数逻辑
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: pydantic model is not hashable and fix test
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 补充 _filter_conflict_users 的单测 & 优化 _filter_conflict_users 逻辑
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 重构组织架构Table并按照多数据源逻辑修改
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/store/organization.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: refactor username_suffix -> username_config,支持更多样的冲突处理
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修改用户名前后缀正则
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/biz/validators.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
