Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: add created_at for virtual user
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add created_at for virtual user (#2162)
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/media/excel/export_org_tmpl.xlsx
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/tests/apps/sync/test_converters.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/tests/apps/sync/test_converters.py
  src/bk-user/tests/assets/fake_users.xlsx
  src/bk-user/tests/plugins/local/test_parser.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/my_virtual_user/urls.py
  src/bk-user/bkuser/apis/web/my_virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 虚拟账号联调 # Reviewed, transaction id: 47366
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/src/components/UserSelector.vue
  src/pages/src/hooks/useValidate.ts
  src/pages/src/http/types/virtualAccount.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/ViewDetails.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/src/views/virtual-account/statusTab.vue
Due: Name check, IP check

feat: added support for virtual user display name
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: enable collaboration tenant show # Reviewed, transaction id: 47368
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

feat: added support for virtual user display name
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: login support builtin admin
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: login support builtin admin (#2169)
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/me/__init__.py
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/me/urls.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/permission/permissions.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/tests/apis/web/me/__init__.py
  src/bk-user/tests/apis/web/me/conftest.py
  src/bk-user/tests/apis/web/me/test_me.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(login): bk_token cookie clear not effect when logout
  src/bk-login/Dockerfile
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/Dockerfile
Due: Name check, IP check, mypy, format, ruff

fix(login): bk_token cookie clear not effect when logout (#2170)
  src/bk-login/Dockerfile
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/Dockerfile
Due: Name check, IP check, mypy, format, ruff

feat: added support for virtual user display name (#2167)
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/tenant/migrations/0011_set_email_field_required.py
  src/bk-user/bkuser/plugins/local/parser.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/permission/permissions.py
  src/bk-user/bkuser/biz/virtual_user.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/me/conftest.py
  src/bk-user/tests/apis/web/me/test_me.py
  src/bk-user/tests/apis/web/virtual_user/conftest.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
  src/bk-user/tests/biz/conftest.py
  src/bk-user/tests/biz/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/virtual_user/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: use pydantic to create data model for virtual user
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/virtual_user/__init__.py
  src/bk-user/bkuser/apps/virtual_user/data_models.py
  src/bk-user/bkuser/apps/virtual_user/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 登录 loading 优化 # Reviewed, transaction id: 48206
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: enable collaboration tenant (#2168)
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

feat: 发送验证码后，输入框自动聚焦 (#2166)
  src/pages/src/views/personal-center/EmailVerify.vue
  src/pages/src/views/personal-center/PhoneVerify.vue
  src/pages/src/views/reset-password/phoneForm.vue
Due: Name check, IP check

feat: virtual account (#2165)
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/src/components/UserSelector.vue
  src/pages/src/hooks/useValidate.ts
  src/pages/src/http/types/virtualAccount.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/ViewDetails.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/src/views/virtual-account/statusTab.vue
Due: Name check, IP check

feat: 登录 loading 优化 (#2171)
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: change data model name to DetailedVirtualUser
  src/bk-user/bkuser/apps/virtual_user/data_models.py
  src/bk-user/bkuser/apps/virtual_user/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: change the comment from ToDetailedVirtualUser to DetailedVirtualUser
  src/bk-user/bkuser/apps/virtual_user/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: move some data models & fuctions from apps/virtual_user to biz/virtual_user.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/virtual_user/__init__.py
  src/bk-user/bkuser/apps/virtual_user/data_models.py
  src/bk-user/bkuser/apps/virtual_user/utils.py
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: move to_detailed_virtual_users to VirtualUserHandler
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 删除提前判空行为
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/sync/managers.py
  src/bk-user/bkuser/biz/virtual_user.py
  src/bk-user/tests/apis/web/me/conftest.py
  src/bk-user/tests/apis/web/virtual_user/conftest.py
  src/bk-user/tests/biz/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/bkuser/apps/sync/managers.py
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

docs: fix some typo
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix some typo
  src/bk-user/bkuser/biz/virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api (#2164)
  src/bk-user/bkuser/apis/web/me/__init__.py
  src/bk-user/bkuser/apis/web/me/serializers.py
  src/bk-user/bkuser/apis/web/me/urls.py
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/permission/permissions.py
  src/bk-user/bkuser/biz/virtual_user.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/me/__init__.py
  src/bk-user/tests/apis/web/me/conftest.py
  src/bk-user/tests/apis/web/me/test_me.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
  src/bk-user/tests/biz/conftest.py
  src/bk-user/tests/biz/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
