Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

fix: data source sync shouldn't attach relations if not overwrite
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/tests/apps/sync/test_syncers.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): only support owner tenant user setted manager
  .github/workflows/bk-user.yml
  .pre-commit-config.yaml
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: poetry.lock
  src/bk-user/poetry.lock
Due: none

fix: ruff format
  src/bk-user/bkuser/apps/data_source/initializers.py
  src/bk-user/bkuser/apps/permission/permissions.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: ruff format
  .github/workflows/bk-login.yml
  .pre-commit-config.yaml
  src/bk-login/bklogin/open_apis/compatibility/mixins.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/tests/authentication/test_utils.py
  src/bk-login/tests/utils/test_std_error.py
  src/bk-login/tests/utils/test_url.py
Due: Name check, IP check, format, ruff, mypy

fix: data source sync shouldn't attach relations if not overwrite (#1838)
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/tests/apps/sync/test_syncers.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): only support owner tenant user setted manager (#1839)
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .pre-commit-config.yaml
  src/bk-login/bklogin/open_apis/compatibility/mixins.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/tests/authentication/test_utils.py
  src/bk-login/tests/utils/test_std_error.py
  src/bk-login/tests/utils/test_url.py
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apps/data_source/initializers.py
  src/bk-user/bkuser/apps/permission/permissions.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

bugfix: cve安全漏洞，包版本升级 (#1836)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

feat(open api v2): support virtual user
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/component/http.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): add time zones and languages listing api
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/urls.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, format, ruff, mypy

resolve: updated data format
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, format, ruff, mypy

feat(open api v2): support virtual user (#1840)
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/component/http.py
Due: Name check, IP check, format, ruff, mypy

refactor(timezone): update to include all timezones
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/urls.py
  src/bk-user/bkuser/apis/web/basic/views.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

fix: 修复组织架构模块，搜索框输入内容时，点击分页搜索，页码始终为1的问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复组织架构模块，添加用户时，拉取已有用户的下拉选择框，输入关键字时，未触发查询的问题
  src/pages/src/views/organization/table/PullUser.vue
Due: Name check, IP check

fix: 修复组织架构模块，在搜索组织架构时，输入框输入#符号时，url上的参数，#符号后面的字符都会被去掉的问题
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

resolve: add status change
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

bug_fix:修复组织架构模块的交互问题 (#1842)
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/table/PullUser.vue
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

个人中心支持语言和时区设置 # Reviewed, transaction id: 12343
  src/bk-login/pages/src/views/home.vue
  src/pages/package.json
  src/pages/src/components/passwordInput.vue
  src/pages/src/http/personalCenterFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/utils/index.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

refactor(time zone): update to include all time zones (#1841)
  src/bk-user/bkuser/common/constants.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

refactor(plugins): improve error message clarity
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/plugin.py
Due: Name check, IP check, format, ruff, mypy

resolve: fixed message formatting and styles
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/plugin.py
Due: Name check, IP check, format, ruff, mypy

resolve: fixed message formatting and styles
  src/bk-user/bkuser/plugins/general/http.py
Due: Name check, IP check, format, ruff, mypy

个人中心支持语言和时区设置 (#1843)
  src/bk-login/pages/src/views/home.vue
  src/pages/package.json
  src/pages/src/components/passwordInput.vue
  src/pages/src/http/personalCenterFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/utils/index.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: 导入文件失败，并且失败后点击详情复制提示复制失败 # Reviewed, transaction id: 12459
  src/pages/src/components/organization/mixin.js
  src/pages/src/views/catalog/PageHome.vue
Due: Name check, IP check

fix # Reviewed, transaction id: 12463
  src/pages/src/components/organization/mixin.js
  src/pages/src/views/catalog/PageHome.vue
Due: Name check, IP check

bugfix: 修复忘记密码，用户名爆破安全漏洞
  src/api/bkuser_core/api/web/password/serializers.py
  src/api/bkuser_core/api/web/password/verification_code_handler.py
  src/api/bkuser_core/api/web/password/views.py
  src/pages/src/views/password/Sms.vue
Due: Name check, IP check

版本锁定 # Reviewed, transaction id: 12493
  src/pages/package.json
  src/pages/src/components/organization/mixin.js
Due: Name check, IP check

删除对错误提示的处理 # Reviewed, transaction id: 12494
  src/pages/src/views/catalog/PageHome.vue
Due: Name check, IP check

修改组件库版本
  src/pages/package.json
Due: Name check, IP check

fix: 导入文件失败，并且失败后点击详情复制提示复制失败 (#1847)
  src/pages/package.json
Due: Name check, IP check

fix(log): miss log when log write is file
  src/api/poetry.lock
  src/api/pyproject.toml
  src/bkuser_global/logging.py
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: Name check, IP check

fix(log): miss log when log write is file (#1848)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/bkuser_global/logging.py
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: Name check, IP check

resolve: updated datetime fetching logic
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

resolve: updated datetime fetching logic
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, format, ruff, mypy

resolve: improve error message clarity
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/http.py
Due: Name check, IP check, format, ruff, mypy

resolve: improve error message clarity
  src/bk-user/bkuser/plugins/general/constants.py
Due: Name check, IP check, format, ruff, mypy

fix: 导入文件失败，并且失败后点击详情复制提示复制失败 (#1845)
  src/pages/package.json
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
