Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: support bk token max seesion (#2288)
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/migrations/0002_bktoken_user_id.py
  src/bk-login/bklogin/authentication/models.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feat: add clean_expired_tokens Django command
  src/bk-login/bklogin/authentication/management/__init__.py
  src/bk-login/bklogin/authentication/management/commands/__init__.py
  src/bk-login/bklogin/authentication/management/commands/clean_expired_tokens.py
Due: Name check, IP check, mypy, format, ruff

feat(cleanup_invalid_tokens.py): 重新实现删除无效 Token 的逻辑
  src/bk-login/bklogin/authentication/management/commands/clean_expired_tokens.py
  src/bk-login/bklogin/authentication/management/commands/clean_invalid_tokens.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

fix: fix typo
  src/bk-login/bklogin/authentication/management/commands/clean_invalid_tokens.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

fix: 删除误入的空行
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

fix: 完善一下注释
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

refactor: change clean_invalid_tokens to cleanup_invalid_tokens
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_tokens.py
Due: Name check, IP check, mypy, format, ruff

feat(cleanup_invalid_token.py): cleanup_invalid_token Django command 逻辑重新实现
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

feat: cleanup_invalid_token 的逻辑重新实现
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

refactor(cleanup_invalid_token.py): 将 while True 重构为 For 循环
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

refactor(clean_invalid_token.py): 使用命令行参数而不是 settings.py 中的配置
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

refactor: retention的单位使用 hour 而不是 second
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

fix(cleanup_invalid_tokens.py): 根据 review 意见修改
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

fix: fix typo
  src/bk-login/.cursor/rules/rule0.mdc
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

fix: 删除误入的 cursor rule
  src/bk-login/.cursor/rules/rule0.mdc
Due: Name check, IP check

feat: bk_token inactive update support interval
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feat: bk_token inactive update support interval (#2290)
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feat: add clean_invalid_token django command (#2289)
  src/bk-login/bklogin/authentication/management/__init__.py
  src/bk-login/bklogin/authentication/management/commands/__init__.py
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

fix: cleanup_invalid_token 使用但不指定参数值则参数使用默认值
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

feat: 增加是否开启微信消息推送的开关
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add BK_USER_WEB_APIGW_STAGE conf
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add BK_USER_WEB_APIGW_STAGE conf (#2293)
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据 review 修改代码
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 增加是否开启微信消息推送的开关 (#2292)
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 使用 self.stdout 而不是 logger.info
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

fix: cleanup_invalid_token 使用参数但不指定参数值则参数使用默认值 (#2291)
  src/bk-login/bklogin/authentication/management/commands/cleanup_invalid_token.py
Due: Name check, IP check, mypy, format, ruff

feat(organization): refactor tenant user list filter with field mapping
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据 review 意见修改
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(organization): refactor tenant user list filter with field mapping (#2295)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复个人中心403问题 # Reviewed, transaction id: 67741
  src/pages/src/app.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/router/routes.ts
  src/pages/src/views/NotFound.vue
Due: Name check, IP check

feat: 优化初始化角色判断及路由跳转逻辑 # Reviewed, transaction id: 67773
  src/pages/src/app.vue
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/NotFound.vue
Due: Name check, IP check

fix: 修复个人中心403问题 (#2296)
  src/pages/src/app.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/router/routes.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/NotFound.vue
Due: Name check, IP check

feat: support subpath
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support subpath (#2297)
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 完成组织架构searchSelect改造 # Reviewed, transaction id: 67869
  src/pages/src/hooks/useSearchPlaceholder.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/table-list.vue
  src/pages/tsconfig.json
Due: Name check, IP check

chore: update Dockerfile image to ts4
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
