Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: migrate from poetry to uv
  .pre-commit-config.yaml
  docs/develop_guide.md
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
  src/idp-plugins/uv.lock
Due: Name check, IP check, requirements-export, requirements-dev-export

fix: fix some error
  .pre-commit-config.yaml
  src/bk-login/requirements_dev.txt
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check

feat: added qywx login support for 2.5.x
  src/login/bklogin/config/default.py
  src/login/bklogin/config/prod.py
  src/login/bklogin/ee_official_login/wecom/backends.py
  src/login/bklogin/ee_official_login/wecom/settings.py
  src/login/bklogin/ee_official_login/wecom/settings_login.py
  src/login/bklogin/ee_official_login/wecom/utils.py
  src/login/bklogin/ee_official_login/wecom/views.py
Due: Name check, IP check

fix: fix some error
  .pre-commit-config.yaml
  src/bk-login/pyproject.toml
  src/bk-login/requirements_dev.txt
  src/bk-login/uv.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/uv.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements_dev.txt
  src/idp-plugins/uv.lock
Due: Name check, IP check

fix: fix some error
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
  src/bk-user/uv.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements_dev.txt
  src/idp-plugins/uv.lock
Due: Name check, IP check

fix(.pre-commit-config.yaml): change files from pyproject.toml to uv.lock
  .pre-commit-config.yaml
Due: Name check, IP check

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 将一些静态方法抽离处理，保持单一职责原则
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: 删除发送微信消息接口，用户管理不需要此接口
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/tenant/migrations/0012_alter_tenantuser_time_zone_and_more.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/plugins/general/plugin.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/pyproject.toml
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: remove defusedxml in dependency
  src/bk-user/poetry.lock
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: change get_mp_bind_info to get_weixin_bind_info
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: use defusedxml for protection from XXE attacks
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: use escape to protect any potential XSS payloads
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: urlencode ticket parameter
  src/bk-user/bkuser/biz/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: solve django template injection vulnerability
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/utils.py
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apps/notification/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: remove 0012 migration file in tenant
  src/bk-user/bkuser/apps/tenant/migrations/0012_alter_tenantuser_time_zone_and_more.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: replace django template with safe_django_template_substitute
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复无phoneCountryCode时，修改失败问题 # Reviewed, transaction id: 50027
  src/pages/src/components/phoneInput.vue
Due: Name check, IP check

refactor: replace str.format with safe_str_format
  src/api/bkuser_core/common/safe_template.py
  src/api/bkuser_core/profiles/notifier.py
Due: Name check, IP check

fix: fix typo
  src/api/bkuser_core/profiles/notifier.py
Due: Name check, IP check

fix: fix git config
  src/api/bkuser_core/profiles/notifier.py
Due: Name check, IP check

fix: 修复无phone country code时的修改问题 (#2191)
  src/pages/src/components/phoneInput.vue
Due: Name check, IP check

fix: 修复验收问题 # Reviewed, transaction id: 50060
  src/pages/src/hooks/useValidate.ts
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

fix: virtual account (#2194)
  src/pages/src/hooks/useValidate.ts
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

refactor(utils/text.py): replace django render with safe_str_format
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/utils/text.py
  src/bk-user/tests/utils/test_text.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

test(test_safe_template.py): add missing test_safe_template file
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

ci(.github/workflows): use uv to speed up Github Actions
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
  src/bk-login/pyproject.toml
  src/bk-user/pyproject.toml
  src/idp-plugins/pyproject.toml
Due: Name check

fix: use uv sync command to fix the uv.lock file
  src/bk-login/uv.lock
  src/bk-user/uv.lock
  src/idp-plugins/uv.lock
Due: Name check, IP check

fix: 登录输入框去掉背景色 # Reviewed, transaction id: 50195
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: 登录输入框去掉背景色 (#2195)
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: add batch query user by login_name for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user_by_login_name.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user_by_login_name.md
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: refactor lookup_by_login_name with lookup
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
