Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

resolve: added auto population config and fixed style
  src/bk-user/bin/start.sh
  src/bk-user/bkuser/apps/data_source/translation.py
  src/bk-user/bkuser/apps/idp/migrations/0004_add_translation_values.py
  src/bk-user/bkuser/apps/idp/translation.py
  src/bk-user/bkuser/apps/tenant/translation.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(login): support quick login when idp is unique
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: minor
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: cr
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(login): support quick login when idp is unique (#1861)
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

resolve: fixed comment style and updated translation
  src/bk-user/bkuser/settings.py
  src/bk-user/locale/en_US/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(locale): add translation for internationalization (#1859)
  src/bk-user/bin/start.sh
  src/bk-user/bkuser/apps/data_source/migrations/0004_add_translation_fields.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_add_translation_values.py
  src/bk-user/bkuser/apps/data_source/translation.py
  src/bk-user/bkuser/apps/idp/migrations/0003_add_translation_fields.py
  src/bk-user/bkuser/apps/idp/migrations/0004_add_translation_values.py
  src/bk-user/bkuser/apps/idp/translation.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuser_time_zone.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_add_translation_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_add_translation_values.py
  src/bk-user/bkuser/apps/tenant/translation.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/bkuser/settings.py
  src/bk-user/locale/en_US/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

refactor: merge db migrations
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20240705_1119.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_add_translation_fields.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_add_translation_values.py
  src/bk-user/bkuser/apps/idp/migrations/0001_initial.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/idp/migrations/0003_add_translation_fields.py
  src/bk-user/bkuser/apps/idp/migrations/0004_add_translation_values.py
  src/bk-user/bkuser/apps/natural_user/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0002_tenantsynctask_summary.py
  src/bk-user/bkuser/apps/sync/migrations/0003_auto_20240515_1109.py
  src/bk-user/bkuser/apps/sync/migrations/0004_tenantsynctask_data_source_owner_tenant_id.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_init_builtin_user_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_auto_20240508_0952.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantuseridgenerateconfig.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuser_time_zone.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_add_translation_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_add_translation_values.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: minor
  src/bk-user/Dockerfile
Due: Name check, IP check

refactor: merge db migrations (#1862)
  src/bk-user/Dockerfile
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20240705_1119.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_add_translation_fields.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_add_translation_values.py
  src/bk-user/bkuser/apps/idp/migrations/0001_initial.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/idp/migrations/0003_add_translation_fields.py
  src/bk-user/bkuser/apps/idp/migrations/0004_add_translation_values.py
  src/bk-user/bkuser/apps/natural_user/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0002_tenantsynctask_summary.py
  src/bk-user/bkuser/apps/sync/migrations/0003_auto_20240515_1109.py
  src/bk-user/bkuser/apps/sync/migrations/0004_tenantsynctask_data_source_owner_tenant_id.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_init_builtin_user_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_auto_20240508_0952.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantuseridgenerateconfig.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuser_time_zone.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_add_translation_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_add_translation_values.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: 有效期增加展示逻辑 && 选择租户需求开发 # Reviewed, transaction id: 13904
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/home.vue
  src/pages/src/app.vue
  src/pages/src/css/index.css
  src/pages/src/http/fetch/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/static/images/logo.png
Due: Name check, IP check

fix:修复组织架构模块搜索用户时未传参departments参数的问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat(bk-user): support enable create tenant with env variable
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/index.html
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复显示问题
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

[WIP]feat: 续期增加展示逻辑 && 选择租户需求开发 (#1863)
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/home.vue
  src/pages/src/app.vue
  src/pages/src/css/index.css
  src/pages/src/http/fetch/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/static/images/logo.png
Due: Name check, IP check

feat(locale): add time zone adaptation according to tenant user setting
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/timezone/__init__.py
  src/bk-user/bkuser/apps/timezone/apps.py
  src/bk-user/bkuser/apps/timezone/middleware.py
  src/bk-user/bkuser/apps/timezone/set_timezone.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed html env variable
  src/pages/index.html
Due: Name check, IP check

feat: 支持环境变量开启新建租户功能 # Reviewed, transaction id: 14132
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/src/http/fetch/index.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
  src/pages/src/views/tenant/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

fix: adjusted middleware order
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 隐藏列表选中后收起下拉框&&非本租户成员缺失 # Reviewed, transaction id: 14241
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix(open api v2): jwt decode error
  src/bk-user/bkuser/apis/open_v2/authentications.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): jwt decode error (#1873)
  src/bk-user/bkuser/apis/open_v2/authentications.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style
  src/bk-user/bkuser/apps/timezone/apps.py
  src/bk-user/bkuser/apps/timezone/handlers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(bk-user): support enable create tenant with env variable (#1867)
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/index.html
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 支持环境变量开启新建租户功能 (#1872)
  src/bk-login/pages/src/views/home.vue
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/src/http/fetch/index.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
  src/pages/src/views/tenant/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

fix(open v2 api): some without slash
  src/bk-user/bkuser/apis/open_v2/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open v2 api): some without slash (#1874)
  src/bk-user/bkuser/apis/open_v2/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: compatible BK Language Enum
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/common/constants.py
  src/pages/src/utils/index.ts
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: compatible BK Language Enum (#1875)
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/common/constants.py
  src/pages/src/utils/index.ts
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复显示问题 (#1869)
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

fix: 修复显示问题 (#1870)
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

resolve: process time zone switching logic in middleware
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/timezone/__init__.py
  src/bk-user/bkuser/apps/timezone/apps.py
  src/bk-user/bkuser/apps/timezone/handlers.py
  src/bk-user/bkuser/apps/timezone/middleware.py
  src/bk-user/bkuser/common/middlewares.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fixed unittest case
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fixed unittest case
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
