Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: fix typo
  src/bk-login/Dockerfile
Due: Name check, IP check

feat: 完成组织架构searchSelect改造 (#2298)
  src/pages/src/hooks/useSearchPlaceholder.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/table-list.vue
  src/pages/tsconfig.json
Due: Name check, IP check

fix(open_apis): 内置管理员登录时，用户名无法显示
  src/bk-login/bin/start.sh
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-user/bkuser/common/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: fix typo
  src/bk-login/bin/start.sh
Due: Name check, IP check

fix: fix typo
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/common/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

docs: 添加注释
  src/bk-login/bklogin/open_apis/urls.py
Due: Name check, IP check, mypy, format, ruff

fix: 修复错误逻辑
  src/bk-login/bklogin/open_apis/urls.py
Due: Name check, IP check, mypy, format, ruff

fix: remove Development Tools part
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
Due: Name check, IP check

fix(open_apis): 内置管理员登录时，用户名无法显示 (#2300)
  src/bk-login/bklogin/open_apis/urls.py
Due: Name check, IP check, mypy, format, ruff

chore: update Dockerfile image to ts4 (#2299)
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

optimize: 提取ResponseData
  src/pages/.eslintrc.js
  src/pages/eslint-rules/no-hardcoded-role-values.js
  src/pages/src/common/constant.ts
  src/pages/src/http/api.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/personalCenterFiles.ts
  src/pages/src/http/settingFiles.ts
  src/pages/src/http/types/api.ts
  src/pages/src/http/types/index.ts
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

refactor: 优化角色权限控制，使用路由守卫替代 watch # Reviewed, transaction id: 68364
  src/pages/.eslintrc.js
  src/pages/eslint-rules/no-hardcoded-role-values.js
  src/pages/src/app.vue
  src/pages/src/router/index.ts
  src/pages/src/router/routes.ts
  src/pages/src/store/user.ts
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: add organization_path for TenantUserRetrieveOutputSLZ
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 默认关闭微信消息推送功能
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: v2 open api - profile_id data type modify str to int
  src/bk-user/bkuser/apis/open_v2/serializers/edges.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: v2 open api - profile_id data type modify str to int (#2304)
  src/bk-user/bkuser/apis/open_v2/serializers/edges.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: add email sender validation for local IDP notification templates
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/plugins/local/defaults.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修改报错语句，使其更加通顺
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/idp/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apps/notification/notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open_v3): add full_name field to open_v3 API output
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_leader.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/retrieve_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_leader.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/retrieve_user.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tenant uesr dept org path (#2303)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 专门展示 displayname 的不需要 full_name
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_query_user_display_info.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 使用 pydantic 进行校验而不是在 SLZ 中校验
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/plugins/local/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: use "User's display name" in Description rather than "User's display_name"
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/retrieve_user_display_info.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
Due: Name check, IP check

fix: 使用 pydantic 提供的邮箱校验功能
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/plugins/local/models.py
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open_v3): add full_name field to open_v3 API output (#2306)
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_leader.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/retrieve_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_leader.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/retrieve_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/retrieve_user_display_info.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(open v2 api): query api - avoid subquery sql
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/open_v2/views/edges.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/utils/url.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tiny
  src/bk-user/bkuser/apis/open_v2/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 使用 TypeAdapter 来实现 EmailStr 校验
  src/bk-user/bkuser/plugins/local/models.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: unittest
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/tests/apis/open_v2/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(open v2 api): query api - avoid subquery sql (#2307)
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/open_v2/views/edges.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/utils/url.py
  src/bk-user/tests/apis/open_v2/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
