Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: 批量修改字段下拉框关闭后隐藏 (#2001)
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

feat: 操作类型及操作对象的对应关系 (#1998)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/settingFiles.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/http/types/settingFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

fix: 操作类型展示 # Reviewed, transaction id: 25833
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: isLocalDataSource # Reviewed, transaction id: 25834
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: 操作类型及操作对象的对应关系
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: creator type # Reviewed, transaction id: 25399
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: audit-ui (#2004)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: ldap disabled batch action (#2003)
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: page切换时，不应该同步未查询的参数 # Reviewed, transaction id: 25869
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

refactor: delete handleOperationChange # Reviewed, transaction id: 25874
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: added operation audit for the remaining api (#1996)
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: page切换时，不应该同步未查询的参数 (#2005)
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

style: modify some enum fields in audit
  src/bk-user/bkuser/apps/audit/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

style: modify some enum fields in audit
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

feat: 补充操作类型、对象 # Reviewed, transaction id: 25890
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

feat: 补充操作类型、对象 (#2006)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

style: modify some enum fields in audit (#2007)
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: delete virtual_user type # Reviewed, transaction id: 26068
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

feat: delete virtual_user type (#2008)
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

style: account expiration time # Reviewed, transaction id: 26186
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

style: account expiration time (#2009)
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

fix: 同步过程中禁用同步按钮
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: sync disabled import data
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

feat: ldap collapse data show # Reviewed, transaction id: 26302
  src/pages/src/views/setting/data-source/HttpDetails.vue
Due: Name check, IP check

fix: disable synchronization button in data source synchronization (#2010)
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/HttpDetails.vue
Due: Name check, IP check

feat(bklogin): support tenant api
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/common/error_codes.py
  src/bk-login/bklogin/common/middlewares.py
  src/bk-login/bklogin/common/response.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/open_apis/compatibility/mixins.py
  src/bk-login/bklogin/open_apis/compatibility/views.py
  src/bk-login/bklogin/open_apis/mixins.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/auth/backends.py
  src/bk-user/bkuser/component/login.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

style: minor
  src/bk-login/bklogin/common/middlewares.py
Due: Name check, IP check, mypy, format, ruff

test: login
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/pyproject.toml
  src/bk-login/tests/open_apis/__init__.py
  src/bk-login/tests/open_apis/conftest.py
  src/bk-login/tests/open_apis/test_bk_token.py
Due: Name check, IP check, mypy, format, ruff

fix: minor
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/tests/open_apis/test_bk_token.py
  src/bk-user/bkuser/component/login.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat(bklogin): support tenant api (#2011)
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/common/error_codes.py
  src/bk-login/bklogin/common/middlewares.py
  src/bk-login/bklogin/common/response.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/open_apis/compatibility/mixins.py
  src/bk-login/bklogin/open_apis/compatibility/views.py
  src/bk-login/bklogin/open_apis/mixins.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-login/tests/open_apis/__init__.py
  src/bk-login/tests/open_apis/conftest.py
  src/bk-login/tests/open_apis/test_bk_token.py
  src/bk-user/bkuser/auth/backends.py
  src/bk-user/bkuser/component/login.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: [login api] use apigw sdk
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
Due: Name check, IP check, mypy, requirements-export, requirements-dev-export, format, ruff

fix: minor
  src/bk-login/bklogin/common/middlewares.py
Due: Name check, IP check, mypy, format, ruff

refactor: apigw sdk update
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: [login api] use apigw sdk (#2012)
  src/bk-login/bklogin/common/middlewares.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
Due: Name check, IP check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: update python 3.11 & django 4.2 for project
  src/api/bkuser_core/api/web/export.py
  src/api/bkuser_core/api/web/password/verification_code_handler.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/apis/v2/serializers.py
  src/api/bkuser_core/audit/utils.py
  src/api/bkuser_core/bkiam/exceptions.py
  src/api/bkuser_core/categories/constants.py
  src/api/bkuser_core/categories/plugins/base.py
  src/api/bkuser_core/categories/plugins/constants.py
  src/api/bkuser_core/categories/plugins/custom/helpers.py
  src/api/bkuser_core/categories/plugins/ldap/adaptor.py
  src/api/bkuser_core/categories/plugins/ldap/client.py
  src/api/bkuser_core/categories/plugins/ldap/helper.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
  src/api/bkuser_core/common/db_sync.py
  src/api/bkuser_core/common/error_codes.py
  src/api/bkuser_core/common/notifier.py
  src/api/bkuser_core/departments/cache.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/cache.py
  src/api/bkuser_core/profiles/constants.py
  src/api/bkuser_core/profiles/password.py
  src/api/bkuser_core/profiles/tasks.py
  src/api/bkuser_core/profiles/utils.py
  src/api/bkuser_core/profiles/v2/serializers.py
  src/api/bkuser_core/profiles/validators.py
  src/api/bkuser_core/recycle_bin/signals.py
  src/api/bkuser_core/tests/apis/utils.py
  src/api/bkuser_core/tests/utils.py
  src/login/bklogin/bk_i18n/urls.py
  src/login/bklogin/bk_i18n/views.py
  src/login/bklogin/healthz/views.py
  src/login/bklogin/urls.py
  src/saas/bkuser_shell/account/models.py
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

feat: update python 3.11 & django 4.2 for project
  src/saas/bkuser_shell/account/components/bk_token/middlewares.py
Due: Name check, IP check

feat: update python 3.11 & django 4.2 for project
  src/api/bkuser_core/audit/migrations/0008_alter_login_reason.py
  src/api/bkuser_core/profiles/migrations/0029_alter_profile_time_zone.py
Due: Name check, IP check
