Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

feat(api): retrieve tenant user by id (#2022)
  src/bk-user/bkuser/apis/apigw/__init__.py
  src/bk-user/bkuser/apis/apigw/authentications.py
  src/bk-user/bkuser/apis/apigw/permissions.py
  src/bk-user/bkuser/apis/apigw/urls.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/tests/apis/apigw/__init__.py
  src/bk-user/tests/apis/apigw/conftest.py
  src/bk-user/tests/apis/apigw/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v3): list tenant
  src/bk-user/bkuser/apis/open_v3/__init__.py
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_v3/permissions.py
  src/bk-user/bkuser/apis/open_v3/serializers/__init__.py
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/open_v3/__init__.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: minor
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v3): list tenant (#2023)
  src/bk-user/bkuser/apis/open_v3/__init__.py
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_v3/permissions.py
  src/bk-user/bkuser/apis/open_v3/serializers/__init__.py
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/open_v3/__init__.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: sync apigateway automatically for project
  src/bk-user/Dockerfile
  src/bk-user/bin/post_migrate.sh
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
  src/bk-user/support-files/bin/sync-apigateway.sh
  src/bk-user/support-files/definition.yaml
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/Dockerfile
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-login/support-files/definition.yaml
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
  src/bk-user/support-files/definition.yaml
Due: Name check, IP check

fix: added ordering in user builtin field table
  src/bk-user/bkuser/apps/tenant/migrations/0007_alter_userbuiltinfield_options.py
  src/bk-user/bkuser/apps/tenant/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
Due: Name check, IP check

resolve: solve some problems
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
Due: Name check, IP check

fix: added ordering in user builtin field table (#2025)
  src/bk-user/bkuser/apps/tenant/migrations/0007_alter_userbuiltinfield_options.py
  src/bk-user/bkuser/apps/tenant/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: sync apigateway automatically for bk-user (#2024)
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-user/Dockerfile
  src/bk-user/bin/post_migrate.sh
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
  src/bk-user/support-files/bin/sync-apigateway.sh
  src/bk-user/support-files/definition.yaml
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query display_name by bk_useername
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/list_display_name.md
  src/bk-user/support-files/apidocs/zh/list_display_name.md
  src/bk-user/support-files/resources.yaml
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query display_name by bk_useername
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/support-files/apidocs/en/list_display_name.md
  src/bk-user/support-files/apidocs/zh/list_display_name.md
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query display_name by bk_useername
  src/bk-user/support-files/apidocs/zh/list_display_name.md
Due: Name check, IP check

feat: added query display_name by bk_useername
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query display_name by bk_useername
  src/bk-user/support-files/apidocs/en/list_display_name.md
  src/bk-user/support-files/apidocs/zh/list_display_name.md
Due: Name check, IP check

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/zh/batch_query_user_display_name.md
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added batch query display_name by bk_username (#2026)
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/zh/batch_query_user_display_name.md
  src/bk-user/support-files/resources.yaml
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support inner bearer token and bkuser app_code/app_secret
  src/bk-login/bklogin/common/middlewares.py
  src/bk-login/bklogin/open_apis/mixins.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/auth/backends.py
  src/bk-user/bkuser/component/login.py
  src/bk-user/bkuser/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

fix: minor
  src/bk-login/bklogin/common/middlewares.py
Due: Name check, IP check, mypy, format, ruff

fix: unittest
  src/bk-login/tests/open_apis/conftest.py
Due: Name check, IP check, mypy, format, ruff

docs: minor
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/apidocs/en/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/zh/batch_query_user_display_name.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

test: fix
  src/bk-user/tests/apis/open_v3/test_tenant.py
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Ft login support inner bearer token (#2027)
  src/bk-login/bklogin/common/middlewares.py
  src/bk-login/bklogin/open_apis/mixins.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-login/tests/open_apis/conftest.py
  src/bk-user/bkuser/auth/backends.py
  src/bk-user/bkuser/component/login.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/support-files/apidocs/en/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/zh/batch_query_user_display_name.md
  src/bk-user/tests/apis/open_v3/test_tenant.py
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: added query user information by bk_username
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/apidocs/en/query_user_info.md
  src/bk-user/support-files/apidocs/zh/query_user_info.md
  src/bk-user/support-files/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query user information by bk_username
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query user information by bk_username
  src/bk-user/support-files/resources.yaml
Due: Name check, IP check

feat: support full list tenant api
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: unittest
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support full list tenant api (#2029)
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/apidocs/en/list_tenant.md
  src/bk-user/support-files/apidocs/zh/list_tenant.md
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/apidocs/en/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/en/query_user_info.md
  src/bk-user/support-files/apidocs/en/retrieve_user.md
  src/bk-user/support-files/apidocs/zh/batch_query_user_display_name.md
  src/bk-user/support-files/apidocs/zh/retrieve_user.md
  src/bk-user/support-files/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
