Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

feat: modify phone field not required for local data source
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add delete_tenant django command
  src/bk-user/bkuser/apps/tenant/management/commands/delete_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify phone field not required for local data source (#2163)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/tenant/migrations/0011_set_email_field_required.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/media/excel/export_org_tmpl.xlsx
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/assets/fake_users.xlsx
  src/bk-user/tests/plugins/local/test_parser.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: enable collaboration tenant show # Reviewed, transaction id: 48527
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

fix: enable collaboration tenant (#2173)
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

fix: 验收问题处理 # Reviewed, transaction id: 48661
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 忘记密码页面背景 # Reviewed, transaction id: 48677
  src/pages/index.html
  src/pages/paas-server/index.js
  src/pages/package.json
  src/pages/src/images/footer.png
  src/pages/src/images/left-bottom.png
  src/pages/src/images/qr.png
  src/pages/src/images/right-bottom.png
  src/pages/src/images/right-top.png
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/reset-password/index.vue
  src/pages/static/js/particles.js
Due: Name check, IP check

fix: 验收问题处理 (#2174)
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
  src/pages/index.html
  src/pages/paas-server/index.js
  src/pages/package.json
  src/pages/src/images/footer.png
  src/pages/src/images/left-bottom.png
  src/pages/src/images/qr.png
  src/pages/src/images/right-bottom.png
  src/pages/src/images/right-top.png
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/reset-password/index.vue
  src/pages/static/js/particles.js
Due: Name check, IP check

fix: login language
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/urls.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: tiny
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

Some fix login multi tenant (#2175)
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/urls.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: 验收问题修复 # Reviewed, transaction id: 48767
  src/pages/src/views/reset-password/index.vue
Due: Name check, IP check

fix: login lang
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

fix: login lang (#2176)
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

fix: typo
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: typo (#2177)
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update bk-user APIGateway Pre Grant Permission
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

feat: update bk-user APIGateway Pre Grant Permission (#2178)
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/biz/senders.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/component/apigw.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification by bk-cmsi (#2115)
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/biz/senders.py
  src/bk-user/bkuser/component/apigw.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 将一些静态方法抽离处理，保持单一职责原则
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: 删除发送微信消息接口，用户管理不需要此接口
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: add weixin related api (#2179)
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: 验收问题修复 (#2180)
  src/pages/src/views/reset-password/index.vue
Due: Name check, IP check

fix: 删除 yarn.lock
  src/pages/yarn.lock
Due: Name check, IP check

chore: migrate from poetry to uv
  docs/develop_guide.md
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-login/uv.lock
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/uv.lock
Due: Name check, IP check, requirements-export, requirements-dev-export

fix: fix typo
  docs/develop_guide.md
Due: Name check, IP check

feat: add default ordering by created_by for virtual user list
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 删除 yarn.lock (#2181)
  src/pages/yarn.lock
Due: Name check, IP check

chore: cookie 版本更新
  src/pages/package.json
Due: Name check, IP check

chore: cookie 版本更新 (#2184)
  src/pages/package.json
Due: Name check, IP check

feat: virtual user list sorting (#2183)
  src/bk-user/bkuser/apis/web/me/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 虚拟账号列表新增创建时间 # Reviewed, transaction id: 49540
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feat: 虚拟账号列表增加创建时间列 (#2185)
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feat: added qywx login support for 2.5.x
  src/login/bklogin/config/default.py
  src/login/bklogin/ee_official_login/wecom/__init__.py
  src/login/bklogin/ee_official_login/wecom/backends.py
  src/login/bklogin/ee_official_login/wecom/settings.py
  src/login/bklogin/ee_official_login/wecom/settings_login.py
  src/login/bklogin/ee_official_login/wecom/utils.py
  src/login/bklogin/ee_official_login/wecom/views.py
  src/login/bklogin/templates/login.html
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
