Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: tiny
  src/api/bkuser_core/config/common/storage.py
Due: Name check, IP check

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/biz/senders.py
  src/bk-user/bkuser/component/apigw.py
  src/bk-user/bkuser/component/clients.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/component/clients.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: env set default
  src/api/bkuser_core/config/common/storage.py
  src/bkuser_global/config.py
Due: Name check, IP check

feat: support tls (#2110)
  src/api/bkuser_core/config/common/storage.py
  src/bkuser_global/config.py
Due: Name check, IP check

feat:support tls
  src/api/bkuser_core/config/common/storage.py
  src/bkuser_global/config.py
Due: Name check, IP check

fix:Scheduled task does not take effect
  src/api/bkuser_core/categories/plugins/utils.py
Due: Name check, IP check

feat:update saas dockerfile
  src/saas/Dockerfile
Due: Name check, IP check

fix:修复事务污染导致的同步问题
  src/api/bkuser_core/common/db_sync.py
Due: Name check, IP check

Dev/2.5.3/2.5.3 beta.25 ssl.2 (#2114)
  src/api/bkuser_core/categories/plugins/utils.py
  src/api/bkuser_core/common/db_sync.py
  src/api/bkuser_core/config/common/storage.py
  src/bkuser_global/config.py
  src/saas/Dockerfile
Due: Name check, IP check

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0009_tenantuserdisplaynameexpressionconfig.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/web/tenant_setting/test_display_name_expression.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added custom expression config for display name
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added custom expression config for display name
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/component/apigw.py
  src/bk-user/bkuser/component/clients.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/tests/apis/web/password/test_password.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/helpers.py
  src/bk-user/bkuser/apps/notification/tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apps/sync/tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(settings.py): tls support
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(settings.py): support tls for third-party storage connections (#2106)
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: added specific time config for sync data source
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/data_models.py
  src/bk-user/bkuser/apps/sync/handlers.py
  src/bk-user/tests/apis/open_v2/conftest.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apps/sync/test_handlers.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added specific time config for sync data source
  src/bk-user/bkuser/apis/web/data_source/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query custom enum field for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query custom enum field for openapi
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
Due: Name check, IP check

feat: added query custom enum field for openapi
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_custom_enum_field.md
Due: Name check, IP check

feat: added query custom enum field for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_custom_enum_field.md
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query custom enum field for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query virtual user for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_virtual_user.md
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query virtual user for openapi
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_virtual_user.md
Due: Name check, IP check

feat: added query virtual user for openapi
  src/bk-user/bkuser/apis/open_v3/views/user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query custom enum field for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query virtual user
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query virtual user for OpenAPI (#2118)
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_virtual_user.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_virtual_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_virtual_user.md
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query custom enum field for openapi (#2117)
  src/bk-user/bkuser/apis/open_v3/serializers/tenant.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/tenant.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_custom_enum_field.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/apigw/serializers.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/urls.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/data_models.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0009_tenantuserdisplaynameexpressionconfig.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/apis/web/tenant_setting/conftest.py
  src/bk-user/tests/apis/web/tenant_setting/test_display_name_expression.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
