Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: restore virtual user username uniqueness and inline DataSourceManager
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/data_source/managers.py
  src/bk-user/bkuser/apps/data_source/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: restore virtual user username uniqueness and inline DataSourceManager (#2410)
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/data_source/managers.py
  src/bk-user/bkuser/apps/data_source/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: --bug=160187583 【canway】多租户用户管理/登录插件配置编辑界面无法提交 (#2408)
  src/pages/src/views/setting/auth-config/WeCom.vue
Due: Name check, IP check

1. 修复V2部门接口使用分页参数报错的问题 2. UI个性化适配 3. 登录校验接口逻辑调整
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/apis/v2/serializers.py
  src/api/bkuser_core/config/common/django_basic.py
  src/api/bkuser_core/config/common/system.py
  src/bkuser_global/utils.py
  src/login/bklogin/common/context_processors.py
  src/login/bklogin/common/utils.py
  src/login/bklogin/templates/login.html
  src/pages/index.html
  src/pages/src/Footer.vue
  src/pages/src/Header.vue
  src/pages/src/main.js
  src/saas/bkuser_shell/common/context_processors.py
Due: Name check, IP check

1. 修复V2部门接口使用分页参数报错的问题 2. UI个性化适配 3. 登录校验接口逻辑调整 (#2411)
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/apis/v2/serializers.py
  src/api/bkuser_core/config/common/django_basic.py
  src/api/bkuser_core/config/common/system.py
  src/bkuser_global/utils.py
  src/login/bklogin/common/context_processors.py
  src/login/bklogin/common/utils.py
  src/login/bklogin/templates/login.html
  src/pages/index.html
  src/pages/src/Footer.vue
  src/pages/src/Header.vue
  src/pages/src/main.js
  src/saas/bkuser_shell/common/context_processors.py
Due: Name check, IP check

docs: 补充仓库级 AGENTS 开发规范 --story=136169792
  AGENTS.md
Due: Name check, IP check

docs: 精简 AGENTS 提交规范 --story=136171966
  AGENTS.md
Due: Name check, IP check

docs: 按前端子项目拆分 AGENTS 开发规范 --story=136173553
  AGENTS.md
  src/bk-login/pages/AGENTS.md
  src/pages/AGENTS.md
Due: Name check, IP check

docs: 为两个前端子项目补充 AGENTS 开发规范 (#2413)
  src/bk-login/pages/AGENTS.md
  src/pages/AGENTS.md
Due: Name check, IP check

merge: 前端 ft_tenant 合并 main 分支 (#2416)
  src/pages/package.json
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

fix: 清理 blueking/ft_tenant 中半合并的 open_v2 部门过滤残留
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/tests/apis/open_v2/test_profiles.py
  src/pages/src/http/types/dataSourceFiles.ts
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support multi languages
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-user/Makefile
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v1/serializers.py
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/urls.py
  src/bk-user/bkuser/apis/web/basic/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
  src/bk-user/bkuser/common/language.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: fix bug
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/apis/login/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/urls.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/common/language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

test: add test
  src/bk-user/tests/apis/web/basic/__init__.py
  src/bk-user/tests/apis/web/basic/test_basic.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/common/test_language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/common/language.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v1/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add warning log
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 多语言静态路径替换 & supported_languages 替换为 languages
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: 多语言静态路径替换 & supported_languages 替换为 languages (#2418)
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/types/global.d.ts
Due: Name check, IP check

fix: use ref_name & fix bug
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add essential tests
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix bug
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 去除重复导入的 ConfigPreview
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

fix: 去除重复导入的 ConfigPreview (#2419)
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

fix: 时区选择问题 -bug=161175098
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/personal-center/StableTimezonePicker.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: 前端样式问题处理 # Reviewed, transaction id: 83461
  src/pages/package.json
  src/pages/src/components/SyncRecords.vue
  src/pages/src/hooks/use-table-empty.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

fix: 前端样式问题处理 (#2421)
  src/pages/package.json
  src/pages/src/components/SyncRecords.vue
  src/pages/src/hooks/use-table-empty.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

fix: revert current-user/ api change
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add `language` & `time_zone` to current-user/ api
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 数据源用户名生成配置字段同步
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/components/conflict-config/ConflictConfigDetail.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useConflictRules.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/HttpDetails.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: 数据源冲突配置字段同步 (#2423)
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/components/conflict-config/ConflictConfigDetail.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useConflictRules.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/HttpDetails.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

--bug=160632281 【用户管理】登录设置--账密登录--编辑“密码不允许连续n位出现”，提示可选值范围为0-10，但编辑为1或2时，会提示该值不可小于 3
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/dataSource.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/setting/auth-config/LocalAccount.vue
Due: Name check, IP check

feat: review 问题修复
  src/pages/src/views/setting/auth-config/LocalAccount.vue
Due: Name check, IP check
