Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^(src/pages/|src/bk-login/pages)
      - id: trailing-whitespace
        exclude: ^(src/pages/|src/bk-login/pages)
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info of name
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            src/bk-user/logs|
            src/pages/node_modules/
          )$
      - id: IP check
        name: Check sensitive info of ip
        verbose: true
        language: system
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            \.github/workflows/bk-user.yml|
            \.github/workflows/bk-login.yml|
            \.github/workflows/idp-plugins.yml|
            src/bk-user/logs|src/pages/node_modules/|
            src/bk-login/pages/src/views/components/protocol.vue|
            src/pages/static/bk_icon_font/iconcool.json|
            src/pages/static/bk_icon_font/iconcool.js|
            src/pages/paas-server/index.js|
            src/bk-login/pages/paas-server/index.js
          )$
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-user/pyproject.toml --force-exclude
        files: src/bk-user/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-user/pyproject.toml --force-exclude --fix
        files: src/bk-user/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-user/pyproject.toml
        files: src/bk-user/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-user && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-login/pyproject.toml --force-exclude
        files: src/bk-login/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-login/pyproject.toml --force-exclude --fix
        files: src/bk-login/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-login/pyproject.toml
        files: src/bk-login/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-login && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude
        files: src/bk-plugins/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix
        files: src/idp-plugins/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/idp-plugins/pyproject.toml
        files: src/idp-plugins/

fix: 自定义字段删除枚举值交互优化 (#1530)
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/FieldsAdd.vue
Due: Name check, IP check

fix: 修改密码前获取用户信息 # Reviewed, transaction id: 2106
  src/pages/src/views/password/Modify.vue
Due: Name check, IP check

fix: 修改密码前获取用户信息 (#1537)
  src/pages/src/views/password/Modify.vue
Due: Name check, IP check

fix: 修改密码前获取用户信息 (#1536)
  src/pages/package-lock.json
  src/pages/src/views/password/Modify.vue
Due: Name check, IP check

fix: 修改密码前获取用户信息 (#1535)
  src/pages/package-lock.json
  src/pages/src/views/password/Modify.vue
Due: Name check, IP check

minor: compress migrations
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20231121_1201.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_auto_20231201_1650.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_datasourceuserdeprecatedpasswordrecord.py
  src/bk-user/bkuser/apps/data_source/migrations/0006_alter_datasourcedepartmentrelation_department.py
  src/bk-user/bkuser/apps/idp/migrations/0001_initial.py
  src/bk-user/bkuser/apps/idp/migrations/0003_auto_20231122_1109.py
  src/bk-user/bkuser/apps/natural_user/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_auto_20231129_1118.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_auto_20231219_1536.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_tenantusercustomfield_use_digit_option_id.py
Due: Name check, IP check, format, ruff, mypy

feat(cmd): add register idp plugin
  src/bk-user/bkuser/apps/idp/management/__init__.py
  src/bk-user/bkuser/apps/idp/management/commands/__init__.py
  src/bk-user/bkuser/apps/idp/management/commands/register_idp_plugin.py
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check, format, ruff, mypy

feat(cmd): add register idp plugin (#1540)
  src/bk-user/bkuser/apps/idp/management/__init__.py
  src/bk-user/bkuser/apps/idp/management/commands/__init__.py
  src/bk-user/bkuser/apps/idp/management/commands/register_idp_plugin.py
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check, format, ruff, mypy

feat: desensitize phone and email display in personal center
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/utils/desensitize.py
  src/bk-user/tests/utils/test_desensitize.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1541 conversations
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/common/desensitize.py
  src/bk-user/tests/common/test_desensitize.py
Due: Name check, IP check, format, ruff, mypy

test: fix unittest
  src/bk-user/tests/apis/web/natural_user/test_natural_user.py
Due: Name check, IP check, format, ruff, mypy

fix(idp_plugin): id error when register custom plugin
  src/idp-plugins/idp_plugins/base.py
Due: Name check, IP check, ruff, mypy

fix(idp_plugin): id error when register custom plugin (#1542)
  src/idp-plugins/idp_plugins/base.py
Due: Name check, IP check, ruff, mypy

fix： username输入不保存历史输入
  src/login/bklogin/templates/login.html
Due: Name check, IP check

minor: resolve #1541 conversations
  src/bk-user/bkuser/common/desensitize.py
Due: Name check, IP check, format, ruff, mypy

fix: 修复本地目录偶发性导入异常
  src/api/bkuser_core/common/db_sync.py
Due: Name check, IP check

fix: iam授权用户某种目录的创建权限，但是无法创建目录
  src/saas/bkuser_shell/proxy/proxy.py
Due: Name check, IP check

fix: 直接上级搜索优化 # Reviewed, transaction id: 2185
  src/pages/src/plugins/methods.js
  src/pages/src/views/organization/details/DetailsBar.vue
Due: Name check, IP check

fix: 2.5直接上级搜索优化 # Reviewed, transaction id: 2187
  src/pages/src/views/organization/details/DetailsBar.vue
Due: Name check, IP check

fix: 2.x直接上级搜索优化 # Reviewed, transaction id: 2188
  src/pages/src/views/organization/details/DetailsBar.vue
Due: Name check, IP check

fix：2.5.3 bug遗留 (#1526)
  src/api/bkuser_core/api/web/profile/serializers.py
  src/api/bkuser_core/common/db_sync.py
  src/login/bklogin/templates/login.html
  src/saas/bkuser_shell/proxy/proxy.py
Due: Name check, IP check

feat: add DataSource Status Manage
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/mixins.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/constants.py
  src/bk-user/bkuser/apps/idp/migrations/0004_alter_idp_status.py
  src/bk-user/bkuser/apps/sync/runners.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, format, ruff, mypy

feat: desensitize phone and email display in personal center (#1541)
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/common/desensitize.py
  src/bk-user/tests/apis/web/natural_user/test_natural_user.py
  src/bk-user/tests/common/test_desensitize.py
Due: Name check, IP check, format, ruff, mypy

feat: add password expired & expiring periodic notify tasks (#1531)
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/plugins/local/defaults.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

minor: skip password expire notify
  src/bk-user/bkuser/apps/notification/tasks.py
Due: Name check, IP check, format, ruff, mypy

feat: add tenant status manage
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, format, ruff, mypy

fix：2.5.3 bug遗留 (#1526)
  src/api/bkuser_core/common/db_sync.py
  src/login/bklogin/templates/login.html
  src/saas/bkuser_shell/proxy/proxy.py
Due: Name check, IP check

test: fix unittest
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_auto_20240125_1001.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, format, ruff, mypy

test: fix unittest
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/apis/web/tenant/__init__.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: add migrations
  src/bk-user/bkuser/apps/tenant/migrations/0009_auto_20240125_1043.py
Due: Name check, IP check, format, ruff, mypy

feat: check tenant and data source status when sync
  src/bk-user/bkuser/apps/sync/runners.py
Due: Name check, IP check, format, ruff, mypy

feat: add idp switch status api
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/urls.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/idp/constants.py
  src/bk-user/bkuser/apps/idp/migrations/0004_alter_idp_status.py
  src/bk-user/bkuser/apps/tenant/models.py
Due: Name check, IP check, format, ruff, mypy

minor: compress migrations
  src/bk-user/bkuser/apps/tenant/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_auto_20240125_1523.py
  src/bk-user/bkuser/apps/tenant/migrations/0009_auto_20240125_1043.py
Due: Name check, IP check, format, ruff, mypy

fix：pick 2.5.3 bug fix (#1552)
  src/api/bkuser_core/common/db_sync.py
  src/login/bklogin/templates/login.html
  src/saas/bkuser_shell/proxy/proxy.py
Due: Name check, IP check

fix：pick 2.5.3 bug fix (#1551)
  src/api/bkuser_core/common/db_sync.py
  src/login/bklogin/templates/login.html
  src/saas/bkuser_shell/proxy/proxy.py
Due: Name check, IP check
