Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: unchange 改为 unchanged
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/components/conflict-config/ConflictConfigDetail.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useConflictRules.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/HttpDetails.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: unchange 改为 unchanged (#2425)
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/components/conflict-config/ConflictConfigDetail.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useConflictRules.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/HttpDetails.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

fix: --bug=160632281 【用户管理】登录设置--账密登录--编辑“密码不允许连续n位出现”，提示可选值范围为0-10，但编辑为1或… (#2424)
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/dataSource.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/setting/auth-config/LocalAccount.vue
Due: Name check, IP check

fix(idp): ajust indexes in migration 0003_idp_data_source_relation
  src/bk-user/bkuser/apps/idp/migrations/0003_idp_data_source_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

docs: add Harness Engineering specs for AI agent runtime
  AGENTS.md
  docs/glossary.md
  docs/harness/README.md
  docs/harness/architectural-constraints.md
  docs/harness/context-engineering.md
  docs/harness/entropy-management.md
  docs/harness/execution-verification.md
  docs/harness/tooling.md
  docs/standards/README.md
  docs/standards/api-django-drf.md
  docs/standards/backend-django.md
  docs/standards/frontend-vue3.md
  docs/standards/quality-code-review.md
  docs/standards/security-bk-redlines.md
  docs/workflow.md
Due: Name check, IP check

feat: support muliti data sources
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
  src/bk-user/bkuser/apis/web/organization/serializers/relations.py
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/mixins.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/virtual_user/mixins.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_datasource_name.py
  src/bk-user/bkuser/apps/data_source/migrations/__init__.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/managers.py
  src/bk-user/bkuser/apps/sync/migrations/0002_sync_task_data_source_name.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/idp_data_source.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/apis/web/organization/test_data_source_filter.py
  src/bk-user/tests/apis/web/organization/test_department.py
  src/bk-user/tests/apis/web/organization/test_relation.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/tests/apis/web/data_source/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 支持多数据源
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/idp_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 本地认证源相关接口修复
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/idp_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: revert `download_template/` api
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/data_source/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: --story=136363783 【多数据源扩展】支持不限数量的数据源实例及组织、登录联动
  src/pages/src/components/SyncRecords.vue
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/hooks/useDataSourceSetting.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/authSourceFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/store/dataSource.ts
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/auth-config/LocalAccount.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
  src/pages/src/views/setting/data-source/LocalConfig.vue
Due: Name check, IP check

feat: 数据源基于 data_source_id 同步
  src/pages/src/hooks/useDataSourceSetting.ts
  src/pages/src/http/fetch/index.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/store/dataSource.ts
  src/pages/src/views/organization/components/edit-detail.vue
Due: Name check, IP check

fix: review问题修复
  src/pages/src/components/SyncRecords.vue
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/store/dataSource.ts
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/setting/auth-config/EffectiveScopeEditor.vue
  src/pages/src/views/setting/auth-config/LocalView.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: 本地数据源支持修该名称
  src/pages/src/hooks/useDataSourceSetting.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/ConfigSuccess.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
  src/pages/src/views/setting/data-source/LocalConfig.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

fix: review问题修复
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useDataSourceSetting.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/ConfigSuccess.vue
  src/pages/src/views/setting/data-source/LocalConfig.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

fix: fix TenantDepartmentListCreateApi desc
  src/bk-user/bkuser/apis/web/organization/views/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix `LocalIdpUpdateInputSLZ`
  src/bk-user/bkuser/apis/web/idp/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复切换时区后 导航内时区信息不自动同步 # Reviewed, transaction id: 83939
  src/pages/bk.config.js
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: 修复切换时区后 导航内时区信息不自动同步 (#2431)
  src/pages/bk.config.js
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: fix bug
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/basic/views.py
  src/bk-user/bkuser/common/language.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: 调整获取支持的语言接口路径 --story=136920208 【前端】获取支持的语言接口路径变更 # Reviewed, transaction id: 84005
  src/pages/src/http/api.ts
Due: Name check, IP check

fix: fix version_Log
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/tests/apis/web/version_log/test_version_log.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 调整获取支持的语言接口路径 --story=136920208 【前端】获取支持的语言接口路径变更 (#2432)
  src/pages/src/http/api.ts
Due: Name check, IP check

fix: fix VERSION_LOG_FILES_DIR
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support multi languages
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-user/Makefile
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v1/serializers.py
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
  src/bk-user/bkuser/common/language.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/apis/web/basic/__init__.py
  src/bk-user/tests/apis/web/basic/test_basic.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/apis/web/version_log/test_version_log.py
  src/bk-user/tests/common/test_language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: add type annotation
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open_web): add `ancestor_ids` to department APIs
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/tests/biz/test_organization.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/biz/organization.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 【多数据源扩展】本地数据源详情查看与密码规则联动完善 --story=138165085 # Reviewed, transaction id: 85730
  src/pages/src/components/conflict-config/ConflictConfig.vue
  src/pages/src/components/import-dialog/ExcelUpload.vue
  src/pages/src/components/notify-editor/NotifyEditorTemplate.vue
  src/pages/src/hooks/useInfoBoxContent.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/authSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/auth-config/EffectiveScopeEditor.vue
  src/pages/src/views/setting/auth-config/Local.less
  src/pages/src/views/setting/auth-config/LocalAccount.vue
  src/pages/src/views/setting/auth-config/LocalView.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/HttpConfig.vue
  src/pages/src/views/setting/data-source/LdapConfig.vue
  src/pages/src/views/setting/data-source/LocalConfig.vue
  src/pages/src/views/setting/data-source/LocalDetails.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

refactor: 抽取系统数据源默认名称为常量
  src/bk-user/bkuser/apis/web/virtual_user/mixins.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/tenant/management/commands/virtual_user.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 快速录入预览接口需要校验 `data_source_id`
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open_web): support excluding orgs and users from query APIs
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/open_web/test_department.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/biz/test_organization.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/open_web/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
