Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^(src/pages/|src/bk-login/pages)
      - id: trailing-whitespace
        exclude: ^(src/pages/|src/bk-login/pages)
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info of name
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            src/bk-user/logs|
            src/pages/node_modules/
          )$
      - id: IP check
        name: Check sensitive info of ip
        verbose: true
        language: system
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            \.github/workflows/bk-user.yml|
            \.github/workflows/bk-login.yml|
            \.github/workflows/idp-plugins.yml|
            src/bk-user/logs|src/pages/node_modules/|
            src/bk-login/pages/src/views/components/protocol.vue|
            src/pages/static/bk_icon_font/iconcool.json|
            src/pages/static/bk_icon_font/iconcool.js|
            src/pages/paas-server/index.js|
            src/bk-login/pages/paas-server/index.js
          )$
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-user/pyproject.toml --force-exclude
        files: src/bk-user/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-user/pyproject.toml --force-exclude --fix
        files: src/bk-user/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-user/pyproject.toml
        files: src/bk-user/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-user && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-login/pyproject.toml --force-exclude
        files: src/bk-login/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-login/pyproject.toml --force-exclude --fix
        files: src/bk-login/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-login/pyproject.toml
        files: src/bk-login/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-login && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude
        files: src/bk-plugins/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix
        files: src/idp-plugins/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/idp-plugins/pyproject.toml
        files: src/idp-plugins/

fix(tenant & user): add logo format enforcement at submission
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

refactor: cr调整
  src/api/bkuser_core/api/web/password/views.py
Due: Name check, IP check

fix: enforce logo format at submission
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

docs(guide): updated development guide style
  docs/develop_guide.md
  pyproject.toml
Due: Name check, IP check

fix: enforce logo format at submission
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

验收问题修复 # Reviewed, transaction id: 11186
  src/pages/src/css/index.css
  src/pages/src/main.ts
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix：parse_username_domain 解析异常，报错信息泄漏，泄漏代码绝对路径 (#1821)
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/api/web/profile/views.py
Due: Name check, IP check

docs(guide): add development guide
  docs/develop_guide.md
  pyproject.toml
Due: Name check, IP check

验收问题修复 (#1826)
  src/pages/src/css/index.css
  src/pages/src/main.ts
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: enforce logo format at submission
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/biz/test_validators.py
Due: Name check, IP check, format, ruff, mypy

docs(guide): add development guide (#1819)
  docs/develop_guide.md
Due: Name check, IP check

fix: enforce logo format at submission (#1825)
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/biz/test_validators.py
Due: Name check, IP check, format, ruff, mypy

优化点击校验逻辑 # Reviewed, transaction id: 11298
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

优化点击校验逻辑 (#1827)
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat: add TenantUserIDGenerateConfig
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20240705_1119.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/migrations/0005_tenantuseridgenerateconfig.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/sync/utils.py
  src/bk-user/tests/apps/sync/test_syncers.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): display version info in console
  src/bk-user/Dockerfile
  src/bk-user/bkuser/common/views.py
  src/pages/index.html
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): display version info in console
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1828 conversations
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/migrations/0005_tenantuseridgenerateconfig.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/tests/apps/sync/test_syncers.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1828 conversations
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantuseridgenerateconfig.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): display version info in console (#1829)
  src/bk-user/Dockerfile
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/index.html
Due: Name check, IP check, format, ruff, mypy

feat: add TenantUserIDGenerateConfig (#1828)
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20240705_1119.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantuseridgenerateconfig.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/tests/apps/sync/test_syncers.py
Due: Name check, IP check, format, ruff, mypy

feat(login): support bk_notice
  src/bk-login/bin/start.sh
  src/bk-login/bklogin/common/context_processors.py
  src/bk-login/bklogin/settings.py
  src/bk-login/bklogin/urls.py
  src/bk-login/pages/index.html
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bin/start.sh
  src/bk-user/bin/start_celery.sh
  src/bk-user/bin/start_celery_beat.sh
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/index.html
Due: Name check, IP check, format, ruff, mypy

feat(login): support bk_notice (#1830)
  src/bk-login/bin/start.sh
  src/bk-login/bklogin/common/context_processors.py
  src/bk-login/bklogin/settings.py
  src/bk-login/bklogin/urls.py
  src/bk-login/pages/index.html
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bin/start.sh
  src/bk-user/bin/start_celery.sh
  src/bk-user/bin/start_celery_beat.sh
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/pages/index.html
Due: Name check, IP check, format, ruff, mypy

fix(pkg): poetry dependency pkg lose
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: none

fix(pkg): poetry dependency pkg lose (#1831)
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: none

feat: 全局配置title/footer/logo/favicon/ # Reviewed, transaction id: 11623
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/store/platformConfig.ts
  src/bk-login/pages/src/views/home.vue
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/src/store/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

fix # Reviewed, transaction id: 11625
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: upgrade dep pkg which has CVE (#1638)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

fix: blue-krill update to 1.2.7 (#1646)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bk-user): enable language and time zone setting
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

resolve: fixed test and import style
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, format, ruff, mypy

feat: 全局配置title/footer/logo/favicon/ (#1833)
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/store/platformConfig.ts
  src/bk-login/pages/src/views/home.vue
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/src/store/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

resolve: fixed logo test style
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/biz/test_validators.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): enable language and time zone setting (#1834)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/biz/test_validators.py
Due: Name check, IP check, format, ruff, mypy

修改变量的判断条件 # Reviewed, transaction id: 11766
  src/pages/src/views/Header.vue
Due: Name check, IP check

修改变量的判断条件 (#1835)
  src/pages/src/views/Header.vue
Due: Name check, IP check

bugfix: cve安全漏洞，包版本升级
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

bugfix: update urllib3==1.26.18
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

feat(bk-user): enable expiration date setting in organization
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

resolve: fix style and data fetching
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy
