Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, isort, black, flake8, mypy

Name check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

isort:
  name: isort
  language: python
  pass_filenames: false
  entry: isort --settings-path=pyproject.toml src

black:
  name: black
  language: python
  pass_filenames: false
  entry: black --config=pyproject.toml src

flake8:
  name: flak8
  language: python
  pass_filenames: false
  entry: pflake8 --config=pyproject.toml src

mypy:
  name: mypy
  language: python
  pass_filenames: false
  entry: mypy src/ --config-file=pyproject.toml

feat(tenant_organization): 租户列表展示/单个详情/编辑 (#1169)
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: add password validator and generator utils
  src/bk-user/bkuser/utils/passwd/__init__.py
  src/bk-user/bkuser/utils/passwd/constants.py
  src/bk-user/bkuser/utils/passwd/exceptions.py
  src/bk-user/bkuser/utils/passwd/generator.py
  src/bk-user/bkuser/utils/passwd/models.py
  src/bk-user/bkuser/utils/passwd/validator.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/tests/utils/passwd/__init__.py
  src/bk-user/tests/utils/passwd/conftest.py
  src/bk-user/tests/utils/passwd/test_generator.py
  src/bk-user/tests/utils/passwd/test_rules.py
  src/bk-user/tests/utils/passwd/test_validator.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: update comments and tips
  src/bk-user/bkuser/utils/passwd/models.py
  src/bk-user/bkuser/utils/passwd/validator.py
  src/bk-user/tests/utils/passwd/test_validator.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: list data source leaders and departments #1188
  src/bk-user/bkuser/apis/web/data_source/__init__.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

code conflict 解决
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: list data_source users #1159
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/urls.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: create data_source user #1154
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/validators.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: list data source users #1159 (#1170)
  src/bk-user/bkuser/apis/web/data_source/__init__.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 联调测试修复
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: resolve #1187 conversations
  src/bk-user/bkuser/common/passwd/__init__.py
  src/bk-user/bkuser/common/passwd/constants.py
  src/bk-user/bkuser/common/passwd/exceptions.py
  src/bk-user/bkuser/common/passwd/generator.py
  src/bk-user/bkuser/common/passwd/models.py
  src/bk-user/bkuser/common/passwd/validator.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/common/__init__.py
  src/bk-user/tests/common/passwd/__init__.py
  src/bk-user/tests/common/passwd/conftest.py
  src/bk-user/tests/common/passwd/test_generator.py
  src/bk-user/tests/common/passwd/test_rules.py
  src/bk-user/tests/common/passwd/test_validator.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: resolve #1187 conversations
  src/bk-user/bkuser/common/passwd/generator.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: 联调测试修复 (#1190)
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: add password validator and generator utils (#1187)
  src/bk-user/bkuser/common/passwd/__init__.py
  src/bk-user/bkuser/common/passwd/constants.py
  src/bk-user/bkuser/common/passwd/exceptions.py
  src/bk-user/bkuser/common/passwd/generator.py
  src/bk-user/bkuser/common/passwd/models.py
  src/bk-user/bkuser/common/passwd/validator.py
  src/bk-user/bkuser/settings.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/tests/common/__init__.py
  src/bk-user/tests/common/passwd/__init__.py
  src/bk-user/tests/common/passwd/conftest.py
  src/bk-user/tests/common/passwd/test_generator.py
  src/bk-user/tests/common/passwd/test_rules.py
  src/bk-user/tests/common/passwd/test_validator.py
  src/bk-user/tests/utils/passwd/__init__.py
Due: Name check, IP check, isort, black, flake8, mypy

cr 调整
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(organization): 查询租户部门下租户用户列表/租户用户详情 (#1176)
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 账号设置静态页面 feat: 新建数据源用户表单验证 fix: 代码优化
  src/pages/src/components/Empty.vue
  src/pages/src/components/layouts/MainView.vue
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/router/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/audit/index.vue
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/PswInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/ViewUser.vue
  src/pages/src/views/data-source/new-data/NewLocalData.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditUser.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/group-details/MemberSelector.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/ViewDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat: 账号设置静态页面 (#1184)
  src/pages/src/components/Empty.vue
  src/pages/src/components/layouts/MainView.vue
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/router/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/audit/index.vue
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/PswInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/ViewUser.vue
  src/pages/src/views/data-source/new-data/NewLocalData.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditUser.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/group-details/MemberSelector.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/ViewDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat: create data_source user #1154
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: create data_source user #1154
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, isort, black, flake8, mypy

feat: create data source user (#1167)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/validators.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, isort, black, flake8, mypy

feat: list data source leaders and departments #1188
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: list data source leaders and departments #1188 (#1189)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 校验代码优化
  src/pages/bk.config.js
  src/pages/src/common/regex.ts
  src/pages/src/hooks/use-validate.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/tenant/group-details/MemberSelector.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: 校验代码优化
  src/pages/src/common/regex.ts
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
Due: Name check, IP check

feat: add data source sync base framework
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20230825_1735.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/data_source/plugins/README.md
  src/bk-user/bkuser/apps/data_source/plugins/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/base.py
  src/bk-user/bkuser/apps/data_source/plugins/general/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/local/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/local/constants.py
  src/bk-user/bkuser/apps/data_source/plugins/local/models.py
  src/bk-user/bkuser/apps/data_source/plugins/local/parser.py
  src/bk-user/bkuser/apps/data_source/plugins/local/plugin.py
  src/bk-user/bkuser/apps/data_source/plugins/models.py
  src/bk-user/bkuser/apps/sync/__init__.py
  src/bk-user/bkuser/apps/sync/apps.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/__init__.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/apps/sync/pollers.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/tests/utils/test_std_error.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: add stringify_pydantic_error util
  src/bk-user/bkuser/common/passwd/__init__.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/tests/common/passwd/test_generator.py
  src/bk-user/tests/utils/passwd/__init__.py
  src/bk-user/tests/utils/test_std_error.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: resolve #1192 conversations
  src/bk-user/bkuser/utils/pydantic.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/tests/utils/test_pydantic.py
  src/bk-user/tests/utils/test_std_error.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: update poetry.lock
  src/bk-user/poetry.lock
Due: Name check

feat: 校验代码优化 (#1191)
  src/pages/bk.config.js
  src/pages/src/common/regex.ts
  src/pages/src/hooks/use-validate.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/tenant/group-details/MemberSelector.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: add stringify_pydantic_error util (#1192)
  src/bk-user/bkuser/common/passwd/__init__.py
  src/bk-user/bkuser/utils/pydantic.py
  src/bk-user/poetry.lock
  src/bk-user/tests/common/passwd/test_generator.py
  src/bk-user/tests/utils/test_pydantic.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(organization): 新增租户下用户列表接口
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 组织架构模块联调
  src/pages/src/css/index.css
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/tenantsFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/http/types/tenantsFiles.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/details/EditUser.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree.less
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
Due: Name check, IP check

feat: 组织架构模块联调 (#1198)
  src/pages/src/css/index.css
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/tenantsFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/http/types/tenantsFiles.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/details/EditUser.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree.less
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
Due: Name check, IP check

minor: resolve #1193 conversations
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/data_models.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/data_source/plugins/local/constants.py
  src/bk-user/bkuser/apps/data_source/plugins/local/models.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/tests/utils/test_std_error.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: resolve #1193 conversations
  src/bk-user/bkuser/apps/data_source/plugins/local/models.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/utils/std_error.py
Due: Name check, IP check, isort, black, flake8, mypy

minor: resolve #1193 conversations
  src/bk-user/bkuser/apps/data_source/plugins/local/constants.py
  src/bk-user/bkuser/apps/data_source/plugins/local/models.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/models.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: add data source sync base framework (#1193)
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/data_models.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20230825_1735.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/data_source/plugins/README.md
  src/bk-user/bkuser/apps/data_source/plugins/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/base.py
  src/bk-user/bkuser/apps/data_source/plugins/general/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/local/__init__.py
  src/bk-user/bkuser/apps/data_source/plugins/local/constants.py
  src/bk-user/bkuser/apps/data_source/plugins/local/models.py
  src/bk-user/bkuser/apps/data_source/plugins/local/parser.py
  src/bk-user/bkuser/apps/data_source/plugins/local/plugin.py
  src/bk-user/bkuser/apps/data_source/plugins/models.py
  src/bk-user/bkuser/apps/sync/__init__.py
  src/bk-user/bkuser/apps/sync/apps.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/__init__.py
  src/bk-user/bkuser/apps/sync/models.py
  src/bk-user/bkuser/apps/sync/pollers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: add import lint check
  .pre-commit-config.yaml
  src/bk-user/bkuser/plugins/__init__.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, isort, black, flake8, mypy

feat: add import lint check (#1199)
  .pre-commit-config.yaml
  src/bk-user/bkuser/plugins/__init__.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, isort, black, flake8, mypy

feat: update data_source user and show detail# 1160
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

Path conditions:
  Name check: any file but: (?x)^(
  | src/pages/node_modules/*
)$

  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt)|src/pages/node_modules/|src/login/locale/|src/login/bklogin/templates/agreement.html
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
