Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

build(pyproject.toml): downgrade the otel version
  src/bk-login/pyproject.toml
  src/bk-login/uv.lock
  src/bk-user/bkuser/settings.py
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(otel.py): refactor LazyBatchSpanProcessor to use compositon for lazy init
  src/bk-login/bklogin/monitoring/tracing/otel.py
  src/bk-login/pyproject.toml
  src/bk-login/uv.lock
  src/bk-user/bkuser/monitoring/tracing/otel.py
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: init system tenant of builtin manager
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: dept profiles remove sensitive field info
  src/api/bkuser_core/departments/v2/views.py
  src/api/bkuser_core/profiles/notifier.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

fix: dept profiles remove sensitive field info (#2206)
  src/api/bkuser_core/departments/v2/views.py
  src/api/bkuser_core/profiles/notifier.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

feat: update base image from buster to bullseye
  src/api/Dockerfile
  src/login/Dockerfile
  src/saas/Dockerfile
Due: Name check, IP check

feat: update base image from buster to bullseye (#2207)
  src/api/Dockerfile
  src/login/Dockerfile
  src/saas/Dockerfile
Due: Name check, IP check

fix: safe string template re compatibility error
  src/api/bkuser_core/common/safe_template.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

fix: safe string template re compatibility error (#2208)
  src/api/bkuser_core/common/safe_template.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

fix: get_bk_app_code_from_jwt when remove_sensitive_fields
  src/api/bkuser_core/profiles/utils.py
Due: Name check, IP check

fix: get_bk_app_code_from_jwt when remove_sensitive_fields (#2209)
  src/api/bkuser_core/profiles/utils.py
Due: Name check, IP check

feat: 去除快速录入placeholder 手机号提示 # Reviewed, transaction id: 52270
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/fast-input-dialog.vue
Due: Name check, IP check

feat: 通用http数据源认证方式增加蓝鲸网关 # Reviewed, transaction id: 52306
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/HttpConfig.vue
Due: Name check, IP check

feature:1.werkzeug组件升级,future组件废弃
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

feature:1.哨兵适配
  src/api/bkuser_core/celery.py
  src/api/bkuser_core/config/common/storage.py
Due: Name check, IP check

feat: support semicolon in batch create tenant user
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: change bk-cmsi to bk_cmsi
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

fix: add BK_APP_TENANT_ID env param
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: 微信绑定审计添加额外信息
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/weixin/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: httpConfig method字段变更 # Reviewed, transaction id: 52821
  src/pages/src/views/setting/data-source/HttpConfig.vue
Due: Name check, IP check

fix: 【用户管理+多租户】登录回车存在异常情况 # Reviewed, transaction id: 52851
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: added audit log for open web api
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/middlewares.py
  src/bk-user/bkuser/apps/audit/throttlings.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit log for open web api
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/audit/throttle.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit log for open web api
  src/bk-user/bkuser/apps/audit/middlewares.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit log for open web api
  src/bk-user/bkuser/apps/audit/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 优化个人中心代码结构 & 优化ts类型 # Reviewed, transaction id: 53743
  src/pages/src/components/InfoCard.vue
  src/pages/src/hooks/useCustomFields.ts
  src/pages/src/http/personalCenterFiles.ts
  src/pages/src/http/types/personalCenterFiles.ts
  src/pages/src/views/personal-center/AsideList.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/personal-center/openDialogType.ts
Due: Name check, IP check

fix: init tenant support repeat exec
  src/bk-user/bkuser/apps/tenant/management/commands/init_default_tenant.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/biz/test_tenant.py
  src/pages/src/hooks/useValidate.ts
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: create tenant idp error
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: create tenant idp error (#2224)
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: run uv sync
  src/bk-user/uv.lock
Due: Name check, IP check

feat: 个人中心增加用户ID展示 # Reviewed, transaction id: 53836
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: show user id (#2225)
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: added time range for operation audit
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added time range for operation audit
  src/bk-user/bkuser/apis/web/audit/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added time range for operation audit (#2227)
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 操作历史 操作时间改为日期范围筛选 # Reviewed, transaction id: 54143
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: 操作历史 操作时间改为日期范围筛选 (#2228)
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: 操作历史查询清理操作时间参数 # Reviewed, transaction id: 54167
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: time params clear (#2229)
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: added audit log for open web api
  src/bk-user/bkuser/apis/open_web/constants.py
  src/bk-user/bkuser/apis/open_web/middlewares.py
  src/bk-user/bkuser/apis/open_web/throttle.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/middlewares.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
