Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

feat: 目前不支持二进制数据，直接忽略
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/tests/plugins/ldap/test_models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/tests/plugins/ldap/test_models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 增加对list中出现二进制数据的处理
  src/bk-user/bkuser/plugins/ldap/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/plugins/ldap/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(plugins/ldap): ldap not suppport mad (#2380)
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/tests/plugins/ldap/test_models.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: ldap支持uuid
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: ldap支持uuid (#2381)
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: ldap uuid选择组件改为select
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: 锁定vue版本
  src/pages/package.json
Due: Name check, IP check

feat: 锁定vue版本 (#2383)
  src/pages/package.json
Due: Name check, IP check

style: uuid文案调整
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: ldap uuid选择组件改为select (#2382)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

fix: replace hardcoded secrets with env-configurable values
  src/api/bkuser_core/config/common/django_basic.py
  src/api/bkuser_core/config/common/platform.py
  src/build/api/support-files/templates/api#bkuser_core#config#overlays#prod.py
  src/login/bklogin/config/default.py
  src/saas/bkuser_shell/config/common/django_basic.py
Due: Name check, IP check

fix: replace hardcoded secrets with env-configurable values (#2385)
  src/api/bkuser_core/config/common/django_basic.py
  src/api/bkuser_core/config/common/platform.py
  src/build/api/support-files/templates/api#bkuser_core#config#overlays#prod.py
  src/login/bklogin/config/default.py
  src/saas/bkuser_shell/config/common/django_basic.py
Due: Name check, IP check

fix: tiny bug
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/departments/v2/views.py
  src/api/bkuser_core/tests/apis/v2/departments/test_departments.py
Due: Name check, IP check

fix: tiny bug (#2386)
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/departments/v2/views.py
  src/api/bkuser_core/tests/apis/v2/departments/test_departments.py
Due: Name check, IP check

fix: update django
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

fix: update django (#2387)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

fix(department): reject duplicate sibling names when renaming
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/tests/apis/v2/departments/test_departments.py
Due: Name check, IP check

fix(sync): read fresh MySQL auto increment metadata
  src/api/bkuser_core/common/db_sync.py
Due: Name check, IP check

fix(organization): validate dynamic required profile fields
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputComponents.vue
Due: Name check, IP check

fix(organization): refresh status field after user state change
  src/pages/src/views/organization/details/UserMaterial.vue
Due: Name check, IP check

feat: some setting support get from env
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/config/common/django_basic.py
  src/build/api/support-files/templates/api#bkuser_core#config#overlays#prod.py
  src/login/bklogin/config/default.py
  src/saas/bkuser_shell/config/common/django_basic.py
Due: Name check, IP check

feat(profiles): restrict allowed fields for profile query and ordering
  src/api/bkuser_core/profiles/constants.py
  src/api/bkuser_core/profiles/v2/filters.py
  src/api/bkuser_core/profiles/v2/views.py
Due: Name check, IP check

restrict allowed fields for profile query and ordering (#2389)
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/config/common/django_basic.py
  src/api/bkuser_core/profiles/constants.py
  src/api/bkuser_core/profiles/v2/filters.py
  src/api/bkuser_core/profiles/v2/views.py
  src/build/api/support-files/templates/api#bkuser_core#config#overlays#prod.py
  src/login/bklogin/config/default.py
  src/saas/bkuser_shell/config/common/django_basic.py
Due: Name check, IP check

fix(saas): serve built static files with whitenoise finders
  src/saas/bkuser_shell/config/common/django_basic.py
Due: Name check, IP check

feat(department): restrict allowed fields for department-profile edge query and ordering
  src/api/bkuser_core/departments/v2/views.py
Due: Name check, IP check

1. 修复axios版本缺陷, 2.ldap新增上级同步功能, 3.修复可以添加内置字段名为自定义字段的问题
  src/api/bkuser_core/api/web/field/serializers.py
  src/api/bkuser_core/categories/plugins/ldap/adaptor.py
  src/api/bkuser_core/categories/plugins/ldap/helper.py
  src/api/bkuser_core/categories/plugins/ldap/models.py
  src/api/bkuser_core/categories/plugins/ldap/settings.yaml
  src/api/bkuser_core/categories/plugins/mad/settings.yaml
  src/pages/package.json
  src/pages/src/components/catalog/operation/SetField.vue
  src/saas/Dockerfile
Due: Name check, IP check

fix(departments): set explicit lookup_field for DepartmentProfileEdgeViewSet
  src/api/bkuser_core/departments/v2/views.py
Due: Name check, IP check

feat: support multiple language
  src/bk-user/Makefile
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/open_v1/serializers.py
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/data_source/i18n.py
  src/bk-user/bkuser/apps/idp/i18n.py
  src/bk-user/bkuser/apps/tenant/i18n.py
  src/bk-user/bkuser/apps/tenant/language.py
  src/bk-user/bkuser/settings.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/tests/apps/tenant/test_language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(login): globalSettings API added `supported_languages` field
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apps/tenant/language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/tests/apps/tenant/test_language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

chore: complete the unfinished translation
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

refactor: use `@cache` rather than `@lrucache`
  src/bk-user/bkuser/apps/tenant/language.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: bk-login also needs `supported_languages` field
  src/bk-login/bklogin/component/bk_user/models.py
Due: Name check, IP check, mypy, format, ruff

fix: multi data source login compatibility
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apps/idp/constants.py
  src/bk-user/bkuser/apps/idp/migrations/0003_idp_data_source_relation.py
  src/bk-user/bkuser/apps/idp/models.py
  src/bk-user/bkuser/apps/tenant/management/commands/get_builtin_management_login_url.py
  src/bk-user/bkuser/biz/idp.py
  src/bk-user/bkuser/biz/idp_data_source.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/biz/test_tenant.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tiny
  src/bk-user/bkuser/apis/login/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
