Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

feat: 个人中心语言修改后，需要再触发页面语言切换 # Reviewed, transaction id: 14401
  src/pages/src/utils/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/LoginSetting.vue
Due: Name check, IP check

feat: 个人中心语言修改后，需要再触发页面语言切换 (#1876)
  src/pages/src/utils/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/LoginSetting.vue
Due: Name check, IP check

fix(open api v2): department info return order field
  src/bk-user/bkuser/apis/open_v2/serializers/departments.py
  src/bk-user/bkuser/apis/open_v2/views/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): department info return order field (#1877)
  src/bk-user/bkuser/apis/open_v2/serializers/departments.py
  src/bk-user/bkuser/apis/open_v2/views/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix：验收问题修复 # Reviewed, transaction id: 14622
  src/login/bklogin/templates/login.html
  src/pages/src/Header.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: Name check, IP check

fix：验收问题修复 # Reviewed, transaction id: 14628
  src/login/bklogin/templates/login.html
  src/pages/src/Header.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: Name check, IP check

fix: user language unittest
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: user language unittest (#1880)
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:修复【用户管理】第一次搜索结果不为空，再次输入搜索条件，点击回车，会在右侧展示上一次的搜索结果问题
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

fix(locale): fixed version log language switching
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/tests/apis/web/version_log/__init__.py
  src/bk-user/tests/apis/web/version_log/test_version_log.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:修复【用户管理】页面仅有一个用户，删除时接口报错问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

resolve: fixed style and test case
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/tests/apis/web/version_log/test_version_log.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style and test case
  src/bk-user/tests/apis/web/version_log/test_version_log.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed logic
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:【用户管理】用户目录筛选，中文状态下回车键输入字母，查询不到对应结果
  src/pages/src/components/catalog/home/ExportUser.vue
Due: Name check, IP check

fix(locale): fixed version log language switching (#1881)
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/tests/apis/web/version_log/__init__.py
  src/bk-user/tests/apis/web/version_log/test_version_log.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:回收策略国际化统一 # Reviewed, transaction id: 14713
  src/pages/src/language/lang/en.js
Due: Name check, IP check

fix:回收策略国际化统一 # Reviewed, transaction id: 14714
  src/pages/src/language/lang/en.js
Due: Name check, IP check

fix：验收问题修复 (#1879)
  src/login/bklogin/templates/login.html
  src/pages/src/Header.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: Name check, IP check

fix：验收问题修复 (#1878)
  src/login/bklogin/templates/login.html
  src/pages/src/Header.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
Due: Name check, IP check

feat:clear login configuration when resetting data source
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(i18n): update some trans
  src/api/resources/apigateway/bk_apigw_resources_bk-user.yaml
  src/api/resources/apigateway/definition.yaml
  src/login/bklogin/templates/login.html
  src/login/locale/en/LC_MESSAGES/django.po
  src/login/locale/zh_Hans/LC_MESSAGES/django.po
  src/saas/bkuser_shell/common/context_processors.py
  src/saas/locale/en/LC_MESSAGES/django.po
  src/saas/locale/zh_Hans/LC_MESSAGES/django.po
Due: Name check, IP check

fix(i18n): update some trans (#1884)
  src/api/resources/apigateway/bk_apigw_resources_bk-user.yaml
  src/api/resources/apigateway/definition.yaml
  src/login/bklogin/templates/login.html
  src/login/locale/en/LC_MESSAGES/django.po
  src/login/locale/zh_Hans/LC_MESSAGES/django.po
  src/saas/bkuser_shell/common/context_processors.py
  src/saas/locale/en/LC_MESSAGES/django.po
  src/saas/locale/zh_Hans/LC_MESSAGES/django.po
Due: Name check, IP check

feat(locale): add time zone adaptation according to tenant user setting (#1871)
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/common/middlewares.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 组织树增加下钻功能 && 主入口增加语言切换&&重置数据源增加同时清除登录配置 # Reviewed, transaction id: 14819
  src/bk-login/pages/src/views/home.vue
  src/pages/src/hooks/useInfoBoxContent.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/Header.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

resolve: fixed style and test case
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: split large transaction in data source & tenant sync
  src/bk-user/bkuser/apps/sync/runners/__init__.py
  src/bk-user/bkuser/apps/sync/runners/data_source.py
  src/bk-user/bkuser/apps/sync/runners/tenant.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/sync/syncers/__init__.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_department.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_department.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_user.py
  src/bk-user/tests/apps/sync/conftest.py
  src/bk-user/tests/apps/sync/syncers/__init__.py
  src/bk-user/tests/apps/sync/syncers/conftest.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_department.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_department.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): profiles list support lookup_field default value - username
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): profiles list support lookup_field default value - … (#1887)
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

minor: resolve #1886 conversations
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_department.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_user.py
  src/bk-user/bkuser/apps/sync/validators.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/tests/apps/sync/syncers/__init__.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

minor: resolve #1886 conversations
  src/bk-user/bkuser/apps/sync/syncers/tenant_department.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 组织树增加下钻功能 && 主入口增加语言切换&&重置数据源增加同时清除登录配置 (#1885)
  src/bk-login/pages/src/views/home.vue
  src/pages/src/hooks/useInfoBoxContent.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/Header.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

minor: resolve #1886 conversations
  src/bk-user/bkuser/apps/sync/runners/data_source.py
  src/bk-user/bkuser/apps/sync/syncers/__init__.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style and test case
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: test case
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed comment
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add data source & tenant sync lock
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/bkuser/apps/sync/contexts/__init__.py
  src/bk-user/bkuser/apps/sync/contexts/data_source.py
  src/bk-user/bkuser/apps/sync/contexts/tenant.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/exceptions.py
  src/bk-user/bkuser/apps/sync/locks.py
  src/bk-user/bkuser/apps/sync/loggers.py
  src/bk-user/bkuser/apps/sync/management/__init__.py
  src/bk-user/bkuser/apps/sync/management/commands/__init__.py
  src/bk-user/bkuser/apps/sync/management/commands/release_sync_lock.py
  src/bk-user/bkuser/apps/sync/recorders.py
  src/bk-user/bkuser/apps/sync/runners.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/sync/validators.py
  src/bk-user/bkuser/common/locks.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apps/sync/conftest.py
  src/bk-user/tests/apps/sync/test_contexts.py
  src/bk-user/tests/apps/sync/test_converters.py
  src/bk-user/tests/apps/sync/test_locks.py
  src/bk-user/tests/apps/sync/test_loggers.py
  src/bk-user/tests/apps/sync/test_recorders.py
  src/bk-user/tests/apps/sync/test_validators.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

minor: fix sync task logs
  src/bk-user/bkuser/apps/sync/contexts/data_source.py
  src/bk-user/bkuser/apps/sync/contexts/tenant.py
  src/bk-user/tests/apps/sync/test_contexts.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
