Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

resolve: added pagination for queryset
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit web api (#1982)
  src/bk-user/bkuser/apis/web/audit/__init__.py
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/urls.py
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/data_models.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
  src/bk-user/bkuser/apps/audit/models.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/audit/__init__.py
  src/bk-user/tests/apis/web/audit/conftest.py
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-user/bkuser/apps/audit/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-user/tests/apis/web/audit/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/idp-plugins/pyproject.toml
Due: none

feat: fix python version in Dockerfile
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
Due: Name check, IP check

fix: update python version in Dockerfile (#1984)
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
Due: Name check, IP check

fix: update csrf trusted origins in settings.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: update csrf trusted origins in settings (#1985)
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: 重置搜索框 # Reviewed, transaction id: 24564
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 重置搜索框 (#1986)
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/search-result-tree.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: added operation audit for data source and users
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/utils/django.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added operation audit for data source and users
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added operation audit for data source and users
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: replace ldap plugin config search_filter with base_dns
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 新增操作历史
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: 优化折叠效果
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: 新增表单字段
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: 初步完成audit接口对接
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: 使用人员选择器 # Reviewed, transaction id: 24783
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: audit-ui (#1989)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/http/operationHistoryFiles.ts
  src/pages/src/http/types/operationHistory.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/operations-history/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: update tenant user status in periodic task
  src/bk-user/bkuser/apps/tenant/periodic_tasks.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apps/tenant/conftest.py
  src/bk-user/tests/apps/tenant/test_periodic_tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix：登录不输入密码异常&输入账号密码点击两次异常
  src/login/bklogin/bkauth/forms.py
  src/login/bklogin/templates/login.html
Due: Name check, IP check

fix: replace base_dns with search_base_dns
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: replace base_dns with search_base_dns
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: replace ldap plugin config search_filter with base_dns (#1988)
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix：代码优化
  src/api/bkuser_core/common/notifier.py
  src/api/bkuser_core/profiles/tasks.py
Due: Name check, IP check

feat：新增profile表索引
  src/api/bkuser_core/profiles/migrations/0028_auto_20241126_2038.py
Due: Name check, IP check

修复离职用户仍然收到密码修改邮件缺陷 (#1977)
  src/api/bkuser_core/common/notifier.py
  src/api/bkuser_core/profiles/migrations/0028_auto_20241126_2038.py
  src/api/bkuser_core/profiles/notifier.py
  src/api/bkuser_core/profiles/tasks.py
  src/login/bklogin/bkauth/forms.py
  src/login/bklogin/templates/login.html
Due: Name check, IP check

feat: adjust operation audit for data source and users
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: adjust operation audit for data source and users
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 完善ts类型
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/settingFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/settingFiles.ts
Due: Name check, IP check

feat: LDAP 数据源支持同时同步多个同级 # Reviewed, transaction id: 25029
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: LDAP 数据源支持同时同步多个同级 OU (#1990)
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/settingFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/settingFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

fix: 快速录入 # Reviewed, transaction id: 25082
  src/pages/src/views/organization/components/fast-input-dialog.vue
Due: Name check, IP check
