Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

refactor: tiny
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/biz/idp_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 优化登录页动态背景
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
Due: Name check, IP check

fix: 前端多租户问题修复
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/virtual-account/EditDetails.vue
Due: Name check, IP check

refactor: tiny
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apps/idp/models.py
  src/bk-user/bkuser/biz/idp.py
  src/bk-user/bkuser/biz/idp_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 前端支持多语言3
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/src/views/components/language-icon.vue
  src/bk-login/pages/src/views/home.vue
  src/pages/src/app.vue
  src/pages/src/http/api.ts
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

fix: multi data source login compatibility (#2394)
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apps/idp/constants.py
  src/bk-user/bkuser/apps/idp/migrations/0003_idp_data_source_relation.py
  src/bk-user/bkuser/apps/idp/models.py
  src/bk-user/bkuser/apps/tenant/management/commands/get_builtin_management_login_url.py
  src/bk-user/bkuser/biz/idp.py
  src/bk-user/bkuser/biz/idp_data_source.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/biz/test_tenant.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: update_tenant_user_language 放到 biz 下 & 增加 basic/supported-languages 接口
  src/bk-user/bkuser/apis/open_v1/views.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/urls.py
  src/bk-user/bkuser/apis/web/basic/views.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/tenant/language.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/apps/tenant/test_language.py
  src/bk-user/tests/biz/test_tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix test
  src/bk-user/tests/biz/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

--story=135604075 产品导航-个人中心加载企业空间
  src/pages/package.json
  src/pages/src/http/types/api.ts
  src/pages/src/store/user.ts
  src/pages/src/types/store.ts
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

feat(basic): add time_zone & language fields to `current-user/` api
  src/bk-user/bkuser/apis/web/basic/serializers.py
  src/bk-user/bkuser/apis/web/basic/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

perf(tenant_user): use cache to eliminate data_source JOIN in login_name
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/data_source/cache.py
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_web/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: tiny
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

perf(tenant_dept): use cache to eliminate data_source JOIN in department queries
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: frontend debug log
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/language/index.ts
  src/pages/src/app.vue
  src/pages/src/language/index.ts
Due: Name check, IP check

refactor: tiny
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/tests/apis/web/organization/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Opt/remove data source select related (#2398)
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/data_source/cache.py
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/web/organization/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Revert "feat: 前端支持多语言3"
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/src/views/components/language-icon.vue
  src/bk-login/pages/src/views/home.vue
  src/pages/src/app.vue
  src/pages/src/http/api.ts
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: 前端替换导航组件 (#2400)
  src/pages/package.json
  src/pages/src/http/types/api.ts
  src/pages/src/store/user.ts
  src/pages/src/types/store.ts
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

fix: 前端多租户问题修复 (#2397)
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/virtual-account/EditDetails.vue
Due: Name check, IP check

feat: 优化登录页动态背景 (#2396)
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
Due: Name check, IP check

fix: add max department level depth limit
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apps/sync/exceptions.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_department.py
  src/bk-user/bkuser/plugins/local/exceptions.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_department.py
  src/bk-user/tests/plugins/local/test_parser.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 增加 BK_USER(LOGIN)_EXTRA_I18N_BASE_URL 环境变量并传给前端
  src/bk-login/bklogin/common/context_processors.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: 前端支持多语言
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/src/views/components/language-icon.vue
  src/bk-login/pages/src/views/home.vue
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/app.vue
  src/pages/src/http/api.ts
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: 前端支持多语言 (#2399)
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/index.html
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/types/api.ts
  src/bk-login/pages/src/language/index.ts
  src/bk-login/pages/src/views/components/language-icon.vue
  src/bk-login/pages/src/views/home.vue
  src/bk-login/pages/types/global.d.ts
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/app.vue
  src/pages/src/http/api.ts
  src/pages/src/http/types/api.ts
  src/pages/src/language/index.ts
  src/pages/src/store/platformConfig.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

fix(open_web): restore data_source_type in lookup API and annotate data scope in urls
  src/bk-user/bkuser/apis/open_v2/urls.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/data_source/cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: unittest
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open_web): restore data_source_type in lookup API and annotate da… (#2403)
  src/bk-user/bkuser/apis/open_v2/urls.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/data_source/cache.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open_api): address review findings for multi-datasource OpenAPI refactor
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/pagination.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open_api): address review findings for multi-datasource OpenAPI r… (#2404)
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/pagination.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Update constants.py
  src/bk-user/bkuser/apis/open_web/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: forbid tenant manager from removing themselves
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/tests/apis/web/tenant_info/__init__.py
  src/bk-user/tests/apis/web/tenant_info/conftest.py
  src/bk-user/tests/apis/web/tenant_info/test_real_manager.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(open_web): unify data source queries via DataSourceCache
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_web/mixins.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/data_source/cache.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(open_web): unify data source queries via DataSourceCache (#2406)
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_web/mixins.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apps/data_source/cache.py
  src/bk-user/bkuser/biz/tenant/tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: --bug=160187583 【canway】多租户用户管理/登录插件配置编辑界面无法提交 # Reviewed, transaction id: 83129
  src/pages/src/views/setting/auth-config/WeCom.vue
Due: Name check, IP check

refactor(data_source): make username generate config on-demand
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/data_source/transform.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/exporters.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/pyproject.toml
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
  src/bk-user/tests/biz/test_data_source.py
  src/bk-user/tests/biz/test_tenant.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(data_source): make username generate config on-demand (#2409)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_datasource_multi_source_support.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/data_source/transform.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/exporters.py
  src/bk-user/bkuser/biz/tenant/tenant_creator.py
  src/bk-user/pyproject.toml
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
  src/bk-user/tests/biz/test_data_source.py
  src/bk-user/tests/biz/test_tenant.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

chore(importlinter): restore biz data_source layer peer status
  src/bk-user/pyproject.toml
Due: none
