Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

fix: 使用 ValidationError 而不是 Exception
  src/bk-user/bkuser/plugins/local/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): cache use wrong
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2): cache use wrong (#2308)
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 租户用户列表接口需要兼容模糊搜索
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 使用 EmailStr | Literal[""] 实现 sender 的校验
  src/bk-user/bkuser/plugins/local/models.py
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 短信发送渠道的 sender 设置为 ""
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/tests/fixtures/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: sms notification use "" as the default sender
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/plugins/local/defaults.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复单测问题
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open v2 api): list user support redis cache
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/common/cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

test: fix unittest
  src/bk-user/tests/apis/open_v2/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: add email sender validation for local IDP notification templates (#2305)
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/plugins/local/defaults.py
  src/bk-user/bkuser/plugins/local/models.py
  src/bk-user/pyproject.toml
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/uv.lock
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复虚拟账号分页错误问题
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

fix: 修复Select组件删除Tag与实际删除不一致问题
  src/pages/package.json
  src/pages/src/main.ts
Due: Name check, IP check

feat: 优化Table所属组织hover交互
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: 补充departmentList没有的部门
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/views/organization/components/edit-detail.vue
Due: Name check, IP check

feat: 选择租户页 - 更多操作增加hideIgnoreReference
  src/pages/package.json
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: 数据源同步中刷新页面会自动再发起一次
  src/pages/src/hooks/useDataSource.ts
Due: Name check, IP check

fix: 组织架构searchSelect补充value-behavior避免无key查询
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: 补充所属组织、直属上级的remoteMethod # Reviewed, transaction id: 69097
  src/pages/src/views/organization/components/edit-detail.vue
Due: Name check, IP check

fix: fix many bugs (#2311)
  src/pages/package.json
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/main.ts
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

refactor(open api v2 - list user): reduce unnecessary fields in SQL Select
  src/bk-user/bkuser/apis/open_v2/urls.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/tests/apis/open_v2/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor(open api v2 - list user): reduce unnecessary fields in SQL S… (#2312)
  src/bk-user/bkuser/apis/open_v2/urls.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/tests/apis/open_v2/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2 - list user): wrong use paginate_queryset result
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open api v2 - list user): wrong use paginate_queryset result (#2313)
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v2 - list user): opt select_related and only
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v2 - list user): opt select_related and only (#2314)
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v2): list user support cache page
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(open api v2): list user support cache page (#2315)
  src/bk-user/bkuser/apis/open_v2/mixins.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复bkui-vue版本升级导致的问题
  src/pages/package.json
Due: Name check, IP check

fix: 修复bkui-vue版本升级导致的问题 (#2316)
  src/pages/package.json
Due: Name check, IP check

fix: only geographic timezones can be allowed
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 根据 cr 优化代码逻辑
  src/bk-user/bkuser/apps/sync/converters.py
  src/idp-plugins/idp_plugins/wecom/plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, ruff

fix: 修复单测问题
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(converters.py): 批量导入用户未校验必填字段 (#2301)
  src/bk-user/bkuser/apps/sync/converters.py
  src/idp-plugins/idp_plugins/wecom/plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, ruff

WIP fix: only geographic timezones can be allowed (#2317)
  src/bk-user/bkuser/common/constants.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 时区组件替换 # Reviewed, transaction id: 69849
  src/pages/package.json
  src/pages/src/components/edit-block.vue
  src/pages/src/components/field-item.vue
  src/pages/src/utils/index.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: 时区组件替换 (#2318)
  src/pages/package.json
  src/pages/src/components/edit-block.vue
  src/pages/src/components/field-item.vue
  src/pages/src/utils/index.ts
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: 单租户模式下也需要展示 "租户节点“ # Reviewed, transaction id: 70206
  src/pages/src/views/organization/components/aside-tenant.vue
Due: Name check, IP check

feat: 单租户模式下也需要展示 "租户节点“ # Reviewed, transaction id: 70214
  src/pages/src/views/organization/components/collaboration-item.vue
Due: Name check, IP check
