Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: 登录改版优化
  src/bk-login/pages/package.json
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/fetch/error-interceptor.ts
  src/bk-login/pages/src/images/empty.png
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/store/app.ts
  src/bk-login/pages/src/views/components/custom-login.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

refactor:modify render display_name expression
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added redis cache for display name
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 过滤掉enum单选与多选的选项 # Reviewed, transaction id: 45355
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
Due: Name check, IP check

feat: filter enum display name options (#2133)
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
Due: Name check, IP check

refactor:modify render display_name expression (#2132)
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(personal_center): add personal virtual user api
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 用户展示名完善 # Reviewed, transaction id: 45407
  src/pages/src/components/user-display-name-config/select-panel/data.ts
  src/pages/src/components/user-display-name-config/select-panel/selectPanel.vue
  src/pages/src/components/user-display-name-config/select-panel/selectPanelGroup.vue
  src/pages/src/components/user-display-name-config/showTags.vue
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
  src/pages/src/images/constant.svg
  src/pages/src/images/variable.svg
  src/pages/src/store/index.ts
  src/pages/src/store/useFieldData.ts
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

style: 优化不同用户展示名tag边距 # Reviewed, transaction id: 45412
  src/pages/src/components/user-display-name-config/showTags.vue
Due: Name check, IP check

feat: 用户展示名配置完善 (#2135)
  src/pages/src/components/user-display-name-config/select-panel/data.ts
  src/pages/src/components/user-display-name-config/select-panel/selectPanel.vue
  src/pages/src/components/user-display-name-config/select-panel/selectPanelGroup.vue
  src/pages/src/components/user-display-name-config/showTags.vue
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
  src/pages/src/images/constant.svg
  src/pages/src/images/variable.svg
  src/pages/src/store/index.ts
  src/pages/src/store/useFieldData.ts
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

feat: 登录改版优化 (#2131)
  src/bk-login/pages/package.json
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/fetch/error-interceptor.ts
  src/bk-login/pages/src/images/empty.png
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/store/app.ts
  src/bk-login/pages/src/views/components/custom-login.vue
  src/bk-login/pages/src/views/components/protocol-en.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: 无租户时不调用接口
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat(virtual_user): enhance virtual user api
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/virtual_user/conftest.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: modify personal center custom field display
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(virtual_user): enhance virtual user api
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(virtual_user): enhance virtual user api
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 无租户时不调用接口 (#2138)
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: opt login
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

feat: opt login (#2139)
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

optimize the multi-tenant login process (#2140)
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/pages/package.json
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/http/fetch/error-interceptor.ts
  src/bk-login/pages/src/images/empty.png
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/store/app.ts
  src/bk-login/pages/src/views/components/custom-login.vue
  src/bk-login/pages/src/views/components/protocol-en.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check, mypy, format, ruff

feat: 操作历史类型新增修改用户展示名表达式配置 # Reviewed, transaction id: 45530
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

feat: 操作历史新增类型 (#2141)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

feat(virtual_user): enhance virtual user api
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/tests/apis/web/virtual_user/conftest.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(virtual_user): enhance virtual user api
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: modify personal center custom field display (#2136)
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复登录体验问题
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: 修复登录体验问题
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat(virtual_user): enhance virtual user api
  src/bk-user/tests/apis/web/virtual_user/conftest.py
  src/bk-user/tests/apis/web/virtual_user/test_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: login copywriting modified and remove tenant visible
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, ruff

fix: 修复用户展示名问题 # Reviewed, transaction id: 45575
  src/pages/src/components/user-display-name-config/configPreview.vue
  src/pages/src/components/user-display-name-config/showTags.vue
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/useFieldData.ts
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

fix: github action
  .github/workflows/idp-plugins.yml
Due: Name check

fix: 修复登录体验问题 (#2142)
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: 修复用户展示名问题 (#2144)
  src/pages/src/components/user-display-name-config/configPreview.vue
  src/pages/src/components/user-display-name-config/showTags.vue
  src/pages/src/components/user-display-name-config/userDisplayNameConfig.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/useFieldData.ts
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

fix: unittest
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/tests/apis/web/collaboration/test_to_strategy.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: login copywriting modified and remove tenant visible (#2143)
  .github/workflows/idp-plugins.yml
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/tests/apis/web/collaboration/test_to_strategy.py
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, ruff
