Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: update django version to 4.2.17
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update django version to 4.2.17
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update sentry-sdk version to 2.19.2
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

feat: added filter by departments for list profiles
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/open_v2/test_profiles.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added filter by departments for list profiles
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/open_v2/test_profiles.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: audit table ref
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: del operation type
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

fix: 验收 # Reviewed, transaction id: 26813
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: update django version to 4.2.17 (#2014)
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: reset loading # Reviewed, transaction id: 26816
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: audit check (#2016)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

feat: added generation rules for tenant_user_id by NanoId
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/bkuser/utils/nanoid.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apps/tenant/test_utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: added generation rules for tenant_user_id by NanoId
  src/bk-user/bkuser/apis/open_v2/views/departments.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: added test case and changed function name
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/open_v2/test_profiles.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added generation rules for tenant_user_id by NanoId
  src/bk-user/bkuser/apps/tenant/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added filter by departments for list profiles (#2015)
  src/bk-user/bkuser/apis/open_v2/serializers/profilers.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/tests/apis/open_v2/test_profiles.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change code style and add migrations
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuseridgenerateconfig_rule.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: added generation rule for tenant_user_id by nanoid
  src/bk-user/bkuser/apis/open_v2/views/departments.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuseridgenerateconfig_rule.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/bkuser/utils/nanoid.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apps/tenant/test_utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: modify class enum in openapi
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: modify class enum in openapi (#2019)
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change code style
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/bkuser/utils/nanoid.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change code style
  src/bk-user/bkuser/utils/nanoid.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change code style
  src/bk-user/bkuser/apps/tenant/utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added generation rule for tenant_user_id by nanoid (#2018)
  src/bk-user/bkuser/apis/open_v2/views/departments.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuseridgenerateconfig_rule.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/bkuser/utils/nanoid.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apps/tenant/test_utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: audit table setting and table height # Reviewed, transaction id: 27032
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: audit table setting and table height (#2020)
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: sync apigateway automatically for project
  src/bk-login/Dockerfile
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-login/support-files/bin/sync-apigateway.sh
  src/bk-login/support-files/definition.yaml
  src/bk-login/support-files/resources.yaml
Due: Name check, IP check

feat: change structure of code
  src/bk-login/bin/post_migrate.sh
  src/bk-login/support-files/bin/sync-apigateway.sh
Due: Name check, IP check

resolve: change code style
  src/bk-login/bin/post_migrate.sh
  src/bk-login/bklogin/settings.py
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-login/support-files/definition.yaml
Due: Name check, IP check, mypy, format, ruff

resolve: change code style
  src/bk-login/bin/post_migrate.sh
Due: Name check, IP check

resolve: change some reviews
  src/bk-login/bin/post_migrate.sh
  src/bk-login/bklogin/settings.py
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-login/support-files/bin/sync-apigateway.sh
  src/bk-login/support-files/definition.yaml
Due: Name check, IP check, mypy, format, ruff

resolve: change some reviews
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
Due: Name check, IP check

resolve: change some reviews
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

resolve: change some reviews
  src/bk-login/support-files/definition.yaml
Due: Name check, IP check

feat: sync openapi to apigateway automatically (#2021)
  src/bk-login/Dockerfile
  src/bk-login/bin/post_migrate.sh
  src/bk-login/bklogin/settings.py
  src/bk-login/support-files/apidocs/en/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/en/verify_bk_token.md
  src/bk-login/support-files/apidocs/zh/get_bk_token_userinfo.md
  src/bk-login/support-files/apidocs/zh/verify_bk_token.md
  src/bk-login/support-files/bin/sync-apigateway.sh
  src/bk-login/support-files/definition.yaml
  src/bk-login/support-files/resources.yaml
Due: Name check, IP check, mypy, format, ruff

feat(api): retrieve tenant user by id
  src/bk-user/bkuser/apis/apigw/__init__.py
  src/bk-user/bkuser/apis/apigw/authentications.py
  src/bk-user/bkuser/apis/apigw/permissions.py
  src/bk-user/bkuser/apis/apigw/urls.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/tests/apis/apigw/__init__.py
  src/bk-user/tests/apis/apigw/conftest.py
  src/bk-user/tests/apis/apigw/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

style: minor
  src/bk-user/bkuser/apis/apigw/authentications.py
  src/bk-user/bkuser/apis/apigw/permissions.py
  src/bk-user/bkuser/apis/apigw/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: minor
  src/bk-user/tests/apis/apigw/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
