Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: modify display_name config cache time
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify poetry version and migrate
  src/bk-login/Makefile
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/Makefile
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: modify poetry version and migrate
  src/idp-plugins/pyproject.toml
Due: none

feat: modify poetry version and migrate
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify poetry version and migrate
  src/bk-login/bklogin/utils/std_error.py
  src/bk-user/bkuser/apis/web/collaboration/serializers.py
  src/bk-user/bkuser/plugins/base.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/tests/apis/open_v1/conftest.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/idp-plugins/idp_plugins/base.py
  src/idp-plugins/idp_plugins/http.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: 组织架构页面若部门为空时不应该展示配置数据源 # Reviewed, transaction id: 46477
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 组织架构页面若部门为空时不应该展示配置数据源 (#2152)
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: modify poetry version and migrate
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check

feat: modify display name config cache time (#2150)
  src/bk-user/bkuser/apps/tenant/display_name_cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify poetry version and migrate (#2151)
  src/bk-login/Makefile
  src/bk-login/bklogin/utils/std_error.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/Makefile
  src/bk-user/bkuser/apis/web/collaboration/serializers.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/plugins/base.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/open_v1/conftest.py
  src/bk-user/tests/apis/open_v3/conftest.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/idp-plugins/idp_plugins/base.py
  src/idp-plugins/idp_plugins/http.py
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: 锁定 bkui-vue版本
  src/bk-login/pages/package.json
Due: Name check, IP check

feat: 锁定 bkui-vue版本 (#2153)
  src/bk-login/pages/package.json
Due: Name check, IP check

feat: added api permission for bk-user apigateway
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
Due: Name check, IP check

feat: added api permission for bk-user apigateway
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

feat: modify display name config cache time tips # Reviewed, transaction id: 46606
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

feat: modify display name config cache time tips (#2155)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/BasicsSetting.vue
Due: Name check, IP check

feat: added api permission for bk-user apigateway (#2154)
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
Due: Name check, IP check

feat: added notification for apigw
  src/bk-user/tests/apis/web/password/test_password.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify virtual user audit
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify virtual user audit
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/biz/senders.py
  src/bk-user/bkuser/component/apigw.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/notification/test_notifier.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added notification for apigw
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added button for collaboration user function
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added env variable for collaboration tenant function (#2157)
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 新增环境变量控制协同租户显隐 # Reviewed, transaction id: 46948
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: enable collaboration tenant (#2158)
  src/pages/.bk.development.env
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/index.vue
  src/pages/types/global.d.ts
Due: Name check, IP check

feat: modify virtual user audit
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify virtual user audit (#2156)
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 验收问题修复
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/main.ts
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 管理员登录
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/router/index.ts
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 协议和中英文切换挪位置 # Reviewed, transaction id: 47006
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 管理员登录&验收问题修复 (#2159)
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/language/en.json
  src/bk-login/pages/src/language/zh.json
  src/bk-login/pages/src/main.ts
  src/bk-login/pages/src/router/index.ts
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: 管理员登录路由 # Reviewed, transaction id: 47038
  src/bk-login/pages/src/router/index.ts
  src/bk-login/pages/src/views/components/password.vue
Due: Name check, IP check

fix: 管理员登录路由 (#2160)
  src/bk-login/pages/src/router/index.ts
  src/bk-login/pages/src/views/components/password.vue
Due: Name check, IP check

feat: 发送验证码后，输入框自动聚焦 # Reviewed, transaction id: 47194
  src/pages/src/views/personal-center/EmailVerify.vue
  src/pages/src/views/personal-center/PhoneVerify.vue
  src/pages/src/views/reset-password/phoneForm.vue
Due: Name check, IP check

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/my_virtual_user/__init__.py
  src/bk-user/bkuser/apis/web/my_virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/my_virtual_user/urls.py
  src/bk-user/bkuser/apis/web/my_virtual_user/views.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/permission/permissions.py
  src/bk-user/tests/apis/web/my_virtual_user/__init__.py
  src/bk-user/tests/apis/web/my_virtual_user/conftest.py
  src/bk-user/tests/apis/web/my_virtual_user/test_my_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add personal virtual user api
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

feat: add personal virtual user api
  src/bk-user/bkuser/apis/web/my_virtual_user/serializers.py
  src/bk-user/tests/apis/web/my_virtual_user/test_my_virtual_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy
