Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

fix:修复login模块csrftoken默认时间为一年的问题，修复登录锁定效验在密码验证之前，导致无法登录的问题
  src/api/bkuser_core/api/login/views.py
  src/login/bklogin/config/default.py
Due: Name check, IP check

fix:修复redis mtls连接问题
  src/api/bkuser_core/config/common/storage.py
Due: Name check, IP check

fix: enhance password validation to check for continuous digit and keyboard sequences
  src/bk-user/bkuser/common/passwd/validator.py
  src/bk-user/bkuser/common/passwd/zxcvbn_ext.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: enhance password validation to check for continuous digit and keyboard sequences
  src/bk-user/tests/common/passwd/test_validator.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: jquery升级 # Reviewed, transaction id: 63626
  src/login/bklogin/templates/login.html
  src/login/static/assets/jquery-3.7.1.min.js
  src/saas/bkuser_shell/account/templates/account/login_page.html
  src/saas/bkuser_shell/account/templates/account/login_success.html
Due: Name check, IP check

fix: enhanced password validation to check for continuous digit and keyboard sequences (#2266)
  src/bk-user/bkuser/common/passwd/validator.py
  src/bk-user/bkuser/common/passwd/zxcvbn_ext.py
  src/bk-user/tests/common/passwd/test_validator.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: [login] update jquery version to 3.7.1
  src/login/bklogin/templates/login.html
  src/login/static/assets/jquery-3.7.1.min.js
Due: Name check, IP check

feat: [login] update jquery version to 3.7.1 (#2274)
  src/login/bklogin/templates/login.html
  src/login/static/assets/jquery-3.7.1.min.js
Due: Name check, IP check

Release/2.5.3 (#2275)
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/config/common/storage.py
  src/login/bklogin/config/default.py
  src/login/bklogin/templates/login.html
  src/login/static/assets/jquery-3.7.1.min.js
Due: Name check, IP check

fix: 3.0.1 alpha.53 frontend (#2271)
  src/pages/src/components/passwordInput.vue
  src/pages/src/components/upload-img.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/app.ts
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/search-org.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/tenant/OperationDetails.vue
Due: Name check, IP check

feat: enhanced data source import API to handle duplicate usernames without overwrite
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: enhanced data source import API to handle duplicate usernames without overwrite
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: enhanced data source import API to handle duplicate usernames without overwrite
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: enhanced data source import API to handle duplicate usernames without overwrite (#2269)
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: update keyword minimum length in search api
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 组织管理右上角搜索增加message去重 # Reviewed, transaction id: 64545
  src/pages/src/http/fetch/index.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/views/organization/components/search-org.vue
Due: Name check, IP check

feat: 组织管理右上角搜索增加error message去重 (#2277)
  src/pages/src/http/fetch/index.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/views/organization/components/search-org.vue
Due: Name check, IP check

fix: update keyword minimum length in search api (#2276)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: optimize error message; add ENABLE_BROWSER_PASSWORD_AUTOCOMPLETE config
  src/bk-login/bklogin/common/context_processors.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feat: optimize error message; add ENABLE_BROWSER_PASSWORD_AUTOCOMPLET… (#2278)
  src/bk-login/bklogin/common/context_processors.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feature:v2API支持通过环境变量设置max_page_size
  src/bk-user/bkuser/apis/open_v2/pagination.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 增加ENABLE_BROWSER_PASSWORD_AUTOCOMPLETE配置 # Reviewed, transaction id: 64977
  src/bk-login/pages/index.html
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/types/global.d.ts
Due: Name check, IP check

feat: 增加ENABLE_BROWSER_PASSWORD_AUTOCOMPLETE配置 # Reviewed, transaction id: 64979
  src/bk-login/pages/src/views/components/password.vue
Due: Name check, IP check

feat: 增加ENABLE_BROWSER_PASSWORD_AUTOCOMPLETE配置
  src/bk-login/pages/.bk.production.env
Due: Name check, IP check

feat: 增加ENABLE_BROWSER_PASSWORD_AUTOCOMPLETE配置 (#2279)
  src/bk-login/pages/.bk.production.env
  src/bk-login/pages/index.html
  src/bk-login/pages/src/views/components/password.vue
  src/bk-login/pages/types/global.d.ts
Due: Name check, IP check

feat: added paginated page for open web api
  src/bk-user/bkuser/apis/open_web/middlewares.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/tests/apis/open_web/test_department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: bkuser apigw pre auth for bk-ci
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

feat: bkuser apigw pre auth for bk-ci (#2282)
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

fix: 修复职务和上级过滤失效的问题, 屏蔽时间类字段的筛选
  src/api/bkuser_core/api/web/department/serializers.py
  src/api/bkuser_core/api/web/department/views.py
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复职务和上级过滤失效的问题, 屏蔽时间类字段的筛选 (#2283)
  src/api/bkuser_core/api/web/department/serializers.py
  src/api/bkuser_core/api/web/department/views.py
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat: compatible with mysql 5.7
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: compatible with mysql 5.7 (#2284)
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: django-celery-beat 2.8.1 not compatible with mysql 5.7
  .pre-commit-config.yaml
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check, mypy, format, ruff

fix: django-celery-beat 2.8.1 not compatible with mysql 5.7 (#2285)
  .pre-commit-config.yaml
  src/bk-login/bklogin/authentication/views.py
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check, mypy, format, ruff

增大ldap/mad同步的page_size和周期
  src/api/bkuser_core/categories/plugins/ldap/settings.yaml
  src/api/bkuser_core/categories/plugins/mad/settings.yaml
Due: Name check, IP check

增大ldap/mad同步的page_size和周期 (#2287)
  src/api/bkuser_core/categories/plugins/ldap/settings.yaml
  src/api/bkuser_core/categories/plugins/mad/settings.yaml
Due: Name check, IP check

feat: support bk token max seesion
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/migrations/0002_bktoken_user_id.py
  src/bk-login/bklogin/authentication/models.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
