Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

feat(login settings): update the logging config to std
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: 自测体验问题修复 (#1761)
  src/pages/src/components/SyncRecords.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/FieldsAdd.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/EditDetails.vue
Due: Name check, IP check

fix: 体验问题
  src/pages/src/components/ChangePassword.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feat: 体验问题修复 # Reviewed, transaction id: 8852
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
Due: Name check, IP check

feat(login settings): update the logging config to std (#1766)
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: 体验问题修复
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feature: 组织架构自测bug修复 # Reviewed, transaction id: 8862
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

体验问题修复 (#1767)
  src/pages/src/components/ChangePassword.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/setting/FieldSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

bug修复 (#1768)
  src/pages/src/components/custom-fields/index.vue
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useTableFields.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/main.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/components/view-user.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/details/UserInfo.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

fix: 去掉排序 && 未勾选不校验 # Reviewed, transaction id: 8891
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: 去掉排序 && 未勾选不校验 (#1769)
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat(login): compatibility 2.x logout
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/open_apis/compatibility/views.py
Due: Name check, IP check, format, ruff, mypy

feat(login): compatibility 2.x logout (#1770)
  src/bk-login/bklogin/authentication/manager.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/open_apis/compatibility/views.py
Due: Name check, IP check, format, ruff, mypy

fix: 体验问题修复 # Reviewed, transaction id: 8976
  src/pages/src/common/auth.ts
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/collaboration-item.vue
Due: Name check, IP check

minor: add package deprecated
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

minor: add package deprecated (#1772)
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

minor: add package deprecated in bk-login
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: none

minor: add package deprecated in bk-login (#1773)
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
Due: none

minor: batch update opentelemetry dependence packages
  src/bk-login/bklogin/monitoring/tracing/otel.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bkuser/monitoring/tracing/otel.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

minor: batch update opentelemetry dependence packages (#1774)
  src/bk-login/bklogin/monitoring/tracing/otel.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bkuser/monitoring/tracing/otel.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: rebuild bkuser & login poetry.lock
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: none

fix: rebuild bkuser & login poetry.lock (#1775)
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: none

fix: 体验问题修复 # Reviewed, transaction id: 9072
  src/pages/src/components/ChangePassword.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/blank-page.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/OperationDetails.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

fix: only initialize identity info and send notification for real or management data source users
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apps/sync/tasks.py
Due: Name check, IP check, format, ruff, mypy

fix: only initialize identity info and send notification for real or management data source users
  src/bk-user/bkuser/apps/data_source/initializers.py
Due: Name check, IP check, format, ruff, mypy

fix: only initialize identity info and send notification for real or management data source users (#1776)
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apps/data_source/initializers.py
  src/bk-user/bkuser/apps/sync/tasks.py
Due: Name check, IP check, format, ruff, mypy

feature: 组织架构自测bug修复
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

fix: 体验问题修复 (#1777)
  src/pages/src/components/ChangePassword.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/blank-page.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/OperationDetails.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/setting/index.vue
  src/pages/src/views/tenant/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

体验问题修复 (#1778)
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

fix: 体验问题修复 (#1771)
  src/pages/src/common/auth.ts
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/collaboration-item.vue
Due: Name check, IP check

feat: 体验问题修复 # Reviewed, transaction id: 9226
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 组件库国际化 # Reviewed, transaction id: 9237
  src/pages/src/app.vue
  src/pages/src/main.ts
Due: Name check, IP check

feat: 组件库国际化 (#1780)
  src/bk-login/pages/src/views/home.vue
  src/pages/src/app.vue
  src/pages/src/main.ts
Due: Name check, IP check

bug修复 (#1779)
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

feature: 组织架构自测bug修复
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: 密码框增加复制按钮操作 # Reviewed, transaction id: 9316
  src/pages/src/components/ChangePassword.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/cross-tenant-collaboration/my-share/index.vue
  src/pages/src/views/setting/data-source/Http.vue
  src/pages/src/views/setting/data-source/query-params/QueryParams.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feat: 抽取组件 # Reviewed, transaction id: 9355
  src/pages/src/components/ChangePassword.vue
  src/pages/src/components/passwordInput.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/data-source/Http.vue
  src/pages/src/views/tenant/OperationDetails.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
