Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

feat(bklogin): use pycryptodomex pkg replace pyCrypto (#1594)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): use pycryptodomex pkg replace pyCrypto
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): use pycryptodomex pkg replace pyCrypto (#1595)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): add pycryptodome pkg
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): add pycryptodome pkg (#1596)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): add pycryptodome pkg (#1597)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): add pycryptodome pkg (#1598)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

fix: check reserved password when forget and reset password
  src/bk-user/bkuser/apis/web/data_source_organization/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/validators.py
Due: Name check, IP check, format, ruff, mypy

minor: update github action version
  .github/workflows/bk-user.yml
Due: Name check

minor: update github action version (#1600)
  .github/workflows/bk-user.yml
Due: Name check

minor: update github action version
  .github/workflows/codeql-analysis.yml
Due: Name check, IP check

minor: update github action (codeql) version (#1601)
  .github/workflows/codeql-analysis.yml
Due: Name check, IP check

minor: validate_user_password -> validate_user_new_password
  src/bk-user/bkuser/apis/web/data_source_organization/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/validators.py
Due: Name check, IP check, format, ruff, mypy

fix: check reserved password when forget and reset password (#1599)
  src/bk-user/bkuser/apis/web/data_source_organization/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/validators.py
Due: Name check, IP check, format, ruff, mypy

feat: platform management
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/platform_management/__init__.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/urls.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant/__init__.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: minor
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_auto_20240326_1916.py
Due: Name check, IP check, format, ruff, mypy

fix: cr
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
Due: Name check, IP check, format, ruff, mypy

feat: platform management (#1602)
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/platform_management/__init__.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/urls.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant/__init__.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_auto_20240326_1916.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix(swagger): slz same name
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
Due: Name check, IP check, format, ruff, mypy

fix(swagger): slz same name (#1603)
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
Due: Name check, IP check, format, ruff, mypy

refactor: data source api
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apps/notification/test_notifier.py
  src/bk-user/tests/apps/sync/test_syncers.py
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/fixtures/tenant.py
  src/bk-user/tests/test_utils/auth.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: batch remove apis unittest
  src/bk-user/tests/apis/web/data_source_organization/__init__.py
  src/bk-user/tests/apis/web/data_source_organization/conftest.py
  src/bk-user/tests/apis/web/data_source_organization/test_data_source_user.py
  src/bk-user/tests/apis/web/natural_user/__init__.py
  src/bk-user/tests/apis/web/natural_user/conftest.py
  src/bk-user/tests/apis/web/natural_user/test_natural_user.py
  src/bk-user/tests/apis/web/organization/__init__.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_organization.py
  src/bk-user/tests/apis/web/tenant/__init__.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

fix: phone allow blank when create tenant
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, format, ruff, mypy

fix: phone allow blank when create tenant (#1605)
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1604 conversations
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
Due: Name check, IP check, format, ruff, mypy

test: fix unittest
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, format, ruff, mypy

refactor: update data source manage apis (#1604)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/data_source_organization/__init__.py
  src/bk-user/tests/apis/web/data_source_organization/conftest.py
  src/bk-user/tests/apis/web/data_source_organization/test_data_source_user.py
  src/bk-user/tests/apis/web/natural_user/__init__.py
  src/bk-user/tests/apis/web/natural_user/conftest.py
  src/bk-user/tests/apis/web/natural_user/test_natural_user.py
  src/bk-user/tests/apis/web/organization/__init__.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_organization.py
  src/bk-user/tests/apis/web/tenant/__init__.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
  src/bk-user/tests/apps/notification/test_notifier.py
  src/bk-user/tests/apps/sync/test_syncers.py
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/fixtures/tenant.py
  src/bk-user/tests/test_utils/auth.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove data source name property
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apps/data_source/migrations/0009_auto_20240327_1520.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/sync/test_validators.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1607 conversations
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove data source name property (#1607)
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apps/data_source/migrations/0009_auto_20240327_1520.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/sync/test_validators.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

feat: add tenant info manage api
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_info/__init__.py
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/urls.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/validators.py
Due: Name check, IP check, format, ruff, mypy

feat(web api): tenant real manager
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/urls.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove useless code from biz module of tenant
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove useless code
  src/bk-user/bkuser/biz/data_source.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove `global_setting` code
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/global_setting/__init__.py
  src/bk-user/bkuser/apis/web/global_setting/serializers.py
  src/bk-user/bkuser/apis/web/global_setting/urls.py
  src/bk-user/bkuser/apis/web/global_setting/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/global_setting/__init__.py
  src/bk-user/bkuser/apps/global_setting/apps.py
  src/bk-user/bkuser/apps/global_setting/constants.py
  src/bk-user/bkuser/apps/global_setting/data_models.py
  src/bk-user/bkuser/apps/global_setting/migrations/0001_initial.py
  src/bk-user/bkuser/apps/global_setting/migrations/0002_init_tenant_visible_setting.py
  src/bk-user/bkuser/apps/global_setting/migrations/__init__.py
  src/bk-user/bkuser/apps/global_setting/models.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_auto_20240328_0941.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/login/test_auth.py
  src/bk-user/tests/apps/global_setting/__init__.py
  src/bk-user/tests/apps/global_setting/test_data_models.py
Due: Name check, IP check, format, ruff, mypy

fix: minor
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/urls.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
Due: Name check, IP check, format, ruff, mypy

fix: cr
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_info/mixins.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
Due: Name check, IP check, format, ruff, mypy

feat: add tenant info manage api (#1609)
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/web/global_setting/__init__.py
  src/bk-user/bkuser/apis/web/global_setting/serializers.py
  src/bk-user/bkuser/apis/web/global_setting/views.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_info/__init__.py
  src/bk-user/bkuser/apis/web/tenant_info/mixins.py
  src/bk-user/bkuser/apis/web/tenant_info/serializers.py
  src/bk-user/bkuser/apis/web/tenant_info/urls.py
  src/bk-user/bkuser/apis/web/tenant_info/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/global_setting/apps.py
  src/bk-user/bkuser/apps/global_setting/constants.py
  src/bk-user/bkuser/apps/global_setting/data_models.py
  src/bk-user/bkuser/apps/global_setting/migrations/0001_initial.py
  src/bk-user/bkuser/apps/global_setting/migrations/0002_init_tenant_visible_setting.py
  src/bk-user/bkuser/apps/global_setting/migrations/__init__.py
  src/bk-user/bkuser/apps/global_setting/models.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_auto_20240328_0941.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/login/test_auth.py
  src/bk-user/tests/apps/global_setting/__init__.py
  src/bk-user/tests/apps/global_setting/test_data_models.py
Due: Name check, IP check, format, ruff, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
