Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, isort, black, flake8, mypy

Name check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

isort:
  name: isort
  language: python
  pass_filenames: false
  entry: isort --settings-path=pyproject.toml src

black:
  name: black
  language: python
  pass_filenames: false
  entry: black --config=pyproject.toml src

flake8:
  name: flak8
  language: python
  pass_filenames: false
  entry: pflake8 --config=pyproject.toml src

mypy:
  name: mypy
  language: python
  pass_filenames: false
  entry: mypy src/ --config-file=pyproject.toml

feat(i18n): add bk_domain/bk_component_api_url var
  src/saas/bkuser_shell/common/context_processors.py
  src/saas/bkuser_shell/config/common/platform.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(i18n): add bk_domain/bk_component_api_url var (#1082)
  src/saas/bkuser_shell/common/context_processors.py
  src/saas/bkuser_shell/config/common/platform.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: “帐号”调整为“账号” (#1081)
  src/api/bkuser_core/user_settings/migrations/0018_alter_local_password_mail_config.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: "帐号"调整为"账号"
  src/login/bklogin/templates/agreement.html
Due: Name check

fix: "帐号"调整为"账号" (#1083)
  src/login/bklogin/templates/agreement.html
Due: Name check

fix: 删除敏感信息
  src/pages/index.html
Due: Name check, IP check

fix: 删除敏感信息 (#1086)
  src/pages/index.html
Due: Name check, IP check

test(test): 单元测试补充
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/biz/data_source_handler.py
  src/bk-user/bkuser/biz/tenant_handler.py
  src/bk-user/bkuser/test/apps/__init__.py
  src/bk-user/bkuser/test/apps/tenant/__init__.py
  src/bk-user/bkuser/test/apps/tenant/test_validators.py
  src/bk-user/bkuser/test/biz/test_data_source_handler.py
  src/bk-user/bkuser/test/biz/test_tenant_handler.py
  src/bk-user/bkuser/test/conftest.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(sync task): support filter category
  src/api/bkuser_core/api/web/sync_task/serializers.py
  src/api/bkuser_core/api/web/sync_task/views.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(sync task): support filter category (#1087)
  src/api/bkuser_core/api/web/sync_task/serializers.py
  src/api/bkuser_core/api/web/sync_task/views.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(biz): 日志补充
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/biz/data_source_handler.py
  src/bk-user/bkuser/biz/tenant_handler.py
  src/bk-user/bkuser/test/conftest.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 数据更新记录
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/scss/bk_icon_font/demo.html
  src/pages/src/scss/bk_icon_font/fonts/iconcool.eot
  src/pages/src/scss/bk_icon_font/fonts/iconcool.svg
  src/pages/src/scss/bk_icon_font/fonts/iconcool.ttf
  src/pages/src/scss/bk_icon_font/fonts/iconcool.woff
  src/pages/src/scss/bk_icon_font/iconcool.js
  src/pages/src/scss/bk_icon_font/style.css
  src/pages/src/store/modules/catalog.js
  src/pages/src/views/catalog/dataUpdate.vue
  src/pages/src/views/organization/index.scss
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

fix(web/field): 修复字段名称更新和可编辑性不生效
  src/api/bkuser_core/api/web/field/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

feat: 数据更新记录
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/scss/bk_icon_font/demo.html
  src/pages/src/scss/bk_icon_font/fonts/iconcool.eot
  src/pages/src/scss/bk_icon_font/fonts/iconcool.svg
  src/pages/src/scss/bk_icon_font/fonts/iconcool.ttf
  src/pages/src/scss/bk_icon_font/fonts/iconcool.woff
  src/pages/src/scss/bk_icon_font/iconcool.js
  src/pages/src/scss/bk_icon_font/iconcool.json
  src/pages/src/scss/bk_icon_font/style.css
  src/pages/src/store/modules/catalog.js
  src/pages/src/views/catalog/dataUpdate.vue
  src/pages/src/views/organization/index.scss
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

fix(web/field): 修复字段名称更新和可编辑性不生效 (#1089)
  src/api/bkuser_core/api/web/field/serializers.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(web/profile): 保存用户失败提示优化
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: bug修复
  src/pages/src/components/organization/OperationConfig.vue
  src/pages/src/components/organization/mixin.js
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/scss/bk_icon_font/demo.html
  src/pages/src/scss/bk_icon_font/fonts/iconcool.eot
  src/pages/src/scss/bk_icon_font/fonts/iconcool.svg
  src/pages/src/scss/bk_icon_font/fonts/iconcool.ttf
  src/pages/src/scss/bk_icon_font/fonts/iconcool.woff
  src/pages/src/scss/bk_icon_font/iconcool.js
  src/pages/src/scss/bk_icon_font/iconcool.json
  src/pages/src/scss/bk_icon_font/style.css
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/mixin.js
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/setting/FieldsAdd.vue
  src/pages/static/blueking-icon/fonts/iconcool.eot
  src/pages/static/blueking-icon/fonts/iconcool.svg
  src/pages/static/blueking-icon/fonts/iconcool.ttf
  src/pages/static/blueking-icon/fonts/iconcool.woff
  src/pages/static/blueking-icon/iconcool.js
  src/pages/static/blueking-icon/iconcool.json
  src/pages/static/blueking-icon/style.css
Due: Name check, IP check

fix: 本地目录导入校验内置字段 #1094
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(tenant): reveiw修改，通用函数补充单测试
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/data_source_handler.py
  src/bk-user/bkuser/biz/tenant_handler.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/test/biz/test_data_source_handler.py
  src/bk-user/bkuser/test/biz/test_tenant_handler.py
  src/bk-user/bkuser/test/biz/test_validators.py
  src/bk-user/bkuser/test/utils/__init__.py
  src/bk-user/bkuser/test/utils/test_random.py
  src/bk-user/bkuser/test/utils/test_uuid.py
  src/bk-user/bkuser/utils/random.py
  src/bk-user/bkuser/utils/uuid.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(profile): 保存用户提示优化
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: 多条件查询分页 & bug修复
  src/pages/src/components/organization/mixin.js
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

refactor(password): 忘记密码功能，异常用户提示优化
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

feat(framework): init
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  docs/contributing.md
  docs/develop_guide.md
  docs/precautions/upgrade_from_2dot2.md
  docs/specification/commit.md
  docs/specification/review.md
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/data_source/apps.py
  src/bk-user/bkuser/apps/tenant/apps.py
  src/bk-user/bkuser/auth/apps.py
  src/bk-user/bkuser/auth/backends.py
  src/bk-user/bkuser/auth/models.py
  src/bk-user/bkuser/celery.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/local.py
  src/bk-user/bkuser/common/middlewares.py
  src/bk-user/bkuser/common/pagination.py
  src/bk-user/bkuser/common/renderers.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/component/esb.py
  src/bk-user/bkuser/component/http.py
  src/bk-user/bkuser/component/login.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/bkuser/utils/drf_tools.py
  src/bk-user/bkuser/utils/std_error.py
  src/bk-user/bkuser/wsgi.py
  src/bk-user/manage.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, isort, black, flake8, mypy

fix: bugfix
  src/pages/src/Header.vue
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/UserMaterial.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 本地目录导入校验内置字段 #1094
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/tests/categories/plugins/local/test_parsers.py
  src/api/bkuser_core/tests/categories/plugins/local/test_syncer.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: 本地目录导入校验内置字段 #1094 (#1097)
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
  src/api/bkuser_core/tests/categories/plugins/local/test_parsers.py
  src/api/bkuser_core/tests/categories/plugins/local/test_syncer.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: 样式优化
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

fix: 样式优化 (#1106)
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

fix(field): 变更展示字段，增加审计
  src/api/bkuser_core/api/web/audit/constants.py
  src/api/bkuser_core/api/web/field/views.py
  src/api/bkuser_core/audit/constants.py
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(field): cr
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(password): cr调整
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check, isort, black, flake8, mypy

refactor(profile): cr调整
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/profiles/v2/views.py
  src/api/bkuser_core/profiles/validators.py
Due: Name check, IP check, isort, black, flake8, mypy

fix: bugfix
  src/pages/src/Header.vue
  src/pages/src/components/organization/OperationConfig.vue
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/UserMaterial.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/mixin.js
  src/pages/src/views/organization/tree/OrganizationTree.vue
  src/pages/src/views/organization/tree/TreeSearch.vue
  src/pages/src/views/recycle/index.vue
  src/pages/src/views/recycle/tab/CategoryTab.vue
  src/pages/static/blueking-icon/fonts/iconcool.eot
  src/pages/static/blueking-icon/fonts/iconcool.svg
  src/pages/static/blueking-icon/fonts/iconcool.ttf
  src/pages/static/blueking-icon/fonts/iconcool.woff
  src/pages/static/blueking-icon/iconcool.js
  src/pages/static/blueking-icon/iconcool.json
  src/pages/static/blueking-icon/style.css
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  | src/pages/node_modules/*
)$

  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt)|src/pages/node_modules/|src/login/locale/|src/login/bklogin/templates/agreement.html
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
