Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

refactor: split large transaction in data source & tenant sync (#1886)
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/runners/__init__.py
  src/bk-user/bkuser/apps/sync/runners/data_source.py
  src/bk-user/bkuser/apps/sync/runners/tenant.py
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/apps/sync/syncers/__init__.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_department.py
  src/bk-user/bkuser/apps/sync/syncers/data_source_user.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_department.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_user.py
  src/bk-user/bkuser/apps/sync/validators.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/tests/apps/sync/conftest.py
  src/bk-user/tests/apps/sync/syncers/__init__.py
  src/bk-user/tests/apps/sync/syncers/conftest.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_department.py
  src/bk-user/tests/apps/sync/syncers/test_data_source_user.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_department.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

minor: resolve #1888 conversations
  src/bk-user/bkuser/apps/sync/context.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apps/sync/test_locks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style and test case
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed test case
  src/bk-user/tests/apis/web/data_source/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: clear login configuration when resetting data source (#1883)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(organization): added batch disable, extend, password reset, and update operations
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: updated translations and file naming
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check

bug_fix:修复组织架构删除用户后未重置分页，左侧异步搜索用户问题；用户目录导出时使用原生输入法搜索不到存在的数据问题 (#1882)
  src/pages/src/components/catalog/home/ExportUser.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/TreeSearch.vue
Due: Name check, IP check

resolve: fixed bulk updating logic
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open v2 api): fetch user department 404 when user is virtual user
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/open_v2/views/departments.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix(open v2 api): fetch user department 404 when user is virtual user (#1891)
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/open_v2/views/departments.py
  src/bk-user/bkuser/apis/open_v2/views/profilers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: added deleting disabled Idp
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change the variable name
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 将昨天文案改为最近一天
  src/pages/src/views/audit/index.vue
Due: Name check, IP check

fix：修复成员查询问题
  src/api/bkuser_core/api/web/department/views.py
Due: Name check, IP check

fix: redundant # Reviewed, transaction id: 15313
  src/pages/src/hooks/useInfoBoxContent.ts
Due: Name check, IP check

fix：修复成员查询问题
  src/api/bkuser_core/api/web/department/serializers.py
  src/api/bkuser_core/api/web/department/views.py
Due: Name check, IP check

resolve: fixed style and test case
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: fixed style and test case
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: added deleting disabled Idp (#1892)
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复【用户管理】组织架构搜索用户时，搜索范围不是当前目录，而是全局的问题
  src/pages/src/store/modules/organization.js
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复【用户管理】组织架构中仅显示本级组织成员选项，数字未及时更新问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

feat：部门下检索组织成员支持条件过滤 (#1895)
  src/api/bkuser_core/api/web/department/serializers.py
  src/api/bkuser_core/api/web/department/views.py
Due: Name check, IP check

fix: 修复【用户管理】组织架构搜索用户时，搜索范围不是当前目录，而是全局的问题&组织架构中仅显示本级组织成员选项，数字未及时更新问题&文案修改 (#1894)
  src/pages/src/store/modules/organization.js
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

resolve: fixed logic, style, and test case
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:适配查询递归同时返回本级成员总数
  src/api/bkuser_core/api/web/department/views.py
Due: Name check, IP check

fix: 修复【用户管理】组织架构查询用户接口传参问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复【用户管理】组织架构查询用户接口传参问题 (#1897)
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复查询递归组织成员返回匹配本级组织成员总数 (#1896)
  src/api/bkuser_core/api/web/department/views.py
Due: Name check, IP check

fix: 修复【用户管理】组织架构在有条件查询时，勾选仅显示本级组织成员时，表格数据未更新问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复【用户管理】组织架构在有条件查询时，勾选仅显示本级组织成员时，表格数据未更新问题 (#1898)
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复忘记密码，用户名爆破安全漏洞 (#1846)
  src/api/bkuser_core/api/web/password/serializers.py
  src/api/bkuser_core/api/web/password/verification_code_handler.py
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/config/common/django_basic.py
  src/pages/src/views/password/Sms.vue
Due: Name check, IP check

resolve: fixed logic and style
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(department): support department move
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/apis/web/organization/test_department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added verification code for updating phone and email
  src/bk-user/bkuser/apis/web/password/senders.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/common/verification_code/__init__.py
  src/bk-user/bkuser/common/verification_code/constants.py
  src/bk-user/bkuser/common/verification_code/managers.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
