Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^(src/pages/|src/bk-login/pages)
      - id: trailing-whitespace
        exclude: ^(src/pages/|src/bk-login/pages)
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info of name
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            src/bk-user/logs|
            src/pages/node_modules/
          )$
      - id: IP check
        name: Check sensitive info of ip
        verbose: true
        language: system
        exclude: >
          (?x)^(
            .*/\.env|
            .*/poetry\.lock|
            .*/pyproject\.toml|
            \.github/workflows/bk-user.yml|
            \.github/workflows/bk-login.yml|
            \.github/workflows/idp-plugins.yml|
            src/bk-user/logs|src/pages/node_modules/|
            src/bk-login/pages/src/views/components/protocol.vue|
            src/pages/static/bk_icon_font/iconcool.json|
            src/pages/static/bk_icon_font/iconcool.js|
            src/pages/paas-server/index.js|
            src/bk-login/pages/paas-server/index.js
          )$
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-user/pyproject.toml --force-exclude
        files: src/bk-user/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-user/pyproject.toml --force-exclude --fix
        files: src/bk-user/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-user/pyproject.toml
        files: src/bk-user/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-user && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-login/pyproject.toml --force-exclude
        files: src/bk-login/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-login/pyproject.toml --force-exclude --fix
        files: src/bk-login/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-login/pyproject.toml
        files: src/bk-login/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-login && lint-imports"
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude
        files: src/bk-plugins/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix
        files: src/idp-plugins/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/idp-plugins/pyproject.toml
        files: src/idp-plugins/

minor: resolve #1559 conversations
  src/bk-user/bkuser/apis/web/password/decorators.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1559 conversations
  src/bk-user/bkuser/apis/web/password/constants.py
  src/bk-user/bkuser/apis/web/password/senders.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/urls.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apps/notification/constants.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/verification_code/__init__.py
  src/bk-user/bkuser/common/verification_code/constants.py
  src/bk-user/bkuser/common/verification_code/exceptions.py
  src/bk-user/bkuser/common/verification_code/manager.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/notification/test_reset_password_token.py
  src/bk-user/tests/apps/notification/test_verification_code.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1559 conversations
  src/bk-user/bkuser/apis/web/password/tokens.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1559 conversations
  src/bk-user/bkuser/apis/web/password/senders.py
  src/bk-user/bkuser/apis/web/password/urls.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/common/verification_code/__init__.py
  src/bk-user/bkuser/common/verification_code/managers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

minor: update error tips
  src/bk-user/bkuser/apis/web/password/views.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1559 conversations
  src/bk-user/bkuser/apis/web/password/senders.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/tokens.py
  src/bk-user/bkuser/apis/web/password/urls.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/utils/time.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

minor: update slz name
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/tokens.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

feat: support reset password after forget (#1559)
  src/bk-user/bkuser/apis/web/password/__init__.py
  src/bk-user/bkuser/apis/web/password/constants.py
  src/bk-user/bkuser/apis/web/password/senders.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/tokens.py
  src/bk-user/bkuser/apis/web/password/urls.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/notification/constants.py
  src/bk-user/bkuser/apps/notification/helpers.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/verification_code/__init__.py
  src/bk-user/bkuser/common/verification_code/constants.py
  src/bk-user/bkuser/common/verification_code/exceptions.py
  src/bk-user/bkuser/common/verification_code/managers.py
  src/bk-user/bkuser/plugins/local/defaults.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/utils/time.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/tests/apis/web/password/__init__.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/notification/conftest.py
  src/bk-user/tests/apps/notification/test_notifier.py
  src/bk-user/tests/test_utils/data_source.py
Due: Name check, IP check, format, ruff, mypy

fix: can't ignore exception in cache ops
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

fix: can't ignore exception in cache ops (#1571)
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

minor: remove DELETED status
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_auto_20240125_1523.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: remove useless data source status filter
  src/bk-user/bkuser/apis/web/data_source/mixins.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/organization/views.py
Due: Name check, IP check, format, ruff, mypy

minor: update comments
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

refactor: remove data_source status field
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_remove_datasource_status.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/handlers.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/sync/periodic_tasks.py
  src/bk-user/bkuser/apps/sync/runners.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, format, ruff, mypy

minor: update comments
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, format, ruff, mypy

feat: add data source related resources api
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240124_1015.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240313_1650.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_remove_datasource_status.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, format, ruff, mypy

feat: add tenant related resources api
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: update comments
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1550 conversations
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1550 conversations
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/idp/urls.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

feat: add data source & tenant status manage (#1550)
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apis/open_v2/views/categories.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/idp/views.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apis/web/tenant/urls.py
  src/bk-user/bkuser/apis/web/tenant/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_auto_20240313_1650.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/handlers.py
  src/bk-user/bkuser/apps/notification/tasks.py
  src/bk-user/bkuser/apps/sync/periodic_tasks.py
  src/bk-user/bkuser/apps/sync/runners.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_auto_20240125_1523.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/apis/web/tenant/__init__.py
  src/bk-user/tests/apis/web/tenant/test_tenant.py
Due: Name check, IP check, format, ruff, mypy

feat: 添加忘记密码入口 #1570 # Reviewed, transaction id: 3896
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 用户忘记密码 #1570 # Reviewed, transaction id: 3900
  src/pages/src/app.vue
  src/pages/src/components/phoneInput.vue
  src/pages/src/hooks/use-validate.ts
  src/pages/src/http/resetPasswordFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/views/reset-password/email.vue
  src/pages/src/views/reset-password/emailSent.vue
  src/pages/src/views/reset-password/index.vue
  src/pages/src/views/reset-password/newPassword.vue
  src/pages/src/views/reset-password/phone.vue
Due: Name check, IP check

feat: 用户忘记密码 #1570 (#1575)
  src/pages/src/app.vue
  src/pages/src/components/phoneInput.vue
  src/pages/src/hooks/use-validate.ts
  src/pages/src/http/resetPasswordFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/router/index.ts
  src/pages/src/views/reset-password/email.vue
  src/pages/src/views/reset-password/emailSent.vue
  src/pages/src/views/reset-password/index.vue
  src/pages/src/views/reset-password/newPassword.vue
  src/pages/src/views/reset-password/phone.vue
Due: Name check, IP check

fix: 代码优化 #1570 # Reviewed, transaction id: 3919
  src/pages/src/app.vue
Due: Name check, IP check

fix: 代码优化 #1570 (#1577)
  src/pages/src/app.vue
Due: Name check, IP check

fix(bkuser): rasie exception when bk_token is invalid
  src/bk-user/bkuser/component/login.py
Due: Name check, IP check, format, ruff, mypy

fix(bkuser): rasie exception when bk_token is invalid (#1582)
  src/bk-user/bkuser/component/login.py
Due: Name check, IP check, format, ruff, mypy

feat(login): remove pycrypto pkg
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat: gunicron max-requests update to 10240
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/saas/bin/start.sh
Due: Name check, IP check

feat(login): remove pycrypto pkg (#1583)
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/bin/start.sh
Due: Name check, IP check

feat: remove pycrypto pkg and gunicron max-requests update to 10240
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat: remove pycrypto pkg and gunicron max-requests update to 10240
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/saas/bin/start.sh
Due: Name check, IP check

remove pycrypto pkg and gunicron max-requests update to 10240
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/bin/start.sh
Due: Name check, IP check

feat: remove pycrypto pkg
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

Remove pycrypto pkg2 (#1585)
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/bin/start.sh
Due: Name check, IP check

feat(bklogin): add pycryptodomex for login plugin
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): add pycryptodomex for login plugin (#1593)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat(bklogin): use pycryptodomex pkg replace pyCrypto
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none
