Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

resolve: solve some problems
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 修复状态展示和筛选项不一致
  src/pages/src/components/SyncRecords.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
Due: Name check, IP check

feat: 本地账密固定密码优化 # Reviewed, transaction id: 39821
  src/pages/src/components/passwordInput.vue
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/auth-config/LocalAccount.vue
Due: Name check, IP check

feat: audit check (#2016)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
Due: Name check, IP check

fix: audit table setting and table height (#2020)
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

feat: 批量续期(自定义) (#2043)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/batch-renewal.vue
Due: Name check, IP check

feat: batch renewal (#2046)
  src/pages/src/components/notify-editor/NotifyEditorTemplate.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/batch-renewal.vue
Due: Name check, IP check

fix: sideslide stop time polling while sync status done (#2048)
  src/pages/src/components/SyncRecords.vue
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
Due: Name check, IP check

style: 文案修改 (#2058)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/AdminSetting.vue
Due: Name check, IP check

feat: update apigw manager version
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update apigw manager version
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

fix: modify creator display_name for audit record
  src/bk-user/bkuser/common/views.py
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-web-apigateway/definition.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复v3.0.1-alpha.17若干问题 (#2090)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/components/SyncRecords.vue
  src/pages/src/components/notify-editor/NotifyEditorTemplate.vue
  src/pages/src/components/passwordInput.vue
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/operations-history/index.vue
  src/pages/src/views/operations-history/operations.ts
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/batch-renewal.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/auth-config/LocalAccount.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
Due: Name check, IP check

fix: modify creator display_name for audit record
  src/bk-user/bkuser/common/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 去掉 displayName组件
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/yarn.lock
Due: Name check, IP check

feat: update apigw manager version
  .github/workflows/bk-login.yml
Due: Name check

fix: modify creator display_name for audit record (#2089)
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-web-apigateway/definition.yaml
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update apigw manager version (#2091)
  .github/workflows/bk-login.yml
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: 去掉 displayName组件 (#2092)
  src/pages/package.json
  src/pages/src/app.vue
  src/pages/yarn.lock
Due: Name check, IP check

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/views/relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query department user relation for openapi (#2087)
  src/bk-user/bkuser/apis/open_v3/serializers/relation.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user_relation.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_user_relation.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query department relation for openapi (#2088)
  src/bk-user/bkuser/apis/open_v3/serializers/relation.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_relation.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_relation.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 切换pageSize表头消失 & 批量重置loading # Reviewed, transaction id: 40350
  src/pages/src/components/passwordInput.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: 切换pageSize表头消失、批量重置loading (#2093)
  src/pages/src/components/passwordInput.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: added password expiration time
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/test_utils/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query user leader relation for openapi
  src/bk-user/bkuser/apis/open_v3/serializers/relation.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_leader_relation.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_leader_relation.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: added password expiration time
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: added password expiration time
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added user status for OpenApi & OpenWeb
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/retrieve_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/retrieve_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_user.md
  src/bk-user/tests/apis/open_v3/test_department.py
  src/bk-user/tests/apis/open_v3/test_user.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: added password expiration time (#2094)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/test_utils/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 优化导入数据提示 & 优化重置密码loading # Reviewed, transaction id: 40804
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
