Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat(django cmd): create tenant
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/constants.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/apis/apigw/urls.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/apigw/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

fix: unittest
  src/bk-login/tests/open_apis/test_bk_token.py
Due: Name check, IP check, mypy, format, ruff

feat(django cmd): create tenant (#2056)
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/constants.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-login/bklogin/open_apis/urls.py
  src/bk-login/bklogin/open_apis/views.py
  src/bk-login/bklogin/settings.py
  src/bk-login/tests/open_apis/test_bk_token.py
  src/bk-user/bkuser/apis/apigw/urls.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/apigw/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: modify api
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_user.md
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/constants.py
  src/bk-user/bkuser/apis/open_web/serializers/tenants.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/tenants.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/retrieve_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
  src/bk-user/tests/apis/open_web/test_tenant.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_data_source_owner_tenant.md
Due: Name check, IP check

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/serializers/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/views/tenants.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: modify diaplay name to display information
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query root department for openapi
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_descendant.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_descendant.md
  src/bk-user/tests/apis/open_v3/test_department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

docs: added max page size for openapi docs
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_descendant.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_descendant.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_user.md
Due: Name check, IP check

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added search user (#2055)
  src/bk-user/bkuser/apis/open_web/serializers.py
  src/bk-user/bkuser/apis/open_web/serializers/__init__.py
  src/bk-user/bkuser/apis/open_web/serializers/tenants.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/tenants.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/settings.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_data_source_owner_tenant.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/open_web/test_display_info.py
  src/bk-user/tests/apis/open_web/test_tenant.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/test_utils/data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

style: 文案修改 # Reviewed, transaction id: 34236
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/AdminSetting.vue
Due: Name check, IP check

style: 文案修改 (#2058)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/AdminSetting.vue
Due: Name check, IP check

style: modify display name to display information (#2057)
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_query_user_display_info.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added grant permissions for app
  src/bk-user/support-files/bin/sync-bk-user-apigateway.sh
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

feat: added grant permissions for app (#2060)
  src/bk-user/support-files/bin/sync-bk-user-apigateway.sh
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check

docs: added max page size for openapi docs (#2059)
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_descendant.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_descendant.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_user.md
Due: Name check, IP check

feat: added the WeChat ID field to the output of user sensitive information api
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_sensitive_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_sensitive_info.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added the WeChat ID field to the output of user sensitive information api
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added the WeChat ID field to the output of user sensitive information api (#2061)
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_sensitive_info.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_sensitive_info.md
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query root department for openapi
  src/bk-user/bkuser/apis/open_v3/views/department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/views/department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added selector for department
  src/bk-user/bkuser/apis/open_web/mixins.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/bkuser/apis/open_web/views/__init__.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_department.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_department_children.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_virtual_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_department.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_department.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_department_children.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_department_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_virtual_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_department.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/resources.yaml
  src/bk-user/tests/apis/open_web/test_department.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added selector for department
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added selector for department
  src/bk-user/bkuser/apis/open_web/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added selector for department
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added root department for api
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/tests/apis/open_v3/test_department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

style: modify error message for openapi
  src/bk-user/bkuser/apis/open_v3/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added selector for department
  src/bk-user/bkuser/apis/open_web/urls.py
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/list_department_child.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/list_department_child.md
  src/bk-user/tests/apis/open_web/test_department.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify tenant_id regex
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify tenant id regex (#2065)
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy
