Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

fix(log): miss log when log write is file (#1849)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/bkuser_global/logging.py
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: Name check, IP check

resolve: improve error message clarity
  src/bk-user/bkuser/plugins/general/constants.py
Due: Name check, IP check, format, ruff, mypy

resolve: improve error message clarity
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/plugin.py
Due: Name check, IP check, format, ruff, mypy

resolve: updated datetime fetching logic and added default config date
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

fix: improve general http data source plugin error message clarity (#1844)
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/plugin.py
Due: Name check, IP check, format, ruff, mypy

resolve: updated datetime fetching logic and removed default config date
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

resolve: updated datetime fetching logic
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

feat(bk-user): enable expiration date setting in organization (#1837)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

fix(bk-user): allow fuzzy comparison between expiration dates
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, format, ruff, mypy

resolve: improved comment clarity
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, format, ruff, mypy

resolve: improved comment clarity
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
Due: Name check, IP check, format, ruff, mypy

fix(bk-user): allow fuzzy comparison between expiration dates (#1850)
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/common/constants.py
Due: Name check, IP check, format, ruff, mypy

feat: 组织架构支持管理员管理账号有效期&&支持自定义登录插件配置 # Reviewed, transaction id: 12972
  src/pages/package.json
  src/pages/src/components/schema-form/SchemaForm.vue
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
Due: Name check, IP check

feat：选择租户界面增加用户协议 # Reviewed, transaction id: 12993
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: poetry install miss packages
  src/bk-user/Dockerfile
  src/bk-user/poetry.lock
Due: Name check, IP check

fix: poetry install miss packages
  src/bk-login/Dockerfile
  src/bk-login/poetry.lock
Due: Name check, IP check

fix: poetry must install without any cache in dockerfile (#1852)
  src/bk-login/Dockerfile
  src/bk-login/poetry.lock
  src/bk-user/Dockerfile
  src/bk-user/poetry.lock
Due: Name check, IP check

feat: 组织架构支持管理员管理账号有效期&&支持自定义登录插件配置 (#1851)
  src/bk-login/pages/src/views/home.vue
  src/pages/package.json
  src/pages/src/components/schema-form/SchemaForm.vue
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
Due: Name check, IP check

feat: 续期展示逻辑修改&&添加国际化 # Reviewed, transaction id: 13268
  src/pages/src/components/MemberSelector.vue
  src/pages/src/language/en.json
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
Due: Name check, IP check

refactor: cr 调整
  src/api/bkuser_core/api/web/password/views.py
  src/api/bkuser_core/config/common/django_basic.py
Due: Name check, IP check

校验逻辑处理 # Reviewed, transaction id: 13289
  src/pages/src/views/setting/auth-config/WeCom.vue
Due: Name check, IP check

feat(orginization): add direct expiry date update api
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

resolve: fix style
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

feat(orginization): add direct expiry date update api (#1858)
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/tests/apis/web/organization/test_user.py
Due: Name check, IP check, format, ruff, mypy

feat: add translation for internationalization
  src/bk-user/locale/en/LC_MESSAGES/django.mo
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.mo
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.po
Due: Name check, IP check

feat(python pkg): modify installed method from poetry to requirement.txt
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
  .pre-commit-config.yaml
  src/bk-login/Dockerfile
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/Dockerfile
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check

fix: mypy
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .pre-commit-config.yaml
  src/bk-login/bklogin/component/http.py
  src/idp-plugins/idp_plugins/http.py
Due: Name check, IP check, format, ruff, mypy

resolve: fix translation punctuations
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.mo
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.po
Due: Name check, IP check

fix: mypy
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
Due: Name check, IP check

feat(python pkg): modify installed method from poetry to requirement.txt (#1860)
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
  .pre-commit-config.yaml
  src/bk-login/Dockerfile
  src/bk-login/bklogin/component/http.py
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/Dockerfile
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/idp_plugins/http.py
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, format, ruff, mypy

优化自定义登录&&续期接口联调 # Reviewed, transaction id: 13452
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Custom.vue
  src/pages/src/views/setting/auth-config/CustomView.vue
  src/pages/src/views/tenant/OperationDetails.vue
Due: Name check, IP check

feat: 续期展示逻辑修改&&添加国际化 (#1854)
  src/pages/src/components/MemberSelector.vue
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Custom.vue
  src/pages/src/views/setting/auth-config/CustomView.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
  src/pages/src/views/tenant/OperationDetails.vue
Due: Name check, IP check

refactor(locale): renamed language codes for consistency
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
  src/bk-user/locale/en_us/LC_MESSAGES/django.mo
  src/bk-user/locale/en_us/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.mo
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check, format, ruff, mypy

refactor(locale): removed old languages
  src/bk-user/locale/en/LC_MESSAGES/django.mo
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.mo
  src/bk-user/locale/zh_Hans/LC_MESSAGES/django.po
Due: Name check, IP check

refactor(locale): removed bklogin language setting
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, format, ruff, mypy

feat(bkuser locale): add model translation
  src/bk-user/bin/start.sh
  src/bk-user/bkuser/apps/data_source/migrations/0004_add_translation_fields.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_add_translation_values.py
  src/bk-user/bkuser/apps/data_source/translation.py
  src/bk-user/bkuser/apps/idp/migrations/0003_add_translation_fields.py
  src/bk-user/bkuser/apps/idp/migrations/0004_add_translation_values.py
  src/bk-user/bkuser/apps/idp/translation.py
  src/bk-user/bkuser/apps/tenant/migrations/0006_alter_tenantuser_time_zone.py
  src/bk-user/bkuser/apps/tenant/migrations/0007_add_translation_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0008_add_translation_values.py
  src/bk-user/bkuser/apps/tenant/translation.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/bkuser/settings.py
  src/bk-user/locale/en_USA/LC_MESSAGES/django.po
  src/bk-user/locale/en_us/LC_MESSAGES/django.mo
  src/bk-user/locale/zh_CHN/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.mo
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/tests/apis/web/idp/test_idp.py
Due: Name check, IP check, format, ruff, mypy

feat(bkuser locale): renamed locale folder
  src/bk-user/locale/en_US/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

resolve: fixed style
  src/bk-user/bkuser/apps/data_source/translation.py
  src/bk-user/bkuser/apps/idp/translation.py
  src/bk-user/bkuser/apps/tenant/translation.py
Due: Name check, IP check, format, ruff, mypy

resolve: added new poetry lock content hash
  src/bk-user/poetry.lock
Due: none

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
