Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

feat(bkuser): virtual user web api
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/__init__.py
  src/bk-user/bkuser/apis/web/virtual_user/mixins.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/models.py
Due: Name check, IP check, format, ruff, mypy

fix: 修复在目录下添加根组织，点击其他有数据的组织会显示暂无组织成员，需刷新页面的问题
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

fix: 修复组织架构-搜索框跨页搜索时报错的问题
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputPhone.vue
Due: Name check, IP check

fix: 修复组件属性值类型不准确，导致控制台报错的问题
  src/pages/src/views/organization/details/InputComponents.vue
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

fix: unittest
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

fix: cr
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, format, ruff, mypy

feat(bkuser): virtual user web api (#1632)
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/__init__.py
  src/bk-user/bkuser/apis/web/virtual_user/mixins.py
  src/bk-user/bkuser/apis/web/virtual_user/serializers.py
  src/bk-user/bkuser/apis/web/virtual_user/urls.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/models.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, format, ruff, mypy

fix: 前端组件漏洞升级 #1635 # Reviewed, transaction id: 5510
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/yarn.lock
Due: Name check, IP check

fix: 前端组件漏洞升级 #1635 (#1636)
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/yarn.lock
Due: Name check, IP check

fix: upgrade dep pkg which has CVE
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

fix: upgrade dep pkg which has CVE (#1638)
  src/api/poetry.lock
  src/api/pyproject.toml
  src/login/poetry.lock
  src/login/pyproject.toml
  src/saas/poetry.lock
  src/saas/pyproject.toml
Due: none

fix: upgrade dep pkg
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: cr
  src/bk-user/pyproject.toml
Due: none

fix: cr
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: none

fix: upgrade dep pkg (#1639)
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bkuser/apis/web/virtual_user/views.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix：2.5.3修复 (#1634)
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputComponents.vue
  src/pages/src/views/organization/details/InputPhone.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/tree/OrganizationTree.vue
Due: Name check, IP check

fix: 2.5.3 修复 (#1619)
  src/api/bkuser_core/api/web/field/serializers.py
  src/api/bkuser_core/api/web/profile/serializers.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/audit/models.py
  src/api/bkuser_core/common/error_codes.py
  src/pages/src/Header.vue
Due: Name check, IP check

fix: 体验问题修复 #1629 # Reviewed, transaction id: 5653
  src/pages/src/components/layouts/DataSourceCard.vue
  src/pages/src/hooks/index.ts
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/hooks/useInfoBoxContent.ts
  src/pages/src/http/tenantsFiles.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/Success.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: 体验问题修复 #1629 (#1640)
  src/pages/src/components/layouts/DataSourceCard.vue
  src/pages/src/hooks/index.ts
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/hooks/useInfoBoxContent.ts
  src/pages/src/http/tenantsFiles.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/setting/AdminSetting.vue
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/Success.vue
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat: 虚拟账号联调 #1637 # Reviewed, transaction id: 5672
  src/pages/src/components/phoneInput.vue
  src/pages/src/hooks/useValidate.ts
  src/pages/src/http/index.ts
  src/pages/src/http/types/virtualAccount.ts
  src/pages/src/http/virtualAccount.ts
  src/pages/src/router/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/audit/index.vue
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

feat: 虚拟账号联调 #1637 (#1641)
  src/pages/src/components/phoneInput.vue
  src/pages/src/hooks/useValidate.ts
  src/pages/src/http/index.ts
  src/pages/src/http/types/virtualAccount.ts
  src/pages/src/http/virtualAccount.ts
  src/pages/src/router/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/audit/index.vue
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
Due: Name check, IP check

fix: window.open #1626 # Reviewed, transaction id: 5800
  src/pages/package.json
  src/pages/src/common/auth.ts
  src/pages/src/http/fetch/error-interceptor.ts
  src/pages/src/http/fetch/index.ts
  src/pages/src/main.ts
  src/pages/src/views/Header.vue
  src/pages/static/login_success.html
  src/pages/yarn.lock
Due: Name check, IP check

fix: window.open #1626 (#1642)
  src/pages/package.json
  src/pages/src/common/auth.ts
  src/pages/src/http/fetch/error-interceptor.ts
  src/pages/src/http/fetch/index.ts
  src/pages/src/main.ts
  src/pages/src/views/Header.vue
  src/pages/static/login_success.html
  src/pages/yarn.lock
Due: Name check, IP check

fix: 体验问题修复 #1641 # Reviewed, transaction id: 5925
  src/pages/src/common/auth.ts
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/static/login_success.html
Due: Name check, IP check

fix: 体验问题修复 #1641 (#1645)
  src/pages/src/common/auth.ts
  src/pages/src/views/virtual-account/EditDetails.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/static/login_success.html
Due: Name check, IP check

fix: blue-krill update to 1.2.7
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

fix: blue-krill update to 1.2.7 (#1646)
  src/login/poetry.lock
  src/login/pyproject.toml
Due: none

feat: 登录跳转联调 # Reviewed, transaction id: 5984
  src/pages/src/common/auth.ts
Due: Name check, IP check

feat: 登录跳转修复 (#1647)
  src/pages/src/common/auth.ts
Due: Name check, IP check

feat: 登录跳转联调 # Reviewed, transaction id: 5985
  src/pages/src/common/auth.ts
  src/pages/static/login_success.html
Due: Name check, IP check

feat: 登录跳转联调 (#1648)
  src/pages/src/common/auth.ts
  src/pages/static/login_success.html
Due: Name check, IP check

feat: 登录跳转联调 # Reviewed, transaction id: 5999
  src/pages/src/common/auth.ts
  src/pages/static/login_success.html
Due: Name check, IP check

feat: 登录跳转联调 (#1649)
  src/pages/src/common/auth.ts
  src/pages/static/login_success.html
Due: Name check, IP check

feat: 登录跳转 # Reviewed, transaction id: 6010
  src/pages/src/common/auth.ts
  src/pages/src/http/fetch/index.ts
Due: Name check, IP check

feat: 登录跳转 # Reviewed, transaction id: 6011
  bkcodeai.json
  src/pages/src/http/fetch/index.ts
Due: Name check, IP check

feat: 登录跳转 (#1650)
  bkcodeai.json
  src/pages/src/common/auth.ts
  src/pages/src/http/fetch/index.ts
Due: Name check, IP check

feat: add create and update tenant dept apis
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, format, ruff, mypy

test: add tenant dept api unittests
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apis/web/data_source/test_plugin.py
  src/bk-user/tests/apis/web/organization/__init__.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_department.py
  src/bk-user/tests/apis/web/organization/test_tenant.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apps/sync/test_context.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1651 conversations
  src/bk-user/bkuser/apis/web/organization/serializers.py
  src/bk-user/bkuser/apis/web/organization/views.py
  src/bk-user/tests/apis/web/organization/conftest.py
Due: Name check, IP check, format, ruff, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
