Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, format, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --force-exclude

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/idp-plugins/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

fix: not url match when login sucess (#1661)
  src/pages/src/api/index.js
  src/saas/bkuser_shell/proxy/views.py
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

fix: minor
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

fix: minor (#1662)
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

feat: add user batch operation apis
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/common/serializers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

feat: 登录配置联调 #1643 # Reviewed, transaction id: 6564
  src/pages/src/common/auth.ts
  src/pages/src/hooks/useCustomPlugin.ts
  src/pages/src/http/authSourceFiles.ts
  src/pages/src/http/types/authSourceFiles.ts
  src/pages/src/views/auth-source/List.vue
  src/pages/src/views/auth-source/ViewDetails.vue
  src/pages/src/views/auth-source/edit-data/CustomPlugin.vue
  src/pages/src/views/auth-source/edit-data/Local.vue
  src/pages/src/views/auth-source/edit-data/WeCom.vue
  src/pages/src/views/auth-source/edit-data/index.vue
  src/pages/src/views/auth-source/index.vue
  src/pages/src/views/auth-source/new-data/CustomPlugin.vue
  src/pages/src/views/auth-source/new-data/WeCom.less
  src/pages/src/views/auth-source/new-data/WeCom.vue
  src/pages/src/views/auth-source/new-data/config.vue
  src/pages/src/views/auth-source/new-data/index.vue
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/collaborative-data/OperationDetails.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/ConfigInfo.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/PswInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/ViewUser.vue
  src/pages/src/views/data-source/local-details/index.vue
  src/pages/src/views/data-source/new-data/Http.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/data-source/new-data/index.less
  src/pages/src/views/data-source/new-data/index.vue
  src/pages/src/views/data-source/new-data/query-params/QueryParams.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/LocalView.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/auth-config/WeComView.vue
  src/pages/static/login_success.html
Due: Name check, IP check

feat: 登录配置联调 #1643 (#1663)
  src/pages/src/common/auth.ts
  src/pages/src/hooks/useCustomPlugin.ts
  src/pages/src/http/authSourceFiles.ts
  src/pages/src/http/types/authSourceFiles.ts
  src/pages/src/views/auth-source/List.vue
  src/pages/src/views/auth-source/ViewDetails.vue
  src/pages/src/views/auth-source/edit-data/CustomPlugin.vue
  src/pages/src/views/auth-source/edit-data/Local.vue
  src/pages/src/views/auth-source/edit-data/WeCom.vue
  src/pages/src/views/auth-source/edit-data/index.vue
  src/pages/src/views/auth-source/index.vue
  src/pages/src/views/auth-source/new-data/CustomPlugin.vue
  src/pages/src/views/auth-source/new-data/WeCom.less
  src/pages/src/views/auth-source/new-data/WeCom.vue
  src/pages/src/views/auth-source/new-data/config.vue
  src/pages/src/views/auth-source/new-data/index.vue
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/collaborative-data/OperationDetails.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/ConfigInfo.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/PswInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/ViewUser.vue
  src/pages/src/views/data-source/local-details/index.vue
  src/pages/src/views/data-source/new-data/Http.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/data-source/new-data/index.less
  src/pages/src/views/data-source/new-data/index.vue
  src/pages/src/views/data-source/new-data/query-params/QueryParams.vue
  src/pages/src/views/setting/BasicsSetting.vue
  src/pages/src/views/setting/LoginSetting.vue
  src/pages/src/views/setting/auth-config/Local.vue
  src/pages/src/views/setting/auth-config/LocalView.vue
  src/pages/src/views/setting/auth-config/WeCom.vue
  src/pages/src/views/setting/auth-config/WeComView.vue
  src/pages/static/login_success.html
Due: Name check, IP check

feat: support parse user_info when batch create users
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

refactor: optional apis add force limit
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

2.x window open login (#1667)
  .gitignore
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/src/App.vue
  src/pages/src/api/index.js
  src/pages/static/login_success.html
  src/pages/yarn.lock
  src/saas/bkuser_shell/proxy/views.py
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

feat: window open login
  .gitignore
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/src/App.vue
  src/pages/src/api/index.js
  src/pages/static/login_success.html
  src/pages/yarn.lock
  src/saas/bkuser_shell/proxy/views.py
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

feat: window open login (#1668)
  .gitignore
  src/pages/package-lock.json
  src/pages/package.json
  src/pages/src/App.vue
  src/pages/src/api/index.js
  src/pages/static/login_success.html
  src/pages/yarn.lock
  src/saas/bkuser_shell/proxy/views.py
  src/saas/bkuser_shell/urls.py
Due: Name check, IP check

feat: add version log Feature
  src/bk-user/Dockerfile
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apis/web/version_log/__init__.py
  src/bk-user/bkuser/apis/web/version_log/constants.py
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/bkuser/apis/web/version_log/serializers.py
  src/bk-user/bkuser/apis/web/version_log/urls.py
  src/bk-user/bkuser/apis/web/version_log/views.py
  src/bk-user/bkuser/settings.py
  src/bk-user/version_log/change_log.md
  src/bk-user/version_log/change_log_en.md
Due: Name check, IP check, format, ruff, mypy

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, format, ruff, mypy

feat: add bk_notice 、doc url、feedback url
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
Due: Name check, IP check, format, ruff, mypy

fix: cr
  src/bk-user/bkuser/apis/web/version_log/constants.py
  src/bk-user/version_log/changelog.md
  src/bk-user/version_log/changelog_en.md
Due: Name check, IP check, format, ruff, mypy

fix: cr
  .github/workflows/bk-user.yml
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

fix: cr
  .github/workflows/bk-user.yml
Due: Name check

Add version log and notice (#1669)
  .github/workflows/bk-user.yml
  src/bk-user/Dockerfile
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apis/web/version_log/__init__.py
  src/bk-user/bkuser/apis/web/version_log/constants.py
  src/bk-user/bkuser/apis/web/version_log/file_extractor.py
  src/bk-user/bkuser/apis/web/version_log/serializers.py
  src/bk-user/bkuser/apis/web/version_log/urls.py
  src/bk-user/bkuser/apis/web/version_log/views.py
  src/bk-user/bkuser/common/views.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/version_log/changelog.md
  src/bk-user/version_log/changelog_en.md
Due: Name check, IP check, format, ruff, mypy

feat: 组织架构侧边栏 #1610 # Reviewed, transaction id: 6689
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/app.ts
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/aside.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/index.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: 组织架构侧边栏 #1610
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/views/organization/components/aside-tenant.vue
Due: Name check, IP check

fix: env() -> env.str()
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

fix: env() -> env.str() (#1671)
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

feat: 组织架构侧边栏 #1610 (#1670)
  src/pages/src/components/Empty.vue
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/store/app.ts
  src/pages/src/types/organization.d.ts
  src/pages/src/views/organization/components/aside-collaboration.vue
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/index3.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: 消息通知 & 版本日志 #1666 # Reviewed, transaction id: 6742
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/package.json
  src/pages/src/http/api.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/types/global.d.ts
  src/pages/yarn.lock
Due: Name check, IP check

feat: 消息通知 & 版本日志 #1666 (#1673)
  src/pages/.bk.production.env
  src/pages/index.html
  src/pages/package.json
  src/pages/src/http/api.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/virtual-account/index.vue
  src/pages/types/global.d.ts
  src/pages/yarn.lock
Due: Name check, IP check

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/mixins.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

feat: 搜索组织 # Reviewed, transaction id: 6801
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

minor: resolve #1664 conversations
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

fix: release-note # Reviewed, transaction id: 6812
  src/pages/yarn.lock
Due: Name check, IP check

feat: organization apis -> user and batch operation (#1664)
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/departments.py
  src/bk-user/bkuser/apis/web/organization/serializers/tenants.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/organization/views/mixins.py
  src/bk-user/bkuser/apis/web/organization/views/tenants.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/biz/organization.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/serializers.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, format, ruff, mypy

fix: 依赖冲突 # Reviewed, transaction id: 6816
  src/bk-user/Dockerfile
Due: Name check, IP check

fix: 依赖冲突 (#1675)
  src/bk-user/Dockerfile
Due: Name check, IP check

refactor: dept-user relation batch operation apis
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/relations.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

minor: current_department_id -> source_department_id
  src/bk-user/bkuser/apis/web/organization/serializers/relations.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
Due: Name check, IP check, format, ruff, mypy

refactor: dept-user relation batch operation apis (#1676)
  src/bk-user/bkuser/apis/web/organization/serializers/__init__.py
  src/bk-user/bkuser/apis/web/organization/serializers/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/serializers/relations.py
  src/bk-user/bkuser/apis/web/organization/serializers/users.py
  src/bk-user/bkuser/apis/web/organization/urls.py
  src/bk-user/bkuser/apis/web/organization/views/__init__.py
  src/bk-user/bkuser/apis/web/organization/views/batch_operations.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
Due: Name check, IP check, format, ruff, mypy

feat: 组织树体验问题修复 # Reviewed, transaction id: 6905
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/organization/components/search.vue
  src/pages/src/views/organization/index.vue
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  format: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/bk-plugins/ and \.py$)
  ruff: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
