Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

feat: added operation audit for department and virtual user
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apis/web/virtual_user/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added operation audit for personal center and tenant
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for data source and user
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/views/mixins.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
  src/bk-user/bkuser/apps/audit/models.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/bkuser/utils/django.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for data source and user
  src/bk-user/bkuser/apis/web/audit/__init__.py
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/urls.py
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/organization/views/relations.py
  src/bk-user/bkuser/apis/web/organization/views/users.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
  src/bk-user/bkuser/apps/audit/models.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/bkuser/biz/auditor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for web api and data source
  src/bk-user/bkuser/apis/web/audit/__init__.py
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/urls.py
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/urls.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
  src/bk-user/bkuser/apps/audit/models.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/bkuser/utils/django.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for web api and data source
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/audit/data_models.py
  src/bk-user/bkuser/apps/audit/recorder.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for web api and data source
  src/bk-user/bkuser/apps/audit/recorder.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for data source and user
  src/bk-user/bkuser/apps/audit/recorder.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for web api and data source
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/recorder.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added audit operation for web api
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/urls.py
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/data_models.py
  src/bk-user/bkuser/apps/audit/recorder.py
  src/bk-user/bkuser/utils/django.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added i18n
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check

feat: added web api for audit
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-login/bklogin/monitoring/metrics/urls.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/monitoring/metrics/urls.py
  src/bk-user/bkuser/plugins/constants.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/urls.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: update dependencies for project
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
Due: Name check

resolve: added pagination for queryset
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: added pagination for queryset
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-login/bklogin/common/error_codes.py
  src/bk-login/bklogin/component/bk_user/constants.py
  src/bk-login/bklogin/open_apis/compatibility/constants.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/apis/web/password/constants.py
  src/bk-user/bkuser/apis/web/personal_center/constants.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/apps/idp/constants.py
  src/bk-user/bkuser/apps/notification/constants.py
  src/bk-user/bkuser/apps/permission/constants.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/management/commands/release_sync_lock.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/constants.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/common/locks.py
  src/bk-user/bkuser/common/passwd/constants.py
  src/bk-user/bkuser/common/verification_code/constants.py
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/settings.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/idp_plugins/constants.py
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements_dev.txt
Due: Name check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements_dev.txt
Due: Name check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

feat: update dependencies for project
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

resolve: change code style
  src/bk-user/bkuser/apis/web/audit/serializers.py
  src/bk-user/bkuser/apis/web/audit/urls.py
  src/bk-user/bkuser/apis/web/audit/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: change code style
  src/bk-user/bkuser/apis/web/audit/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added unit test cases
  src/bk-user/tests/apis/web/audit/__init__.py
  src/bk-user/tests/apis/web/audit/conftest.py
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: update dependencies for project
  src/bk-user/bkuser/settings.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/apis/conftest.py
  src/bk-user/tests/apis/open_v1/conftest.py
  src/bk-user/tests/apis/open_v2/conftest.py
  src/bk-user/tests/apis/open_v2/test_departments.py
  src/bk-user/tests/apis/web/collaboration/conftest.py
  src/bk-user/tests/apis/web/data_source/conftest.py
  src/bk-user/tests/apis/web/idp/test_idp.py
  src/bk-user/tests/apis/web/organization/conftest.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apis/web/password/test_password.py
  src/bk-user/tests/apis/web/personal_center/test_personal_center.py
  src/bk-user/tests/apis/web/tenant_setting/conftest.py
  src/bk-user/tests/apps/data_source/test_models.py
  src/bk-user/tests/apps/notification/conftest.py
  src/bk-user/tests/apps/notification/test_notifier.py
  src/bk-user/tests/apps/sync/conftest.py
  src/bk-user/tests/apps/sync/runners/conftest.py
  src/bk-user/tests/apps/sync/runners/test_data_source.py
  src/bk-user/tests/apps/sync/syncers/conftest.py
  src/bk-user/tests/apps/sync/test_converters.py
  src/bk-user/tests/apps/sync/test_handlers.py
  src/bk-user/tests/apps/sync/test_validators.py
  src/bk-user/tests/apps/tenant/test_utils.py
  src/bk-user/tests/common/hashers/conftest.py
  src/bk-user/tests/common/passwd/conftest.py
  src/bk-user/tests/common/passwd/test_rules.py
  src/bk-user/tests/common/passwd/test_validator.py
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/fixtures/tenant.py
  src/bk-user/tests/plugins/conftest.py
  src/bk-user/tests/plugins/general/test_plugin.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/local/conftest.py
  src/bk-user/tests/plugins/local/test_plugin.py
  src/bk-user/tests/utils/test_tree.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: update dependencies for project
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
Due: Name check, IP check, mypy, requirements-export, requirements-dev-export, format, ruff

feat: update dependencies for project
  src/idp-plugins/pyproject.toml
Due: none

feat: update dependencies for project
  .github/workflows/idp-plugins.yml
Due: Name check

resolve: change ORM query
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: added unit-test cases
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: added pagination for queryset
  src/bk-user/bkuser/apis/web/audit/views.py
  src/bk-user/tests/apis/web/audit/test_audit.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
