Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

resolve: solve some problems
  src/bk-user/bkuser/apis/open_v3/serializers/relation.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_leader_relation.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_leader_relation.md
  src/bk-user/tests/apis/open_v3/test_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

resolve: solve some problems
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/retrieve_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
Due: Name check, IP check

fix: 优化导入数据提示 & 优化重置密码loading (#2097)
  src/pages/src/components/import-dialog/import-dialog.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/fast-input-dialog.vue
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: added user status for OpenApi & OpenWeb (#2096)
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/retrieve_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_department_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/retrieve_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/en/search_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-web-apigateway/apidocs/zh/search_user.md
  src/bk-user/tests/apis/open_v3/test_department.py
  src/bk-user/tests/apis/open_v3/test_user.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added query user leader relation for openapi (#2095)
  src/bk-user/bkuser/apis/open_v3/serializers/relation.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/relation.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/list_user_leader_relation.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/list_user_leader_relation.md
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_relation.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 合并pending running为同步中 # Reviewed, transaction id: 41049
  src/pages/src/components/SyncRecords.vue
Due: Name check, IP check

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/urls.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/migrations/0009_tenantuserdisplaynameexpressionconfig.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/open_web/test_user.py
  src/bk-user/tests/apis/web/tenant_setting/conftest.py
  src/bk-user/tests/apis/web/tenant_setting/test_display_name_expression.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/web/platform_management/views.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

opt: 账号有效期优化
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputComponents.vue
Due: Name check, IP check

opt: 优化样式
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputComponents.vue
Due: Name check, IP check

feat:部门表的code长度增加到255
  src/api/bkuser_core/departments/migrations/0007_alter_department_code.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/migrations/0029_alter_profile_index_together_alter_profile_time_zone.py
Due: Name check, IP check

feat:通过根据条件统一掩盖敏感登录错误，返回通用的 PASSWORD_ERROR，避免暴力破解攻击
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/common/error_codes.py
  src/api/bkuser_core/config/common/system.py
Due: Name check, IP check

feat:登录异常信息提示优化
  src/api/bkuser_core/common/error_codes.py
Due: Name check, IP check

fix:修复组建升级admin无权限缺陷
  src/saas/bkuser_shell/config/overlays/prod.py
  src/saas/bkuser_shell/config/overlays/stag.py
Due: Name check, IP check

Dev/2.5.3/xjd beta.24 optimize.1 (#2105)
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/common/error_codes.py
  src/api/bkuser_core/config/common/system.py
  src/api/bkuser_core/departments/migrations/0007_alter_department_code.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/migrations/0029_alter_profile_index_together_alter_profile_time_zone.py
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputComponents.vue
  src/saas/bkuser_shell/config/overlays/prod.py
  src/saas/bkuser_shell/config/overlays/stag.py
Due: Name check, IP check

feat: added custom expression config for display name
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat(settings.py): support tls for third-party storage connections
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: 用户详情新增密码过期时间 # Reviewed, transaction id: 41359
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

feat(settings.py): support tls for third-party storage connections
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

fix: sync filter (#2099)
  src/pages/src/components/SyncRecords.vue
Due: Name check, IP check

feat: add password expired time (#2107)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

feat(settings.py): support tls for third-party storage connections
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据当前语言状态跳转文档 # Reviewed, transaction id: 41615
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

fix: 根据当前语言状态跳转文档 (#2108)
  src/pages/src/views/MainHeader.vue
Due: Name check, IP check

fix: 切换pageSize滚动条不重置 # Reviewed, transaction id: 41730
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: page size change scroll uninit (#2109)
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: added tenant_user_id field for display_name expression
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/tests/apis/open_web/conftest.py
  src/bk-user/tests/apis/open_web/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support tls
  src/api/bkuser_core/config/common/storage.py
  src/bkuser_global/config.py
Due: Name check, IP check

fix: tiny
  src/api/bkuser_core/config/common/storage.py
Due: Name check, IP check

feat(settings.py): support tls connection for third-party storage
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
