Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

resolve: delete pymysql.version
  src/bk-login/bklogin/settings.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

resolve: fix CI error
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements_dev.txt
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements_dev.txt
Due: Name check, requirements-export, requirements-dev-export

fix: replace mysqlclient with pymysql (#1949)
  src/bk-login/bklogin/monitoring/tracing/instrumentor.py
  src/bk-login/bklogin/settings.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/monitoring/tracing/instrumentor.py
  src/bk-user/bkuser/settings.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

fix: 修复jsonSchema下拉框校验时有两个border的问题 # Reviewed, transaction id: 20063
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
Due: Name check, IP check

feat: 将所有数据源的同步中样式统一成一种
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

minor: resolve #1946 conversations
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/defaults.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/models.py
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/poetry.lock
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

minor: resolve #1946 conversations
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check

fix: 移除getCustomPlugin上多余的域名 # Reviewed, transaction id: 20092
  src/pages/src/http/dataSourceFiles.ts
Due: Name check, IP check

feat: 完成Ldap前端UI # Reviewed, transaction id: 20098
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

docs: update django.po files
  .gitignore
  src/bk-user/Makefile
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 将 Leader字段名的选项从user.leader改为user.properties.manager
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: 将表单placeholder与设计稿同步 # Reviewed, transaction id: 20102
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

docs: update django.po files
  .gitignore
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/poetry.lock
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, requirements-export, requirements-dev-export

fix: 修复编辑LDAP步骤二没有同步用户组、Leader信息的问题 # Reviewed, transaction id: 20103
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

docs: update comment for ldap plugin
  src/bk-user/bkuser/plugins/ldap/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: ldap data source plugin (#1946)
  .gitignore
  src/bk-user/Makefile
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/defaults.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/models.py
  src/bk-user/bkuser/plugins/ldap/__init__.py
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/exceptions.py
  src/bk-user/bkuser/plugins/ldap/logo.png
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/bkuser/plugins/ldap/utils.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_cn/LC_MESSAGES/django.po
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/__init__.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

fix: 移除getCustomPlugin上多余的域名 (#1956)
  src/pages/src/http/dataSourceFiles.ts
Due: Name check, IP check

style: palceholder Idap改为ldap # Reviewed, transaction id: 20220
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: ldap data source web page (#1958)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

style: update ldap data source plugin logs
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

style: update ldap data source plugin logs (#1959)
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: leader字段名做唯一性检查，样式优化 # Reviewed, transaction id: 20294
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: LDAP leader字段名选项修改，增加唯一性检查 (#1960)
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/LdapConfig.vue
Due: Name check, IP check

feat: customJsonchema新增页面loading # Reviewed, transaction id: 20446
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
Due: Name check, IP check

fix: customPlugin (#1961)
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
Due: Name check, IP check

feat: added operation audit for data source
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/audit/__init__.py
  src/bk-user/bkuser/apps/audit/apps.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/data_models.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
  src/bk-user/bkuser/apps/audit/migrations/__init__.py
  src/bk-user/bkuser/apps/audit/service.py
  src/bk-user/bkuser/apps/sync/managers.py
  src/bk-user/bkuser/settings.py
  src/bk-user/bkuser/utils/ip.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: ip function
  src/bk-user/bkuser/utils/ip.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added unit test cases
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify field name
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/apps/audit/migrations/0001_initial.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify test case
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify field
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: modify field
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/audit/models.py
  src/bk-user/bkuser/apps/audit/service.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: tenant department support reuse id when code, tenant, data_source all same
  src/bk-user/bkuser/apis/web/organization/views/departments.py
  src/bk-user/bkuser/apps/sync/syncers/tenant_department.py
  src/bk-user/bkuser/apps/tenant/management/__init__.py
  src/bk-user/bkuser/apps/tenant/management/commands/__init__.py
  src/bk-user/bkuser/apps/tenant/management/commands/sync_tenant_dept_id_record.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantdepartmentidrecord.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/utils.py
  src/bk-user/tests/apps/tenant/test_utils.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

test: update unittest
  src/bk-user/bkuser/apps/tenant/management/commands/sync_tenant_dept_id_record.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_tenantuseridrecord.py
  src/bk-user/bkuser/apps/tenant/migrations/0005_tenantdepartmentidrecord.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/tests/apis/web/organization/test_department.py
  src/bk-user/tests/apis/web/organization/test_user.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_department.py
  src/bk-user/tests/apps/sync/syncers/test_tenant_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
