Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

fix: 修复重置密码时未使用最新密码设置规则校验的问题 (#1933)
  src/pages/src/views/organization/details/UserMaterial.vue
Due: Name check, IP check

resolve: fix code style
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/apps/sync/workbook_temp_store.py
  src/bk-user/tests/apps/sync/test_tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

chore: update static files
  src/pages/src/images/right.svg
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: 本地数据源导入新增轮询获取同步 # Reviewed, transaction id: 19136
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

feat: 将进度条移除
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

style: 按照设计规范，优化导航样式
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

feat: impl ldap data source plugin
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/exceptions.py
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/bkuser/plugins/ldap/utils.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

test: add ldap data source plugin unittest
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/__init__.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: ldap data source plugin
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/plugins/ldap/__init__.py
  src/bk-user/bkuser/plugins/ldap/client.py
  src/bk-user/bkuser/plugins/ldap/constants.py
  src/bk-user/bkuser/plugins/ldap/defaults.py
  src/bk-user/bkuser/plugins/ldap/exceptions.py
  src/bk-user/bkuser/plugins/ldap/logo.png
  src/bk-user/bkuser/plugins/ldap/models.py
  src/bk-user/bkuser/plugins/ldap/plugin.py
  src/bk-user/bkuser/plugins/ldap/utils.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/tests/conftest.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/ldap/__init__.py
  src/bk-user/tests/plugins/ldap/conftest.py
  src/bk-user/tests/plugins/ldap/test_plugin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export

feat: added async operation to import data sources (#1915)
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/sync/managers.py
  src/bk-user/bkuser/apps/sync/tasks.py
  src/bk-user/bkuser/apps/sync/workbook_temp_store.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
  src/bk-user/tests/apps/sync/conftest.py
  src/bk-user/tests/apps/sync/test_tasks.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

Style/根据标准优化导航栏及layout样式 (#1944)
  src/pages/src/views/MainHeader.vue
  src/pages/src/views/setting/index.vue
Due: Name check, IP check

fix: update ldap plugin SERVER_URL_REGEX
  src/bk-user/bkuser/plugins/ldap/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:修复非本地数据源调用optional-leader接口的问题 # Reviewed, transaction id: 19369
  src/pages/src/http/organizationFiles.ts
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

fix:修复非本地数据源调用optional-leader接口的问题 (#1947)
  src/pages/src/http/organizationFiles.ts
  src/pages/src/views/organization/components/batch-operation.vue
Due: Name check, IP check

feat:本地数据源修改同步样式，并保证其他数据源同步样式为原样式
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 修复首次设置数据源时，导入本地数据源时数据不同步响应问题
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 修复handleOperationsSync数据同步成功不停止轮询的问题 # Reviewed, transaction id: 19450
  src/pages/src/hooks/useDataSource.ts
Due: Name check, IP check

feat: replace pymysql to mysqlclient
  src/bk-login/bklogin/monitoring/tracing/instrumentor.py
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-user/bkuser/monitoring/tracing/instrumentor.py
  src/bk-user/bkuser/settings.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
Due: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

fix: 数据源配置兼容各类型的jsonSchema表单展示 # Reviewed, transaction id: 19557
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

fix: 数据源配置兼容各类型的jsonSchema表单展示 (#1950)
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

Feat/本地数据源导入支持异步操作 (#1948)
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/images/right.svg
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/static/bk_icon_font/demo.html
  src/pages/static/bk_icon_font/fonts/iconcool.eot
  src/pages/static/bk_icon_font/fonts/iconcool.svg
  src/pages/static/bk_icon_font/fonts/iconcool.ttf
  src/pages/static/bk_icon_font/fonts/iconcool.woff
  src/pages/static/bk_icon_font/iconcool.js
  src/pages/static/bk_icon_font/iconcool.json
  src/pages/static/bk_icon_font/style.css
Due: Name check, IP check

feat: added code in settings.py
  src/bk-login/bklogin/settings.py
Due: Name check, IP check, mypy, format, ruff

fix: 修复数据源配置下，本地数据源首次导入时，关闭dialog导致控制台报错问题 # Reviewed, transaction id: 19582
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 修复数据源配置下，本地数据源首次导入时，关闭dialog导致控制台报错问题 (#1951)
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 修复数据源配置下，本地数据源首次导入时，关闭dialog导致控制台报错问题
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

feat: 创建租户用户名统一显示admin # Reviewed, transaction id: 19622
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

feat: 创建租户用户名统一显示admin (#1953)
  src/pages/src/views/tenant/index.vue
Due: Name check, IP check

fix: datasource close dialog (#1952)
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

resolve: delete noqa
  src/bk-login/bklogin/monitoring/tracing/instrumentor.py
  src/bk-user/bkuser/monitoring/tracing/instrumentor.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: jsonSchema页新增同步数据源、下一步、取消按钮 # Reviewed, transaction id: 19794
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/store/index.ts
  src/pages/src/store/syncStatus.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

fix: 修复新建jsonSchema无法渲染的问题 # Reviewed, transaction id: 19797
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
Due: Name check, IP check

feat: JsonSchema新增连通性测试、下一步、取消等按钮 (#1954)
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/store/index.ts
  src/pages/src/store/syncStatus.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
  src/pages/src/views/setting/data-source/CustomJsonSchema.vue
  src/pages/src/views/setting/data-source/NewDataSource.vue
Due: Name check, IP check

feat: 导入失败/成功都关闭dialog # Reviewed, transaction id: 19809
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/utils/index.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

fix: 修复同步失败时仍轮询的问题 # Reviewed, transaction id: 19810
  src/pages/src/hooks/useDataSource.ts
Due: Name check, IP check

fix: 修复其他数据源同步失败仍轮询的问题 # Reviewed, transaction id: 19811
  src/pages/src/hooks/useDataSource.ts
Due: Name check, IP check

feat: 导入成功或失败都关闭dialog (#1955)
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/utils/index.ts
  src/pages/src/views/setting/data-source/ConfigList.vue
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
