Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: 单租户模式下也需要展示 "租户节点“ (#2319)
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/collaboration-item.vue
Due: Name check, IP check

feat: 虚拟账号责任人不展示内置管理员
  src/pages/src/components/UserSelector.vue
  src/pages/src/views/virtual-account/EditDetails.vue
Due: Name check, IP check

feat: 租户节点，支持“添加子组织” # Reviewed, transaction id: 70342
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/operate-more.vue
Due: Name check, IP check

feat: 租户节点，支持“添加子组织” (#2320)
  src/pages/src/components/UserSelector.vue
  src/pages/src/hooks/useOrganizationAside.ts
  src/pages/src/views/organization/components/aside-tenant.vue
  src/pages/src/views/organization/components/operate-more.vue
  src/pages/src/views/virtual-account/EditDetails.vue
Due: Name check, IP check

fix(open web api): browser request check incomplete
  src/bk-user/bkuser/apis/open_web/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(open web api): browser request check incomplete (#2321)
  src/bk-user/bkuser/apis/open_web/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: handle legacy notification template data with sender="蓝鲸智云"
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/data_models.py
  src/bk-user/bkuser/plugins/local/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 不应该暴露原始的堆栈信息
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: batch_lookup_user API 返回字段增加时区和语言
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 增加版本日志
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/version_log/changelog.md
Due: Name check, IP check

feat: 补全更新日志
  src/bk-user/version_log/changelog.md
  src/bk-user/version_log/changelog_en.md
Due: Name check, IP check

fix: fix typo
  src/bk-user/version_log/changelog.md
Due: Name check, IP check

feat: batch_lookup_user OpenAPI 增加 时区和语言字段 (#2323)
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/version_log/changelog.md
  src/bk-user/version_log/changelog_en.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据 review 意见修改
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/data_models.py
  src/bk-user/bkuser/plugins/local/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 可以将 SenderEmailField 放在 NotificationTemplatesInputSLZ 里面
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 根据 review 意见修改
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: sender 默认有值可能更好一点
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix logic
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: handle legacy notification template data with sender="蓝鲸智云" (#2322)
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/data_models.py
  src/bk-user/bkuser/plugins/local/models.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

1. 通用日志增加审计详细, 2. excel导入精细化控制 3. 错误信息返回不包括错误栈 4. 优化组织信息的显示体验 5. 修复组织重命名校验不生效的问题 6. 修复用户登录时，登录失败多次, 用户锁定不生效的问题
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/api/web/audit/serializers.py
  src/api/bkuser_core/api/web/category/views.py
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/api/web/export.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/audit/field_handler.py
  src/api/bkuser_core/audit/field_handlers_config.yaml
  src/api/bkuser_core/audit/utils.py
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/models.py
  src/api/bkuser_core/profiles/utils.py
  src/api/media/excel/export_org_tmpl.xlsx
  src/pages/src/components/organization/SetDepartment.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/table/PullUser.vue
Due: Name check, IP check

1. 通用日志增加审计详细, 2. excel导入精细化控制, 3. 错误信息返回不包括错误栈 4. 优化组织信息显示体验, 5. 修复前端组织重命名没有触发重名校验的bug, 6. 修复多次登录失败后, 账户未锁定的bug
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/api/web/audit/serializers.py
  src/api/bkuser_core/api/web/category/views.py
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/api/web/export.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/audit/field_handler.py
  src/api/bkuser_core/audit/field_handlers_config.yaml
  src/api/bkuser_core/audit/utils.py
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/models.py
  src/api/bkuser_core/profiles/utils.py
  src/api/media/excel/export_org_tmpl.xlsx
  src/pages/src/components/organization/SetDepartment.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/table/PullUser.vue
Due: Name check, IP check

fix: fix data-source & collaboration sync-records API
  src/bk-user/bkuser/apis/web/collaboration/serializers.py
  src/bk-user/bkuser/apis/web/collaboration/views.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/api.py
Due: Name check, IP check, mypy, format, ruff

优化操作体验, 修复已知BUG (#2325)
  src/api/bkuser_core/api/login/views.py
  src/api/bkuser_core/api/web/audit/serializers.py
  src/api/bkuser_core/api/web/category/views.py
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/api/web/export.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/audit/field_handler.py
  src/api/bkuser_core/audit/field_handlers_config.yaml
  src/api/bkuser_core/audit/utils.py
  src/api/bkuser_core/categories/plugins/local/parsers.py
  src/api/bkuser_core/categories/plugins/local/syncer.py
  src/api/bkuser_core/departments/models.py
  src/api/bkuser_core/profiles/models.py
  src/api/bkuser_core/profiles/utils.py
  src/api/media/excel/export_org_tmpl.xlsx
  src/pages/src/components/organization/SetDepartment.vue
  src/pages/src/language/lang/en.js
  src/pages/src/language/lang/zh.js
  src/pages/src/views/audit/index.vue
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/organization/table/PullUser.vue
Due: Name check, IP check

fix: data-source & collaboration sync-records API (#2326)
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-user/bkuser/apis/web/collaboration/serializers.py
  src/bk-user/bkuser/apis/web/collaboration/views.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: blueking/date-picker 升级到 3.0.4
  src/pages/package.json
Due: Name check, IP check

feat: blueking/date-picker 升级到 3.0.4 (#2327)
  src/pages/package.json
Due: Name check, IP check

feat: 修复租户节点移动组织报错问题
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

fix: 修复数据更新记录筛选
  src/pages/src/components/SyncRecords.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
Due: Name check, IP check

feat: 语言和时区设置必填校验
  src/pages/src/components/edit-block.vue
  src/pages/src/components/field-item.vue
  src/pages/src/views/personal-center/index.vue
Due: Name check, IP check

feat: 若无手机号，则不展示手机区号
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

feat: 跨租户协同-数据更新记录改为后端筛选
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
Due: Name check, IP check

feat: 账密登录设置-修改允许密码连续逻辑 # Reviewed, transaction id: 71538
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/setting/auth-config/LocalAccount.vue
Due: Name check, IP check

fix: 批量操作后清除勾选项 # Reviewed, transaction id: 71544
  src/pages/src/views/organization/components/table-list.vue
Due: Name check, IP check

feat: 账号过期时间/续期传参不需要带时区 # Reviewed, transaction id: 71681
  src/pages/src/components/LocalDatePicker.vue
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/batch-renewal.vue
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/details/ViewUser.vue
Due: Name check, IP check

fix: fix many bugs (#2328)
  src/pages/src/components/LocalDatePicker.vue
  src/pages/src/components/SyncRecords.vue
  src/pages/src/components/edit-block.vue
  src/pages/src/components/field-item.vue
  src/pages/src/hooks/useDataSource.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/organizationFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/http/types/organizationFiles.ts
  src/pages/src/language/en.json
  src/pages/src/language/zh.json
  src/pages/src/views/organization/components/batch-operation.vue
  src/pages/src/views/organization/components/batch-renewal.vue
  src/pages/src/views/organization/components/edit-detail.vue
  src/pages/src/views/organization/components/table-list.vue
  src/pages/src/views/organization/details/ViewUser.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/setting/auth-config/LocalAccount.vue
  src/pages/src/views/setting/cross-tenant-collaboration/other-share/index.vue
Due: Name check, IP check

feat: bkui-vue组件升级为2.0.2-beta.88
  src/pages/package.json
  src/pages/src/views/setting/auth-config/CustomLogin.vue
Due: Name check, IP check
