Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, black, ruff, mypy

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

black:
  name: black
  language: python
  entry: black --config=src/bk-user/pyproject.toml

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/bk-user/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/bk-user/pyproject.toml

refactor: remove custom signals in data source app
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/handlers.py
  src/bk-user/bkuser/apps/data_source/signals.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, black, ruff, mypy

refactor: remove custom signals in data source app (#1298)
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/handlers.py
  src/bk-user/bkuser/apps/data_source/signals.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, black, ruff, mypy

fix: 去掉无用信息
  src/bk-login/pages/.bk.development.env
Due: Name check, IP check

fix: 去掉无用信息
  src/bk-login/pages/mock-server/index.js
  src/bk-login/pages/paas-server/index.js
  src/bk-login/pages/paas-server/middleware/user.js
Due: Name check, IP check

fix: 去掉无用信息 (#1300)
  src/bk-login/pages/.bk.development.env
  src/bk-login/pages/mock-server/index.js
  src/bk-login/pages/paas-server/index.js
  src/bk-login/pages/paas-server/middleware/user.js
Due: Name check, IP check

fix: 去掉无用信息
  src/bk-login/pages/paas-server/index.js
Due: Name check, IP check

fix: TenantUserRetrieveOutputSLZ -> PersonalCenterTenantUserRetrieveOutputSLZ (#1296)
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, black, ruff, mypy

fix: 去掉无用信息 (#1301)
  src/bk-login/pages/paas-server/index.js
Due: Name check, IP check

minor: resolve #1292 conversations
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apps/sync/periodic_tasks.py
  src/bk-user/bkuser/plugins/README.md
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/utils/base64.py
Due: Name check, IP check, black, ruff, mypy

fix: data source accepting problems
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/biz/data_source_plugin.py
  src/bk-user/bkuser/biz/exporters.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, black, ruff, mypy

ci: github action for idp plugin
  .github/workflows/bk-user.yml
Due: Name check

fix: 体验问题修复
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

fix: ignore idp plugin symlinks file
  src/bk-login/bklogin/idp_plugins
  src/bk-user/bkuser/idp_plugins
Due: Name check, IP check

ci: git ignore idp plugin links
  .gitignore
Due: Name check, IP check

ci: github action for idp plugins
  .github/workflows/bk-user.yml
Due: Name check

fix: load idp plugin in diff project
  src/idp-plugins/idp_plugins/__init__.py
  src/idp-plugins/idp_plugins/local/db_models.py
Due: Name check, IP check

feat: add random password api
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
Due: Name check, IP check, black, ruff, mypy

fix: 体验问题修复
  src/pages/src/components/phoneInput.vue
  src/pages/src/css/intlTelInput.less
  src/pages/src/hooks/use-validate.ts
  src/pages/src/images/new.svg
  src/pages/src/utils/countryCode.ts
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/new-data/NewLocalData.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/FieldsAdd.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
Due: Name check, IP check

minor: resolve #1307 conversations
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
Due: Name check, IP check, black, ruff, mypy

test: fix data source api unittest
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, black, ruff, mypy

fix: data source import & curd accepting problems (#1307)
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/urls.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/constants.py
  src/bk-user/bkuser/biz/data_source_plugin.py
  src/bk-user/bkuser/biz/exporters.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, black, ruff, mypy

fix: validate username and leader when parse workbook
  src/bk-user/bkuser/plugins/local/exceptions.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/tests/plugins/local/test_parser.py
Due: Name check, IP check, black, ruff, mypy

minor: update docs and logs
  src/bk-user/bkuser/apps/sync/syncers.py
  src/bk-user/bkuser/plugins/README.md
  src/bk-user/bkuser/plugins/general/http.py
Due: Name check, IP check, black, ruff, mypy

fix: validate tenant_user_fields
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, black, ruff, mypy

minor: resolve #1292 conversations
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apps/data_source/management/commands/register_data_source_plugin.py
  src/bk-user/bkuser/apps/sync/constants.py
  src/bk-user/bkuser/apps/sync/converters.py
  src/bk-user/bkuser/apps/sync/data_models.py
  src/bk-user/bkuser/apps/sync/handlers.py
  src/bk-user/bkuser/biz/data_source_plugin.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/plugins/README.md
  src/bk-user/bkuser/plugins/constants.py
  src/bk-user/bkuser/plugins/general/constants.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/general/models.py
  src/bk-user/bkuser/plugins/general/plugin.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/plugins/models.py
  src/bk-user/tests/apis/web/data_source/test_data_source.py
Due: Name check, IP check, black, ruff, mypy

Update serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, black, ruff, mypy

fix: validate tenant_user_fields (#1312)
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
Due: Name check, IP check, black, ruff, mypy

feat: http数据源静态页面 & 接口联调
  src/pages/src/components/field-mapping/FieldMapping.vue
  src/pages/src/components/layouts/MainBreadcrumbsDetails.vue
  src/pages/src/css/index.css
  src/pages/src/hooks/use-validate.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/router/index.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/local-details/ConfigInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/index.vue
  src/pages/src/views/data-source/new-data/Http.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/data-source/new-data/NewLocalData.vue
  src/pages/src/views/data-source/new-data/index.less
  src/pages/src/views/data-source/new-data/index.vue
Due: Name check, IP check

fix(bklogin): fix csrftoken verify
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/settings.py
  src/idp-plugins/idp_plugins/local/implement.py
Due: Name check, IP check

fix: 体验问题修复 (#1303)
  src/bk-login/pages/package.json
  src/bk-login/pages/src/app.vue
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: http数据源静态页面 & 接口联调 (#1314)
  src/pages/src/components/field-mapping/FieldMapping.vue
  src/pages/src/components/layouts/MainBreadcrumbsDetails.vue
  src/pages/src/css/index.css
  src/pages/src/hooks/use-validate.ts
  src/pages/src/http/dataSourceFiles.ts
  src/pages/src/http/types/dataSourceFiles.ts
  src/pages/src/router/index.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/local-details/ConfigInfo.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/local-details/index.vue
  src/pages/src/views/data-source/new-data/Http.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/data-source/new-data/NewLocalData.vue
  src/pages/src/views/data-source/new-data/index.less
  src/pages/src/views/data-source/new-data/index.vue
Due: Name check, IP check

fix: 体验问题修复
  src/pages/src/components/phoneInput.vue
  src/pages/src/css/intlTelInput.less
  src/pages/src/hooks/use-validate.ts
  src/pages/src/images/new.svg
  src/pages/src/utils/countryCode.ts
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/FieldsAdd.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
Due: Name check, IP check

fix: 体验问题修复 (#1315)
  src/pages/src/components/phoneInput.vue
  src/pages/src/css/intlTelInput.less
  src/pages/src/hooks/use-validate.ts
  src/pages/src/images/new.svg
  src/pages/src/utils/countryCode.ts
  src/pages/src/views/data-source/LocalDataSource.vue
  src/pages/src/views/data-source/local-details/EditUser.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/organization/index.vue
  src/pages/src/views/setting/FieldsAdd.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
Due: Name check, IP check

fix(docker): fix dockerfile about copy idp_plugin dir
  src/bk-login/Dockerfile
  src/bk-user/Dockerfile
Due: Name check, IP check

refactor(bklogin): modify url
  src/bk-login/bklogin/authentication/api_views.py
  src/bk-login/bklogin/authentication/constants.py
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/common/request.py
  src/idp-plugins/idp_plugins/local/implement.py
  src/idp-plugins/idp_plugins/tools.py
Due: Name check, IP check

feat(bklogin): add wecom idp plugin
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/settings.py
  src/idp-plugins/idp_plugins/http.py
  src/idp-plugins/idp_plugins/local/db_models.py
  src/idp-plugins/idp_plugins/tools.py
  src/idp-plugins/idp_plugins/wecom/__init__.py
  src/idp-plugins/idp_plugins/wecom/client.py
  src/idp-plugins/idp_plugins/wecom/implement.py
  src/idp-plugins/idp_plugins/wecom/settings.py
Due: Name check, IP check

Path conditions:
  Name check: any file but: ^(.*/\.env|.*/poetry\.lock|.*/pyproject\.toml|src/bk-user/logs|src/pages/node_modules/)
  IP check: any file but: ^(.*/\.env|.*/poetry\.lock|.*/pyproject\.toml|\.github/workflows/bk-user.yml|src/bk-user/logs|src/pages/node_modules/)
  black: any of: src/bk-user/ and \.py$
  ruff: any of: src/bk-user/ and \.py$
  mypy: any of: src/bk-user/ and \.py$
