Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Name check:
  name: Check sensitive info of name
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"

IP check:
  name: Check sensitive info of ip
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-user/pyproject.toml --no-cache

ruff-check:
  name: ruff-checker
  language: python
  entry: ruff check --config=src/bk-user/pyproject.toml --fix --no-cache

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/idp-plugins/pyproject.toml

requirements-export:
  name: requirements-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export -f requirements.txt --output requirements.txt --without-hashes"
  pass_filenames: false

requirements-dev-export:
  name: requirements-dev-export
  language: system
  entry: bash -c "cd src/idp-plugins && poetry export --with dev -f requirements.txt --output requirements_dev.txt --without-hashes"
  pass_filenames: false

format:
  name: ruff-formatter
  language: python
  entry: ruff format --config=src/bk-plugins/pyproject.toml --no-cache

ruff:
  name: ruff
  language: python
  entry: ruff check --config=src/idp-plugins/pyproject.toml --fix --no-cache

fix: django template injection (#2190)
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/notification/notifier.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/utils/text.py
  src/bk-user/tests/utils/test_text.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(text.py): patch basic_str_format
  src/bk-user/bkuser/utils/text.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: replace safe_str_format with basic_str_format
  src/api/bkuser_core/common/safe_template.py
  src/api/bkuser_core/profiles/notifier.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

fix(text.py): patch basic_str_format (#2197)
  src/bk-user/bkuser/utils/text.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

build: remove requirements.txt & requirements_dev.txt
  .pre-commit-config.yaml
  src/bk-login/Dockerfile
  src/bk-login/Makefile
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-login/uv.lock
  src/bk-user/Dockerfile
  src/bk-user/Makefile
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/uv.lock
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
Due: Name check, IP check

fix: fix typo
  src/bk-login/Dockerfile
Due: Name check, IP check

fix: disable keep-alive for gevent
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/saas/bin/start.sh
Due: Name check, IP check

refactor: replace str.format with safe_str_format (#2193)
  src/api/bkuser_core/common/safe_template.py
  src/api/bkuser_core/profiles/notifier.py
  src/api/bkuser_core/tests/common/test_safe_template.py
Due: Name check, IP check

fix: disable keep-alive for gevent (#2198)
  src/api/bin/start.sh
  src/login/bin/start.sh
  src/saas/bin/start.sh
Due: Name check, IP check

feat: add batch lookup user openapi
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: replace display_name_mapping with display_name_map
  src/bk-user/bkuser/apis/apigw/serializers.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

test: fix test
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix some error
  docs/develop_guide.md
  src/bk-login/Dockerfile
  src/bk-login/pyproject.toml
  src/bk-login/uv.lock
  src/bk-user/Dockerfile
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/uv.lock
Due: Name check, IP check

build: fix the setuptools version to 80.8.0
  src/bk-login/pyproject.toml
  src/bk-login/uv.lock
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check

build: remove build part in idp-plugins
  src/idp-plugins/pyproject.toml
Due: none

ci: uv sync before commit
  src/idp-plugins/uv.lock
Due: Name check, IP check

build: migrate to uv (#2187)
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
  .pre-commit-config.yaml
  docs/develop_guide.md
  src/bk-login/Dockerfile
  src/bk-login/Makefile
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-login/requirements.txt
  src/bk-login/requirements_dev.txt
  src/bk-login/uv.lock
  src/bk-user/Dockerfile
  src/bk-user/Makefile
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/bk-user/requirements.txt
  src/bk-user/requirements_dev.txt
  src/bk-user/uv.lock
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/requirements.txt
  src/idp-plugins/requirements_dev.txt
  src/idp-plugins/uv.lock
Due: Name check, IP check, requirements-export, requirements-dev-export

refactor: add min_item_len,max_item_len to StringArrayField
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/common/serializers.py
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: rename item_len to item_length
  src/bk-user/bkuser/common/serializers.py
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/common/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: batch look up user by login name (#2196)
  src/bk-user/bkuser/apis/apigw/serializers.py
  src/bk-user/bkuser/apis/apigw/views.py
  src/bk-user/bkuser/apis/open_v3/serializers/department.py
  src/bk-user/bkuser/apis/open_v3/serializers/user.py
  src/bk-user/bkuser/apis/open_v3/urls.py
  src/bk-user/bkuser/apis/open_v3/views/__init__.py
  src/bk-user/bkuser/apis/open_v3/views/department.py
  src/bk-user/bkuser/apis/open_v3/views/user.py
  src/bk-user/bkuser/apis/open_web/serializers/departments.py
  src/bk-user/bkuser/apis/open_web/serializers/users.py
  src/bk-user/bkuser/apis/open_web/views/departments.py
  src/bk-user/bkuser/apis/open_web/views/users.py
  src/bk-user/bkuser/apis/web/password/serializers.py
  src/bk-user/bkuser/apis/web/password/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/common/serializers.py
  src/bk-user/support-files/bk-user-apigateway/apidocs/en/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/apidocs/zh/batch_lookup_user.md
  src/bk-user/support-files/bk-user-apigateway/definition.yaml
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
  src/bk-user/tests/apis/open_v3/test_user.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix(resources.yaml): fix typo
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
Due: Name check, IP check

fix(resources.yaml): fix typo (#2200)
  src/bk-user/support-files/bk-user-apigateway/resources.yaml
Due: Name check, IP check

feat: add weixin related api (#2179)
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: 将一些静态方法抽离处理，保持单一职责原则
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 删除发送微信消息接口，用户管理不需要此接口
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/pyproject.toml
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/tenant/migrations/0012_alter_tenantuser_time_zone_and_more.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apis/web/platform_management/serializers.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/plugins/general/plugin.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/pyproject.toml
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: change get_mp_bind_info to get_weixin_bind_info
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/biz/weixin.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

UseKeychain yes chore: rebase the PR commits
  src/bk-user/bkuser/biz/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: rebase the PR commits
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

refactor: rebase the PR commit
  src/bk-user/bkuser/biz/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

build: migrate to uv
  src/bk-user/bkuser/apps/tenant/migrations/0012_alter_tenantuser_time_zone_and_more.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

ci: migrate to uv for github actions
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/__init__.py
  src/bk-user/bkuser/biz/weixin/constants.py
  src/bk-user/bkuser/biz/weixin/utils.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: add weixin related api
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix uv.lock by uv sync
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
Due: Name check, IP check

chore(pyproject.toml): update dependencies
  src/bk-login/pyproject.toml
  src/bk-login/uv.lock
  src/bk-user/pyproject.toml
  src/bk-user/uv.lock
  src/idp-plugins/pyproject.toml
  src/idp-plugins/uv.lock
Due: Name check, IP check

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)
