Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, black, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info of name
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
        exclude: ^(.*/\.env|.*/poetry\.lock|.*/pyproject\.toml|src/bk-user/logs|src/pages/node_modules/)
      - id: IP check
        name: Check sensitive info of ip
        verbose: true
        language: system
        exclude: ^(.*/\.env|.*/poetry\.lock|.*/pyproject\.toml|\.github/workflows/bk-user.yml|src/bk-user/logs|src/pages/node_modules/)
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/bk-user/pyproject.toml
        files: src/bk-user/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/bk-user/pyproject.toml --force-exclude --fix
        files: src/bk-user/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/bk-user/pyproject.toml
        files: src/bk-user/
      - id: import-linter
        name: import-linter
        require_serial: true
        language: system
        entry: bash -c "cd src/bk-user && lint-imports"

refactor: cr 调整
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/tenant/constants.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/apps/tenant/notifier.py
  src/bk-user/bkuser/apps/tenant/periodic_tasks.py
  src/bk-user/bkuser/apps/tenant/tasks.py
  src/bk-user/bkuser/biz/data_source_organization.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, black, ruff, mypy

test(idp): idp rule unit
  src/bk-user/tests/apps/idp/__init__.py
  src/bk-user/tests/apps/idp/test_data_models.py
Due: Name check, IP check, black, ruff, mypy

fix: 上级不能是自己 (#1333)
  src/bk-user/bkuser/apis/web/data_source_organization/serializers.py
  src/bk-user/bkuser/apis/web/data_source_organization/views.py
Due: Name check, IP check, black, ruff, mypy

Update validators.py
  src/bk-user/bkuser/common/validators.py
Due: Name check, IP check, black, ruff, mypy

feat: 认证源静态页面 (#1374)
  src/pages/src/router/index.ts
  src/pages/src/views/Header.vue
  src/pages/src/views/auth-source/index.vue
  src/pages/src/views/auth-source/new-data/NewConfig.vue
Due: Name check, IP check

fix: 手机区号标识检查 (#1347)
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/common/validators.py
Due: Name check, IP check, black, ruff, mypy

fix: 体验问题修复
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/ViewDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
Due: Name check, IP check

fix: cr
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/common/error_codes.py
  src/bk-login/bklogin/component/bk_user/models.py
  src/bk-login/pages/src/router/index.ts
  src/bk-login/pages/src/views/components/password.vue
  src/bk-user/bkuser/apis/login/authentications.py
  src/bk-user/bkuser/apis/login/mixins.py
  src/bk-user/bkuser/apis/login/urls.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/apps/idp/data_models.py
  src/bk-user/tests/apps/idp/test_data_models.py
  src/idp-plugins/idp_plugins/http.py
  src/idp-plugins/idp_plugins/local/client.py
Due: Name check, IP check, black, ruff, mypy

refactor: cr 调整
  src/bk-user/bkuser/apis/web/tenant_setting/views.py
  src/bk-user/bkuser/apps/tenant/notifier.py
Due: Name check, IP check, black, ruff, mypy

feat: updat ruff
  .github/workflows/bk-user.yml
  .pre-commit-config.yaml
  src/bk-login/poetry.lock
  src/bk-login/pyproject.toml
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apps/data_source/initializers.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/plugins/general/http.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/poetry.lock
  src/bk-user/pyproject.toml
  src/idp-plugins/idp_plugins/base.py
  src/idp-plugins/idp_plugins/constants.py
  src/idp-plugins/idp_plugins/http.py
  src/idp-plugins/idp_plugins/local/client.py
  src/idp-plugins/idp_plugins/local/plugin.py
  src/idp-plugins/idp_plugins/wecom/plugin.py
  src/idp-plugins/poetry.lock
  src/idp-plugins/pyproject.toml
Due: Name check, IP check, black, ruff, mypy

ci(mypy): error
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check

ci(mypy): error (#1382)
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check

fix(ci): debug mypy
  .github/workflows/bk-user.yml
Due: Name check

ci(github action): update branch of checking
  .github/workflows/bk-user.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
Due: Name check, IP check

ci: update path
  .github/workflows/bk-user.yml
Due: Name check

ci: add bk-login and idp-plugins github action
  .github/workflows/bk-login.yml
  .github/workflows/idp-plugins.yml
  .pre-commit-config.yaml
Due: Name check, IP check

fix: debug
  .github/workflows/bk-login.yml
  .github/workflows/bk-user.yml
  .github/workflows/idp-plugins.yml
Due: Name check, IP check

fix: debug
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check

fix: unit test
  .github/workflows/bk-login.yml
  src/bk-login/bklogin/settings.py
Due: Name check, IP check

refactor: 添加注释
  src/bk-user/bkuser/apps/tenant/tasks.py
Due: Name check, IP check, black, ruff, mypy

fix: debug
  src/bk-login/tests/__init__.py
Due: Name check, IP check

fix: debug
  src/bk-login/tests/utils/test_std_error.py
Due: Name check, IP check

feat: update bk-user poetry.lock
  src/bk-user/poetry.lock
Due: none

ci(github action): update branch of checking (#1384)
  .github/workflows/bk-login.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/idp-plugins.yml
  .pre-commit-config.yaml
  src/bk-login/bklogin/settings.py
  src/bk-login/tests/__init__.py
  src/bk-login/tests/utils/test_std_error.py
  src/bk-user/poetry.lock
  src/idp-plugins/idp_plugins/constants.py
Due: Name check, IP check

fix: 体验问题修复 (#1381)
  src/pages/src/views/data-source/LocalCompany.vue
  src/pages/src/views/data-source/OtherDataSource.vue
  src/pages/src/views/data-source/index.vue
  src/pages/src/views/data-source/local-details/UserInfo.vue
  src/pages/src/views/organization/details/DetailsInfo.vue
  src/pages/src/views/organization/details/EditDetailsInfo.vue
  src/pages/src/views/personal-center/index.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
  src/pages/src/views/tenant/group-details/ViewDetails.vue
  src/pages/src/views/tenant/group-details/index.vue
Due: Name check, IP check

feat: 公司改为租户
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

refactor: cr调整
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/notifier.py
  src/bk-user/bkuser/apps/tenant/tasks.py
Due: Name check, IP check, black, ruff, mypy

feat: 公司改为租户 (#1385)
  src/bk-login/pages/src/http/api.ts
  src/bk-login/pages/src/views/home.vue
Due: Name check, IP check

feat: 账号有效期接口联调
  src/pages/src/http/settingFiles.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
Due: Name check, IP check

refactor(migrations): rebuild
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20230831_1552.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_alter_localdatasourceidentityinfo_password.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_auto_20230926_1108.py
  src/bk-user/bkuser/apps/data_source/migrations/0006_departmentrelationmptttree.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_auto_20231024_0940.py
  src/bk-user/bkuser/apps/data_source/migrations/0009_alter_localdatasourceidentityinfo_password.py
  src/bk-user/bkuser/apps/data_source/migrations/0010_datasourcesensitiveinfo.py
  src/bk-user/bkuser/apps/idp/migrations/0001_initial.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/natural_user/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0002_auto_20230919_2017.py
  src/bk-user/bkuser/apps/sync/migrations/0003_auto_20231024_1903.py
  src/bk-user/bkuser/apps/sync/migrations/0004_auto_20231025_1208.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_init_builtin_user_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_tenantusercustomfield_userbuiltinfield.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_auto_20230914_1013.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_auto_20230914_2009.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/auth/migrations/0001_initial.py
Due: Name check, IP check, black, ruff, mypy

feat: 账号有效期接口联调 (#1386)
  src/pages/src/http/settingFiles.ts
  src/pages/src/utils/index.ts
  src/pages/src/views/data-source/new-data/Local.vue
  src/pages/src/views/setting/AccountSetting.vue
  src/pages/src/views/tenant/group-details/OperationDetails.vue
Due: Name check, IP check

refactor(migrations): rebuild (#1387)
  src/bk-user/bkuser/apps/data_source/migrations/0001_initial.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0003_auto_20230831_1552.py
  src/bk-user/bkuser/apps/data_source/migrations/0004_alter_localdatasourceidentityinfo_password.py
  src/bk-user/bkuser/apps/data_source/migrations/0005_auto_20230926_1108.py
  src/bk-user/bkuser/apps/data_source/migrations/0006_departmentrelationmptttree.py
  src/bk-user/bkuser/apps/data_source/migrations/0007_inbuild_data_source_plugin.py
  src/bk-user/bkuser/apps/data_source/migrations/0008_auto_20231024_0940.py
  src/bk-user/bkuser/apps/data_source/migrations/0009_alter_localdatasourceidentityinfo_password.py
  src/bk-user/bkuser/apps/data_source/migrations/0010_datasourcesensitiveinfo.py
  src/bk-user/bkuser/apps/idp/migrations/0001_initial.py
  src/bk-user/bkuser/apps/idp/migrations/0002_init_builtin_idp_plugin.py
  src/bk-user/bkuser/apps/natural_user/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0001_initial.py
  src/bk-user/bkuser/apps/sync/migrations/0002_auto_20230919_2017.py
  src/bk-user/bkuser/apps/sync/migrations/0003_auto_20231024_1903.py
  src/bk-user/bkuser/apps/sync/migrations/0004_auto_20231025_1208.py
  src/bk-user/bkuser/apps/tenant/migrations/0001_initial.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_init_builtin_user_fields.py
  src/bk-user/bkuser/apps/tenant/migrations/0002_tenantusercustomfield_userbuiltinfield.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_auto_20230914_1013.py
  src/bk-user/bkuser/apps/tenant/migrations/0004_auto_20230914_2009.py
  src/bk-user/bkuser/apps/tenant/models.py
  src/bk-user/bkuser/auth/migrations/0001_initial.py
Due: Name check, IP check, black, ruff, mypy

minor: merge ft_tenant into init_default_tenant
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apis/web/data_source/views.py
  src/bk-user/bkuser/apis/web/tenant/serializers.py
  src/bk-user/bkuser/apps/tenant/migrations/0003_init_default_tenant.py
  src/bk-user/bkuser/biz/data_source.py
  src/bk-user/bkuser/biz/data_source_plugin.py
  src/bk-user/bkuser/common/hashers/pbkdf2.py
  src/bk-user/bkuser/common/passwd/generator.py
  src/bk-user/bkuser/monitoring/healthz/probes.py
  src/bk-user/bkuser/plugins/README.md
  src/bk-user/bkuser/plugins/base.py
  src/bk-user/bkuser/plugins/general/defaults.py
  src/bk-user/bkuser/plugins/local/__init__.py
  src/bk-user/bkuser/plugins/local/defaults.py
  src/bk-user/bkuser/settings.py
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, black, ruff, mypy

minor: merge ft_tenant into init_default_tenant
  src/bk-user/tests/test_utils/tenant.py
Due: Name check, IP check, black, ruff, mypy

refactor: cr调整
  src/bk-user/bkuser/apis/web/tenant_setting/serializers.py
  src/bk-user/bkuser/apps/tenant/notifier.py
Due: Name check, IP check, black, ruff, mypy

refactor: cr调整
  src/bk-user/bkuser/apps/tenant/notifier.py
Due: Name check, IP check, black, ruff, mypy

feature: add migrations
  src/bk-user/bkuser/apps/tenant/migrations/0003_auto_20231113_2017.py
Due: Name check, IP check, black, ruff, mypy
