Repository TencentBlueKing/bk-user: changes, and which pre-commit hooks are due for each by the changed paths.
All: Name check, IP check, ruff-format, ruff-check, mypy, requirements-export, requirements-dev-export, format, ruff

Path conditions:
  Name check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  src/bk-user/logs|
  src/pages/node_modules/
)$

  IP check: any file but: (?x)^(
  .*/\.env|
  .*/poetry\.lock|
  .*/pyproject\.toml|
  .*/requirements_dev\.txt|
  \.github/workflows/bk-user.yml|
  \.github/workflows/bk-login.yml|
  \.github/workflows/idp-plugins.yml|
  src/bk-user/logs|src/pages/node_modules/|
  src/bk-login/pages/src/views/components/protocol.vue|
  src/pages/static/bk_icon_font/iconcool.json|
  src/pages/static/bk_icon_font/iconcool.js|
  src/pages/paas-server/index.js|
  src/bk-login/pages/paas-server/index.js
)$

  ruff-format: any of: src/bk-user/ and \.py$
  ruff-check: any of: src/bk-user/ and \.py$
  mypy: ((any of: src/bk-user/ and \.py$) or (any of: src/bk-login/ and \.py$)) or (any of: src/idp-plugins/ and \.py$)
  requirements-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  requirements-dev-export: ((any of: ^src/bk-user/poetry.lock$) or (any of: ^src/bk-login/poetry.lock$)) or (any of: ^src/idp-plugins/poetry.lock$)
  format: (any of: src/bk-login/ and \.py$) or (any of: src/bk-plugins/ and \.py$)
  ruff: (any of: src/bk-login/ and \.py$) or (any of: src/idp-plugins/ and \.py$)

feat: support bind wexin/wecom
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/weixin/__init__.py
  src/bk-user/bkuser/biz/weixin/constants.py
  src/bk-user/bkuser/biz/weixin/utils.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/__init__.py
  src/bk-user/bkuser/biz/weixin/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修改一下路径匹配
  src/bk-user/bkuser/apis/web/personal_center/urls.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修复单测问题
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 删除一些没有用的 error_code
  src/bk-user/bkuser/common/error_codes.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: remove some unused functions
  src/bk-user/bkuser/biz/weixin/utils.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/component/cmsi.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/biz/weixin/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/common/cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: fix typo
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/apis/web/personal_center/views.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added data source wecom plugin
  src/bk-user/bkuser/apis/plugin/__init__.py
  src/bk-user/bkuser/apis/plugin/authentications.py
  src/bk-user/bkuser/apis/plugin/mixins.py
  src/bk-user/bkuser/apis/plugin/urls.py
  src/bk-user/bkuser/apis/plugin/wecom/__init__.py
  src/bk-user/bkuser/apis/plugin/wecom/serializers.py
  src/bk-user/bkuser/apis/plugin/wecom/urls.py
  src/bk-user/bkuser/apis/plugin/wecom/views.py
  src/bk-user/bkuser/apis/web/data_source/serializers.py
  src/bk-user/bkuser/apps/data_source/models.py
  src/bk-user/bkuser/biz/wecom.py
  src/bk-user/bkuser/plugins/cache.py
  src/bk-user/bkuser/plugins/common.py
  src/bk-user/bkuser/plugins/http.py
  src/bk-user/bkuser/plugins/models.py
  src/bk-user/bkuser/plugins/wecom/client.py
  src/bk-user/bkuser/plugins/wecom/cmsi.py
  src/bk-user/bkuser/plugins/wecom/models.py
  src/bk-user/bkuser/plugins/wecom/plugin.py
  src/bk-user/bkuser/urls.py
  src/bk-user/tests/apis/plugin/__init__.py
  src/bk-user/tests/apis/plugin/conftest.py
  src/bk-user/tests/apis/plugin/test_wecom.py
  src/bk-user/tests/fixtures/data_source.py
  src/bk-user/tests/plugins/wecom/conftest.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added data source wecom plugin
  src/bk-user/bkuser/apps/data_source/migrations/0002_init_builtin_data_source_plugin.py
  src/bk-user/bkuser/plugins/http.py
  src/bk-user/bkuser/plugins/wecom/client.py
  src/bk-user/bkuser/plugins/wecom/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added data source wecom plugin
  src/bk-user/bkuser/plugins/http.py
  src/bk-user/bkuser/plugins/wecom/client.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/__init__.py
  src/bk-user/bkuser/biz/weixin/constants.py
  src/bk-user/bkuser/biz/weixin/utils.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: 修改单测
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: 国际化文件修复
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
Due: Name check, IP check

feat: add get_wx_token() method
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix: fix typo
  src/bk-user/bkuser/biz/weixin/weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/biz/weixin/constants.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/tests/biz/test_weixin.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: support bind weixin/wecom (#2189)
  src/bk-user/bkuser/apis/web/idp/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/serializers.py
  src/bk-user/bkuser/apis/web/personal_center/urls.py
  src/bk-user/bkuser/apis/web/personal_center/views.py
  src/bk-user/bkuser/apps/audit/constants.py
  src/bk-user/bkuser/biz/auditor.py
  src/bk-user/bkuser/biz/validators.py
  src/bk-user/bkuser/biz/weixin/__init__.py
  src/bk-user/bkuser/biz/weixin/constants.py
  src/bk-user/bkuser/biz/weixin/weixin.py
  src/bk-user/bkuser/common/cache.py
  src/bk-user/bkuser/common/error_codes.py
  src/bk-user/bkuser/component/cmsi.py
  src/bk-user/bkuser/plugins/general/plugin.py
  src/bk-user/bkuser/plugins/local/parser.py
  src/bk-user/locale/en/LC_MESSAGES/django.po
  src/bk-user/locale/zh_CN/LC_MESSAGES/django.po
  src/bk-user/pyproject.toml
  src/bk-user/tests/biz/test_weixin.py
  src/bk-user/uv.lock
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:修复手机号验证问题
  src/api/bkuser_core/api/web/profile/views.py
  src/pages/src/views/organization/details/InputPhone.vue
Due: Name check, IP check

fix: 操作历史优化搜索无数据场景 # Reviewed, transaction id: 56471
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix: opeartion history empty (#2236)
  src/pages/src/views/operations-history/index.vue
Due: Name check, IP check

fix:调用发送邮件函数失败
  src/api/bkuser_core/profiles/tasks.py
Due: Name check, IP check

feat: added compatible for multi tenant mode apigw header
  src/bk-user/bkuser/apis/apigw/mixins.py
  src/bk-user/bkuser/apis/open_v3/mixins.py
  src/bk-user/bkuser/apis/open_web/mixins.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added random builtin-management login url and password
  src/bk-login/bklogin/authentication/urls.py
  src/bk-login/bklogin/authentication/views.py
  src/bk-login/bklogin/component/bk_user/api.py
  src/bk-user/bkuser/apis/login/serializers.py
  src/bk-user/bkuser/apis/login/urls.py
  src/bk-user/bkuser/apis/login/views.py
  src/bk-user/bkuser/apps/tenant/management/commands/builtin_management_login_url.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/update_builtin_management_password.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/common/cache.py
Due: Name check, IP check, ruff-format, ruff-check, mypy, format, ruff

feat: added random builtin-management login url and password
  src/bk-user/bkuser/apps/tenant/management/commands/builtin_management_login_url.py
  src/bk-user/bkuser/biz/tenant.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added random builtin-management login url and password
  src/bk-user/bkuser/apps/tenant/management/commands/builtin_management_login_url.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added random builtin-management login url and password
  src/bk-login/bklogin/authentication/views.py
Due: Name check, IP check, mypy, format, ruff

feat: added random builtin-management login url and password
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/init_default_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/update_builtin_management_password.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/plugins/local/constants.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added random builtin-management login url and password
  src/bk-user/bkuser/apps/tenant/management/commands/builtin_management_login_url.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/init_default_tenant.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/plugins/local/constants.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

feat: added random builtin-management login url and password
  src/bk-user/bkuser/apps/tenant/management/commands/builtin_management_login_url.py
  src/bk-user/bkuser/apps/tenant/management/commands/create_tenant.py
  src/bk-user/bkuser/apps/tenant/management/commands/init_default_tenant.py
  src/bk-user/bkuser/biz/tenant.py
  src/bk-user/bkuser/settings.py
Due: Name check, IP check, ruff-format, ruff-check, mypy

fix:用户同步时事务污染导致同步失败和手机号验证问题 (#2237)
  docs/redis_sentinel_configuration.md
  src/api/bkuser_core/api/web/category/views.py
  src/api/bkuser_core/api/web/department/views.py
  src/api/bkuser_core/api/web/profile/views.py
  src/api/bkuser_core/api/web/utils.py
  src/api/bkuser_core/celery.py
  src/api/bkuser_core/common/db_sync.py
  src/api/bkuser_core/config/common/storage.py
  src/api/bkuser_core/profiles/tasks.py
  src/pages/src/views/organization/details/DetailsBar.vue
  src/pages/src/views/organization/details/InputPhone.vue
  src/pages/src/views/password/Set.vue
Due: Name check, IP check
